In [2]:
import pandas as pd
import numpy as np

In [3]:
readingmf2000 = pd.read_excel("../data/2000/reading2000.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
readingmf2000.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
readingmf2000.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2000', 'Unnamed: 4': 'female_se_2000', 'Unnamed: 5': 'male_avg_2000', 'Unnamed: 6': 'male_se_2000'}, axis=1, inplace=True)
readingmf2000 = readingmf2000.drop(index=[0])
readingmf2000

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000
1,International Average (OECD),510.020647,0.758399,477.912949,0.873204
2,Australia,546.251223,4.73506,512.645471,4.041582
3,Austria,509.168003,3.951059,475.77071,3.623126
4,Belgium,525.208512,4.922344,492.394742,4.240977
5,Canada,551.133144,1.703818,518.922764,1.763527
6,Chile,421.101175,4.619114,396.493977,4.288241
7,Colombia,—,†,—,†
8,Czech Republic,510.08193,2.529506,472.639838,4.110666
9,Denmark,510.246252,2.870111,485.409289,2.952023
10,Estonia,—,†,—,†
11,Finland,571.363658,2.780239,520.115622,2.997715
12,France,519.062924,2.723071,490.29942,3.495947
13,Germany,502.197894,3.874603,467.551932,3.169171
14,Greece,492.719488,4.625946,455.676309,6.070492
15,Hungary,496.167592,4.346697,464.543413,5.334824
16,Iceland,528.128967,2.143537,488.447722,2.11738
17,Ireland,541.518331,3.552727,512.838799,4.181855
18,Israel,459.393287,8.077251,443.83653,10.89404
19,Italy,507.369513,3.565951,469.204101,5.137582
20,Japan,536.912204,5.393137,507.251321,6.741613
21,Korea,532.715624,3.702431,518.502629,3.769542
22,Latvia,484.710511,5.396205,431.91829,5.529459
23,Lithuania,—,†,—,†
24,Luxembourg,455.714991,2.29526,428.832525,2.5844
25,Mexico,431.746581,3.836992,411.481086,4.177049
26,Netherlands,‡,†,‡,†
27,New Zealand,552.620956,3.797795,506.788123,4.180712
28,Norway,528.817851,2.861389,485.622281,3.793929
29,Poland,497.497816,5.524384,461.370782,5.986035
30,Portugal,482.370173,4.637496,457.695689,4.978566
31,Slovak Republic,—,†,—,†
32,Slovenia,—,†,—,†
33,Spain,505.351462,2.762524,481.215047,3.352348
34,Sweden,535.593573,2.480796,498.630113,2.563355
35,Switzerland,510.022852,4.498506,480.054047,4.850442
36,Turkey,—,†,—,†
37,United Kingdom,537.191261,3.447665,511.560641,3.031656
38,United States,518.24165,6.200181,489.675254,8.407761

In [4]:
readingmf2003 = pd.read_excel("../data/2003/reading2003.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
readingmf2003.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
readingmf2003.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2003', 'Unnamed: 4': 'female_se_2003', 'Unnamed: 5': 'male_avg_2003', 'Unnamed: 6': 'male_se_2003'}, axis=1, inplace=True)
readingmf2003 = readingmf2003.drop(index=[0])
readingmf2003

,Countries,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003
1,International Average (OECD),511.624695,0.627772,476.820156,0.700385
2,Australia,545.425124,2.553496,506.085696,2.835287
3,Austria,514.35335,4.213715,467.131762,4.54068
4,Belgium,526.225709,3.302789,489.326567,3.760765
5,Canada,545.525389,1.816646,513.997502,2.046961
6,Chile,—,†,—,†
7,Colombia,—,†,—,†
8,Czech Republic,504.395833,4.418794,473.103858,4.114412
9,Denmark,504.79637,2.979702,479.386544,3.311573
10,Estonia,—,†,—,†
11,Finland,565.411553,1.966428,521.390352,2.205148
12,France,514.294506,3.181871,476.099974,3.785396
13,Germany,512.927051,3.905326,470.80436,4.225939
14,Greece,490.370609,3.957384,452.882744,5.101902
15,Hungary,498.204726,3.049879,467.235024,3.162528
16,Iceland,521.566183,2.21533,463.805336,2.326309
17,Ireland,530.100873,3.713244,501.083968,3.257011
18,Israel,—,†,—,†
19,Italy,494.585095,3.403407,455.240549,5.058551
20,Japan,508.981895,4.072307,486.565738,5.478731
21,Korea,546.731165,4.267615,525.476873,3.688873
22,Latvia,509.142767,3.662327,470.396876,4.514887
23,Lithuania,—,†,—,†
24,Luxembourg,495.663506,1.843956,462.659195,2.601365
25,Mexico,410.065401,4.572126,388.589055,4.556286
26,Netherlands,523.778151,3.204552,502.871786,3.656459
27,New Zealand,535.352672,3.293607,507.725568,3.130015
28,Norway,524.542528,3.378588,475.344777,3.360015
29,Poland,516.32781,3.192545,476.777131,3.551676
30,Portugal,494.861583,3.719053,458.520323,4.276196
31,Slovak Republic,485.820259,3.323222,453.278613,3.818361
32,Slovenia,—,†,—,†
33,Spain,499.783289,2.480658,460.655173,3.780562
34,Sweden,532.659246,2.89261,495.913091,2.814439
35,Switzerland,517.485354,3.100694,481.989733,4.372215
36,Turkey,459.311604,6.11592,425.972987,6.796404
37,United Kingdom,520.373092,3.623631,491.823408,3.072442
38,United States,511.302852,3.54572,479.290287,3.660622

In [5]:
readingmf2006 = pd.read_excel("../data/2006/reading2006.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
readingmf2006.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
readingmf2006.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2006', 'Unnamed: 4': 'female_se_2006', 'Unnamed: 5': 'male_avg_2006', 'Unnamed: 6': 'male_se_2006'}, axis=1, inplace=True)
readingmf2006 = readingmf2006.drop(index=[0])
readingmf2006

,Countries,female_avg_2006,female_se_2006,male_avg_2006,male_se_2006
1,International Average (OECD),504.859846,0.612183,466.338406,0.69283
2,Australia,531.754388,2.182185,494.872864,3.047414
3,Austria,512.912207,5.515972,468.311688,4.874765
4,Belgium,521.728314,3.461428,481.997196,4.08202
5,Canada,543.043598,2.466378,511.142449,2.838748
6,Chile,451.251972,5.376662,434.290608,5.970027
7,Colombia,393.913355,5.58359,375.262054,5.600272
8,Czech Republic,508.607677,5.365955,462.841702,5.031317
9,Denmark,509.298658,3.455996,479.503383,3.627036
10,Estonia,524.186345,3.144647,478.409073,3.187142
11,Finland,571.987035,2.323169,521.392278,2.745516
12,France,504.628988,3.900983,469.772372,5.169892
13,Germany,516.620373,4.357248,474.599803,5.265215
14,Greece,488.148882,3.509616,431.565347,5.661907
15,Hungary,502.977577,3.946991,463.41114,3.666721
16,Iceland,508.865418,2.271083,460.410682,2.779195
17,Ireland,534.001287,3.7533,500.227316,4.529156
18,Israel,459.538284,4.584607,417.485335,6.516117
19,Italy,488.976681,2.774943,447.698794,3.425769
20,Japan,513.285638,5.242763,482.708136,5.372374
21,Korea,573.781294,4.500115,538.755145,4.620899
22,Latvia,503.803591,3.478708,453.828276,4.334759
23,Lithuania,496.246399,3.217517,444.822184,3.461447
24,Luxembourg,495.399477,2.050323,463.715021,2.014378
25,Mexico,426.666666,2.960163,393.061711,3.501058
26,Netherlands,519.045583,2.975903,494.894626,3.742948
27,New Zealand,539.117653,3.576137,501.74026,3.585134
28,Norway,508.041622,3.311539,462.097167,3.838024
29,Poland,527.56547,2.801087,487.441908,3.404233
30,Portugal,488.168149,3.542179,455.32812,4.3879
31,Slovak Republic,487.757838,3.845772,446.104921,4.196733
32,Slovenia,521.105267,1.356108,467.49814,1.910612
33,Spain,478.724933,2.284806,443.329301,2.583884
34,Sweden,528.058808,3.495702,487.590445,3.953621
35,Switzerland,515.17189,3.345934,484.353395,3.220432
36,Turkey,471.042415,4.268051,427.349858,5.08535
37,United Kingdom,509.53071,2.575379,480.369916,3.038362
38,United States,—,†,—,†

In [6]:
readingmf2009 = pd.read_excel("../data/2009/reading2009.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
readingmf2009.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
readingmf2009.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2009', 'Unnamed: 4': 'female_se_2009', 'Unnamed: 5': 'male_avg_2009', 'Unnamed: 6': 'male_se_2009'}, axis=1, inplace=True)
readingmf2009 = readingmf2009.drop(index=[0])
readingmf2009

,Countries,female_avg_2009,female_se_2009,male_avg_2009,male_se_2009
1,International Average (OECD),510.044748,0.505282,470.981148,0.587170
2,Australia,532.853721,2.642218,496.143991,2.878807
3,Austria,490.487348,3.951434,449.295830,3.761230
4,Belgium,519.806073,2.935431,492.673632,3.381577
5,Canada,541.527233,1.726383,507.182200,1.760291
6,Chile,460.620970,3.574908,438.552453,3.862802
7,Colombia,417.608491,3.974919,408.311520,4.452302
8,Czech Republic,503.979551,3.034051,455.514388,3.704461
9,Denmark,509.188081,2.485624,480.353046,2.494598
10,Estonia,523.837036,2.750825,479.649258,2.929920
11,Finland,563.481814,2.394477,508.386874,2.578968
12,France,515.181138,3.437764,475.042341,4.302637
13,Germany,517.589411,2.931551,477.883877,3.643741
14,Greece,505.925069,3.537127,458.786239,5.475704
15,Hungary,513.254288,3.609122,475.421200,3.936783
16,Iceland,522.245050,1.883716,478.074702,2.104037
17,Ireland,515.478484,3.145478,476.296455,4.229003
18,Israel,494.737000,3.440069,452.480780,5.234086
19,Italy,509.547561,1.898085,463.833019,2.314618
20,Japan,539.934740,3.732658,501.022971,5.563619
21,Korea,557.982545,3.841749,522.503359,4.871794
22,Latvia,507.342495,3.091953,459.952128,3.432241
23,Lithuania,498.223321,2.562144,439.483335,2.792068
24,Luxembourg,492.136454,1.529861,452.733177,1.863853
25,Mexico,437.578500,2.089222,412.653201,2.141701
26,Netherlands,520.508563,5.332064,496.168244,5.127377
27,New Zealand,544.175237,2.633720,498.524601,3.617113
28,Norway,527.397287,2.921776,480.123258,2.976829
29,Poland,525.323156,2.886814,475.659963,2.771682
30,Portugal,507.934144,2.906867,469.879152,3.522053
31,Slovak Republic,502.874423,2.755880,451.553695,3.523342
32,Slovenia,511.029897,1.405517,456.218709,1.564046
33,Spain,495.735519,2.208120,466.820403,2.210864
34,Sweden,520.559413,3.128060,475.051303,3.188730
35,Switzerland,520.239947,2.658602,481.440771,2.858661
36,Turkey,486.300445,4.141985,443.460801,3.720496
37,United Kingdom,506.512865,2.891158,481.383128,3.491475
38,United States,512.518388,3.769760,487.788489,4.241512

In [7]:
readingmf2012 = pd.read_excel("../data/2012/reading2012.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
readingmf2012.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
readingmf2012.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2012', 'Unnamed: 4': 'female_se_2012', 'Unnamed: 5': 'male_avg_2012', 'Unnamed: 6': 'male_se_2012'}, axis=1, inplace=True)
readingmf2012 = readingmf2012.drop(index=[0])
readingmf2012

,Countries,female_avg_2012,female_se_2012,male_avg_2012,male_se_2012
1,International Average (OECD),512.379080,0.515584,474.362727,0.606535
2,Australia,529.542280,1.967404,495.089560,2.293139
3,Austria,508.021472,3.361247,471.093138,4.001055
4,Belgium,524.602442,2.708325,492.755224,3.038303
5,Canada,540.653353,2.106181,505.530210,2.288049
6,Chile,452.371146,2.915014,429.696173,3.831169
7,Colombia,412.136656,3.782541,393.592848,3.898035
8,Czech Republic,512.790193,3.394430,473.983362,3.287652
9,Denmark,511.528855,2.553184,480.890314,3.268937
10,Estonia,537.832867,2.262083,494.319028,2.431931
11,Finland,555.708154,2.377241,494.006461,3.145084
12,France,526.765410,3.007205,482.971515,3.808897
13,Germany,530.119113,3.109866,485.999707,2.885093
14,Greece,502.197789,3.121265,451.718351,4.102267
15,Hungary,507.548867,3.274422,467.963663,3.879468
16,Iceland,508.389847,2.549269,457.274839,2.370080
17,Ireland,537.668885,3.029348,509.152534,3.496651
18,Israel,507.451094,3.858109,463.459862,8.184052
19,Italy,509.945280,2.299874,470.938185,2.467877
20,Japan,550.723537,3.554167,526.617774,4.711320
21,Korea,548.206690,4.485139,524.964649,5.028847
22,Latvia,516.306215,2.695088,461.574319,3.296537
23,Lithuania,505.069833,2.550624,449.964838,2.804998
24,Luxembourg,503.023528,1.771862,473.045665,1.895892
25,Mexico,435.272499,1.592892,411.365471,1.716800
26,Netherlands,524.760776,3.504352,498.317400,3.977697
27,New Zealand,529.765066,3.549321,495.365258,3.279304
28,Norway,527.771189,3.861424,481.284002,3.341869
29,Poland,538.686546,3.140636,496.705991,3.652625
30,Portugal,507.562099,3.678483,468.390313,4.205647
31,Slovak Republic,483.303106,5.095294,444.080677,4.562805
32,Slovenia,510.149539,1.812639,454.465525,1.722851
33,Spain,502.510818,1.920369,473.806246,2.321553
34,Sweden,509.134939,2.827492,457.991126,4.039961
35,Switzerland,527.063514,2.528645,491.074230,3.065654
36,Turkey,498.639974,4.302585,452.843131,4.603194
37,United Kingdom,511.533775,3.830072,486.630845,4.545198
38,United States,513.268608,3.801423,482.498457,4.101744

In [8]:
readingmf2015 = pd.read_excel("../data/2015/reading2015.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
readingmf2015.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
readingmf2015.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2015', 'Unnamed: 4': 'female_se_2015', 'Unnamed: 5': 'male_avg_2015', 'Unnamed: 6': 'male_se_2015'}, axis=1, inplace=True)
readingmf2015 = readingmf2015.drop(index=[0])
readingmf2015

,Countries,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015
1,International Average (OECD),503.789220,0.523912,476.869866,0.565505
2,Australia,518.865799,2.311112,487.185526,2.275913
3,Austria,495.075190,3.655755,474.846033,4.286806
4,Belgium,506.638599,2.896861,490.664155,3.148375
5,Canada,539.762386,2.493043,513.535458,2.550603
6,Chile,464.561642,2.910060,452.642242,3.362026
7,Colombia,432.281926,3.201700,416.681626,3.557749
8,Czech Republic,500.652660,2.896520,474.547463,3.635223
9,Denmark,510.951613,3.400715,488.781639,2.815444
10,Estonia,533.361982,2.285220,505.486324,2.940464
11,Finland,550.511162,2.821860,503.974582,2.954590
12,France,513.764020,3.283739,484.629286,3.341401
13,Germany,519.674109,3.079472,498.902146,3.679055
14,Greece,486.460030,4.229010,449.136245,5.131960
15,Hungary,481.959566,3.074926,457.137733,3.652594
16,Iceland,501.716697,2.618804,460.103593,2.800971
17,Ireland,526.949085,2.680182,514.991402,3.201280
18,Israel,490.164952,4.558317,467.302553,5.385963
19,Italy,492.709122,3.621357,476.703802,3.507336
20,Japan,522.655281,3.335672,509.374026,4.249519
21,Korea,538.609218,4.005720,498.068990,4.769163
22,Latvia,508.825068,2.401558,466.755216,2.332960
23,Lithuania,492.242317,2.993033,453.156662,3.126202
24,Luxembourg,492.034823,2.173110,470.697004,1.864712
25,Mexico,431.232214,2.876363,415.539824,2.859675
26,Netherlands,514.703456,2.899032,491.136711,2.998191
27,New Zealand,525.519856,2.958258,493.225788,3.307085
28,Norway,533.356000,2.873341,493.536736,3.125765
29,Poland,520.674640,2.764456,491.244642,2.949147
30,Portugal,506.551767,2.842129,489.862898,3.084646
31,Slovak Republic,470.862720,3.507468,435.248824,3.264693
32,Slovenia,527.553867,2.138453,484.309854,2.293302
33,Spain,505.684720,2.825522,485.441145,3.036617
34,Sweden,519.949815,3.480026,480.718277,4.059638
35,Switzerland,505.373160,3.435027,480.079524,3.430270
36,Turkey,442.246080,4.767253,414.439583,4.488002
37,United Kingdom,509.090391,3.464206,487.196107,2.932483
38,United States,506.975197,3.941365,486.901412,3.722272

In [9]:
readingmf2018 = pd.read_excel("../data/2018/reading2018.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
readingmf2018.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
readingmf2018.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2018', 'Unnamed: 4': 'female_se_2018', 'Unnamed: 5': 'male_avg_2018', 'Unnamed: 6': 'male_se_2018'}, axis=1, inplace=True)
readingmf2018 = readingmf2018.drop(index=[0])
readingmf2018

,Countries,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
1,International Average (OECD),502.081127,0.472859,472.395099,0.520754
2,Australia,518.572084,1.96358,487.209666,2.196336
3,Austria,498.652688,3.721015,470.555838,3.673197
4,Belgium,503.687235,2.782623,481.973695,2.851972
5,Canada,534.669187,2.008396,505.726865,2.105096
6,Chile,462.30244,2.905994,442.493596,3.426557
7,Colombia,417.356222,3.276308,407.028743,3.973529
8,Czech Republic,507.180001,2.859971,473.986384,3.067778
9,Denmark,515.814342,2.262387,486.472029,2.329339
10,Estonia,538.352885,2.157661,507.696093,2.406185
11,Finland,546.341708,2.326481,494.792253,2.914191
12,France,505.223672,2.797782,480.324762,2.775894
13,Germany,512.208993,3.241191,486.305838,3.370612
14,Greece,478.786282,3.679379,436.641542,4.177772
15,Hungary,489.107893,3.167103,462.618817,2.835301
16,Iceland,494.146418,2.635226,453.536299,2.519488
17,Ireland,529.624902,2.464952,506.39942,3.020017
18,Israel,493.203757,3.697682,445.06539,5.559861
19,Italy,489.082704,2.660155,464.346675,3.142805
20,Japan,513.820504,2.981656,493.398814,3.794233
21,Korea,526.406275,3.565275,502.840138,4.033336
22,Latvia,494.844375,1.997036,462.043656,2.210239
23,Lithuania,495.628342,1.816778,456.965237,1.837835
24,Luxembourg,484.813844,1.6107,455.563263,1.543701
25,Mexico,425.800462,2.958759,414.682773,3.090848
26,Netherlands,499.245394,2.563059,470.396097,3.535835
27,New Zealand,520.262374,2.733299,491.419288,2.672208
28,Norway,523.197443,2.605655,476.21655,2.5633
29,Poland,528.243353,2.853132,495.450119,3.012895
30,Portugal,504.10346,2.905301,479.848551,2.784959
31,Slovak Republic,475.079778,2.959181,440.651645,2.651978
32,Slovenia,516.71105,1.897738,474.988299,1.723877
33,Spain,—,†,—,†
34,Sweden,522.95508,3.420698,488.631181,3.210478
35,Switzerland,500.035214,3.238314,469.447364,3.444923
36,Turkey,478.380324,2.709767,453.100404,3.01
37,United Kingdom,513.699026,3.120008,493.574262,3.178847
38,United States,517.380863,3.579538,493.832026,4.225342

In [10]:
readingmf = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(readingmf2000,readingmf2003,on='Countries'), readingmf2006, on='Countries'), readingmf2009, on='Countries'), readingmf2012, on='Countries'),readingmf2015, on='Countries'), readingmf2018, on='Countries')
readingmf

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003,female_avg_2006,...,male_avg_2012,male_se_2012,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
0,International Average (OECD),510.020647,0.758399,477.912949,0.873204,511.624695,0.627772,476.820156,0.700385,504.859846,...,474.362727,0.606535,503.789220,0.523912,476.869866,0.565505,502.081127,0.472859,472.395099,0.520754
1,Australia,546.251223,4.73506,512.645471,4.041582,545.425124,2.553496,506.085696,2.835287,531.754388,...,495.089560,2.293139,518.865799,2.311112,487.185526,2.275913,518.572084,1.96358,487.209666,2.196336
2,Austria,509.168003,3.951059,475.77071,3.623126,514.35335,4.213715,467.131762,4.54068,512.912207,...,471.093138,4.001055,495.075190,3.655755,474.846033,4.286806,498.652688,3.721015,470.555838,3.673197
3,Belgium,525.208512,4.922344,492.394742,4.240977,526.225709,3.302789,489.326567,3.760765,521.728314,...,492.755224,3.038303,506.638599,2.896861,490.664155,3.148375,503.687235,2.782623,481.973695,2.851972
4,Canada,551.133144,1.703818,518.922764,1.763527,545.525389,1.816646,513.997502,2.046961,543.043598,...,505.530210,2.288049,539.762386,2.493043,513.535458,2.550603,534.669187,2.008396,505.726865,2.105096
5,Chile,421.101175,4.619114,396.493977,4.288241,—,†,—,†,451.251972,...,429.696173,3.831169,464.561642,2.910060,452.642242,3.362026,462.30244,2.905994,442.493596,3.426557
6,Colombia,—,†,—,†,—,†,—,†,393.913355,...,393.592848,3.898035,432.281926,3.201700,416.681626,3.557749,417.356222,3.276308,407.028743,3.973529
7,Czech Republic,510.08193,2.529506,472.639838,4.110666,504.395833,4.418794,473.103858,4.114412,508.607677,...,473.983362,3.287652,500.652660,2.896520,474.547463,3.635223,507.180001,2.859971,473.986384,3.067778
8,Denmark,510.246252,2.870111,485.409289,2.952023,504.79637,2.979702,479.386544,3.311573,509.298658,...,480.890314,3.268937,510.951613,3.400715,488.781639,2.815444,515.814342,2.262387,486.472029,2.329339
9,Estonia,—,†,—,†,—,†,—,†,524.186345,...,494.319028,2.431931,533.361982,2.285220,505.486324,2.940464,538.352885,2.157661,507.696093,2.406185
10,Finland,571.363658,2.780239,520.115622,2.997715,565.411553,1.966428,521.390352,2.205148,571.987035,...,494.006461,3.145084,550.511162,2.821860,503.974582,2.954590,546.341708,2.326481,494.792253,2.914191
11,France,519.062924,2.723071,490.29942,3.495947,514.294506,3.181871,476.099974,3.785396,504.628988,...,482.971515,3.808897,513.764020,3.283739,484.629286,3.341401,505.223672,2.797782,480.324762,2.775894
12,Germany,502.197894,3.874603,467.551932,3.169171,512.927051,3.905326,470.80436,4.225939,516.620373,...,485.999707,2.885093,519.674109,3.079472,498.902146,3.679055,512.208993,3.241191,486.305838,3.370612
13,Greece,492.719488,4.625946,455.676309,6.070492,490.370609,3.957384,452.882744,5.101902,488.148882,...,451.718351,4.102267,486.460030,4.229010,449.136245,5.131960,478.786282,3.679379,436.641542,4.177772
14,Hungary,496.167592,4.346697,464.543413,5.334824,498.204726,3.049879,467.235024,3.162528,502.977577,...,467.963663,3.879468,481.959566,3.074926,457.137733,3.652594,489.107893,3.167103,462.618817,2.835301
15,Iceland,528.128967,2.143537,488.447722,2.11738,521.566183,2.21533,463.805336,2.326309,508.865418,...,457.274839,2.370080,501.716697,2.618804,460.103593,2.800971,494.146418,2.635226,453.536299,2.519488
16,Ireland,541.518331,3.552727,512.838799,4.181855,530.100873,3.713244,501.083968,3.257011,534.001287,...,509.152534,3.496651,526.949085,2.680182,514.991402,3.201280,529.624902,2.464952,506.39942,3.020017
17,Israel,459.393287,8.077251,443.83653,10.89404,—,†,—,†,459.538284,...,463.459862,8.184052,490.164952,4.558317,467.302553,5.385963,493.203757,3.697682,445.06539,5.559861
18,Italy,507.369513,3.565951,469.204101,5.137582,494.585095,3.403407,455.240549,5.058551,488.976681,...,470.938185,2.467877,492.709122,3.621357,476.703802,3.507336,489.082704,2.660155,464.346675,3.142805
19,Japan,536.912204,5.393137,507.251321,6.741613,508.981895,4.072307,486.565738,5.478731,513.285638,...,526.617774,4.711320,522.655281,3.335672,509.374026,4.249519,513.820504,2.981656,493.398814,3.794233
20,Korea,532.715624,3.702431,518.502629,3.769542,546.731165,4.267615,525.476873,3.688873,573.781294,...,524.964649,5.028847,538.609218,4.005720,498.068990,4.769163,526.406275,3.565275,502.840138,4.033336
21,Latvia,484.710511,5.396205,431.91829,5.529459,509.142767,3.662327,470.396876,4.514887,503.803591,...,461.574319,3.296537,508.825068,2.401558,466.755216,2.332960,494.844375,1.997036,462.043656,2.210239
22,Lithuania,—,†,—,†,—,†,—,†,496.246399,...,449.964838,2.804998,492.242317,2.993033,453.156662,3.126202,495.628342,1.816778,456.965237,1.837835
23,Luxembourg,455.714991,2.29526,428.832525,2.5844,495.663506,1.843956,462.659195,2.601365,495.399477,...,473.045665,1.895892,492.034823,2.173110,470.697004,1.864712,484.813844,1.6107,455.563263,1.543701
24,Mexico,431.746581,3.836992,411.481086,4.177049,410.065401,4.572126,388.589055,4.556286,426.666666,...,411.365471,1.716800,431.232214,2.876363,415.539824,2.859675,425.800462,2.958759,414.682773,3.090848
25,Netherlands,‡,†,‡,†,523.778151,3.204552,502.871786,3.656459,519.045583,...,498.317400,3.977697,514.703456,2.899032,491.136711,2.998191,499.245394,2.563059,470.396097,3.535835
26,New Zealand,552.620956,3.797795,506.788123,4.180712,535.352672,3.293607,507.725568,3.130015,539.117653,...,495.365258,3.279304,525.519856,2.958258,493.225788,3.307085,520.262374,2.733299,491.419288,2.672208
27,Norway,528.817851,2.861389,485.622281,3.793929,524.542528,3.378588,475.344777,3.360015,508.041622,...,481.284002,3.341869,533.356000,2.873341,493.536736,3.125765,523.197443,2.605655,476.21655,2.5633
28,Poland,497.497816,5.524384,461.370782,5.986035,516.32781,3.192545,476.777131,3.551676,527.56547,...,496.705991,3.652625,520.674640,2.764456,491.244642,2.949147,528.243353,2.853132,495.450119,3.012895
29,Portugal,482.370173,4.637496,457.695689,4.978566,494.861583,3.719053,458.520323,4.276196,488.168149,...,468.390313,4.205647,506.551767,2.842129,489.862898,3.084646,504.10346,2.905301,479.848551,2.784959
30,Slovak Republic,—,†,—,†,485.820259,3.323222,453.278613,3.818361,487.757838,...,444.080677,4.562805,470.862720,3.507468,435.248824,3.264693,475.079778,2.959181,440.651645,2.651978
31,Slovenia,—,†,—,†,—,†,—,†,521.105267,...,454.465525,1.722851,527.553867,2.138453,484.309854,2.293302,516.71105,1.897738,474.988299,1.723877
32,Spain,505.351462,2.762524,481.215047,3.352348,499.783289,2.480658,460.655173,3.780562,478.724933,...,473.806246,2.321553,505.684720,2.825522,485.441145,3.036617,—,†,—,†
33,Sweden,535.593573,2.480796,498.630113,2.563355,532.659246,2.89261,495.913091,2.814439,528.058808,...,457.991126,4.039961,519.949815,3.480026,480.718277,4.059638,522.95508,3.420698,488.631181,3.210478
34,Switzerland,510.022852,4.498506,480.054047,4.850442,517.485354,3.100694,481.989733,4.372215,515.17189,...,491.074230,3.065654,505.373160,3.435027,480.079524,3.430270,500.035214,3.238314,469.447364,3.444923
35,Turkey,—,†,—,†,459.311604,6.11592,425.972987,6.796404,471.042415,...,452.843131,4.603194,442.246080,4.767253,414.439583,4.488002,478.380324,2.709767,453.100404,3.01
36,United Kingdom,537.191261,3.447665,511.560641,3.031656,520.373092,3.623631,491.823408,3.072442,509.53071,...,486.630845,4.545198,509.090391,3.464206,487.196107,2.932483,513.699026,3.120008,493.574262,3.178847
37,United States,518.24165,6.200181,489.675254,8.407761,511.302852,3.54572,479.290287,3.660622,—,...,482.498457,4.101744,506.975197,3.941365,486.901412,3.722272,517.380863,3.579538,493.832026,4.225342

In [11]:
readingmf = readingmf.replace('—',np.nan,regex = True)
readingmf = readingmf.replace('†',np.nan,regex = True)
readingmf = readingmf.replace('‡',np.nan,regex = True)
readingmf

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003,female_avg_2006,...,male_avg_2012,male_se_2012,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
0,International Average (OECD),510.020647,0.758399,477.912949,0.873204,511.624695,0.627772,476.820156,0.700385,504.859846,...,474.362727,0.606535,503.789220,0.523912,476.869866,0.565505,502.081127,0.472859,472.395099,0.520754
1,Australia,546.251223,4.735060,512.645471,4.041582,545.425124,2.553496,506.085696,2.835287,531.754388,...,495.089560,2.293139,518.865799,2.311112,487.185526,2.275913,518.572084,1.963580,487.209666,2.196336
2,Austria,509.168003,3.951059,475.770710,3.623126,514.353350,4.213715,467.131762,4.540680,512.912207,...,471.093138,4.001055,495.075190,3.655755,474.846033,4.286806,498.652688,3.721015,470.555838,3.673197
3,Belgium,525.208512,4.922344,492.394742,4.240977,526.225709,3.302789,489.326567,3.760765,521.728314,...,492.755224,3.038303,506.638599,2.896861,490.664155,3.148375,503.687235,2.782623,481.973695,2.851972
4,Canada,551.133144,1.703818,518.922764,1.763527,545.525389,1.816646,513.997502,2.046961,543.043598,...,505.530210,2.288049,539.762386,2.493043,513.535458,2.550603,534.669187,2.008396,505.726865,2.105096
5,Chile,421.101175,4.619114,396.493977,4.288241,NaN,NaN,NaN,NaN,451.251972,...,429.696173,3.831169,464.561642,2.910060,452.642242,3.362026,462.302440,2.905994,442.493596,3.426557
6,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,393.913355,...,393.592848,3.898035,432.281926,3.201700,416.681626,3.557749,417.356222,3.276308,407.028743,3.973529
7,Czech Republic,510.081930,2.529506,472.639838,4.110666,504.395833,4.418794,473.103858,4.114412,508.607677,...,473.983362,3.287652,500.652660,2.896520,474.547463,3.635223,507.180001,2.859971,473.986384,3.067778
8,Denmark,510.246252,2.870111,485.409289,2.952023,504.796370,2.979702,479.386544,3.311573,509.298658,...,480.890314,3.268937,510.951613,3.400715,488.781639,2.815444,515.814342,2.262387,486.472029,2.329339
9,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.186345,...,494.319028,2.431931,533.361982,2.285220,505.486324,2.940464,538.352885,2.157661,507.696093,2.406185
10,Finland,571.363658,2.780239,520.115622,2.997715,565.411553,1.966428,521.390352,2.205148,571.987035,...,494.006461,3.145084,550.511162,2.821860,503.974582,2.954590,546.341708,2.326481,494.792253,2.914191
11,France,519.062924,2.723071,490.299420,3.495947,514.294506,3.181871,476.099974,3.785396,504.628988,...,482.971515,3.808897,513.764020,3.283739,484.629286,3.341401,505.223672,2.797782,480.324762,2.775894
12,Germany,502.197894,3.874603,467.551932,3.169171,512.927051,3.905326,470.804360,4.225939,516.620373,...,485.999707,2.885093,519.674109,3.079472,498.902146,3.679055,512.208993,3.241191,486.305838,3.370612
13,Greece,492.719488,4.625946,455.676309,6.070492,490.370609,3.957384,452.882744,5.101902,488.148882,...,451.718351,4.102267,486.460030,4.229010,449.136245,5.131960,478.786282,3.679379,436.641542,4.177772
14,Hungary,496.167592,4.346697,464.543413,5.334824,498.204726,3.049879,467.235024,3.162528,502.977577,...,467.963663,3.879468,481.959566,3.074926,457.137733,3.652594,489.107893,3.167103,462.618817,2.835301
15,Iceland,528.128967,2.143537,488.447722,2.117380,521.566183,2.215330,463.805336,2.326309,508.865418,...,457.274839,2.370080,501.716697,2.618804,460.103593,2.800971,494.146418,2.635226,453.536299,2.519488
16,Ireland,541.518331,3.552727,512.838799,4.181855,530.100873,3.713244,501.083968,3.257011,534.001287,...,509.152534,3.496651,526.949085,2.680182,514.991402,3.201280,529.624902,2.464952,506.399420,3.020017
17,Israel,459.393287,8.077251,443.836530,10.894040,NaN,NaN,NaN,NaN,459.538284,...,463.459862,8.184052,490.164952,4.558317,467.302553,5.385963,493.203757,3.697682,445.065390,5.559861
18,Italy,507.369513,3.565951,469.204101,5.137582,494.585095,3.403407,455.240549,5.058551,488.976681,...,470.938185,2.467877,492.709122,3.621357,476.703802,3.507336,489.082704,2.660155,464.346675,3.142805
19,Japan,536.912204,5.393137,507.251321,6.741613,508.981895,4.072307,486.565738,5.478731,513.285638,...,526.617774,4.711320,522.655281,3.335672,509.374026,4.249519,513.820504,2.981656,493.398814,3.794233
20,Korea,532.715624,3.702431,518.502629,3.769542,546.731165,4.267615,525.476873,3.688873,573.781294,...,524.964649,5.028847,538.609218,4.005720,498.068990,4.769163,526.406275,3.565275,502.840138,4.033336
21,Latvia,484.710511,5.396205,431.918290,5.529459,509.142767,3.662327,470.396876,4.514887,503.803591,...,461.574319,3.296537,508.825068,2.401558,466.755216,2.332960,494.844375,1.997036,462.043656,2.210239
22,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,496.246399,...,449.964838,2.804998,492.242317,2.993033,453.156662,3.126202,495.628342,1.816778,456.965237,1.837835
23,Luxembourg,455.714991,2.295260,428.832525,2.584400,495.663506,1.843956,462.659195,2.601365,495.399477,...,473.045665,1.895892,492.034823,2.173110,470.697004,1.864712,484.813844,1.610700,455.563263,1.543701
24,Mexico,431.746581,3.836992,411.481086,4.177049,410.065401,4.572126,388.589055,4.556286,426.666666,...,411.365471,1.716800,431.232214,2.876363,415.539824,2.859675,425.800462,2.958759,414.682773,3.090848
25,Netherlands,NaN,NaN,NaN,NaN,523.778151,3.204552,502.871786,3.656459,519.045583,...,498.317400,3.977697,514.703456,2.899032,491.136711,2.998191,499.245394,2.563059,470.396097,3.535835
26,New Zealand,552.620956,3.797795,506.788123,4.180712,535.352672,3.293607,507.725568,3.130015,539.117653,...,495.365258,3.279304,525.519856,2.958258,493.225788,3.307085,520.262374,2.733299,491.419288,2.672208
27,Norway,528.817851,2.861389,485.622281,3.793929,524.542528,3.378588,475.344777,3.360015,508.041622,...,481.284002,3.341869,533.356000,2.873341,493.536736,3.125765,523.197443,2.605655,476.216550,2.563300
28,Poland,497.497816,5.524384,461.370782,5.986035,516.327810,3.192545,476.777131,3.551676,527.565470,...,496.705991,3.652625,520.674640,2.764456,491.244642,2.949147,528.243353,2.853132,495.450119,3.012895
29,Portugal,482.370173,4.637496,457.695689,4.978566,494.861583,3.719053,458.520323,4.276196,488.168149,...,468.390313,4.205647,506.551767,2.842129,489.862898,3.084646,504.103460,2.905301,479.848551,2.784959
30,Slovak Republic,NaN,NaN,NaN,NaN,485.820259,3.323222,453.278613,3.818361,487.757838,...,444.080677,4.562805,470.862720,3.507468,435.248824,3.264693,475.079778,2.959181,440.651645,2.651978
31,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,521.105267,...,454.465525,1.722851,527.553867,2.138453,484.309854,2.293302,516.711050,1.897738,474.988299,1.723877
32,Spain,505.351462,2.762524,481.215047,3.352348,499.783289,2.480658,460.655173,3.780562,478.724933,...,473.806246,2.321553,505.684720,2.825522,485.441145,3.036617,NaN,NaN,NaN,NaN
33,Sweden,535.593573,2.480796,498.630113,2.563355,532.659246,2.892610,495.913091,2.814439,528.058808,...,457.991126,4.039961,519.949815,3.480026,480.718277,4.059638,522.955080,3.420698,488.631181,3.210478
34,Switzerland,510.022852,4.498506,480.054047,4.850442,517.485354,3.100694,481.989733,4.372215,515.171890,...,491.074230,3.065654,505.373160,3.435027,480.079524,3.430270,500.035214,3.238314,469.447364,3.444923
35,Turkey,NaN,NaN,NaN,NaN,459.311604,6.115920,425.972987,6.796404,471.042415,...,452.843131,4.603194,442.246080,4.767253,414.439583,4.488002,478.380324,2.709767,453.100404,3.010000
36,United Kingdom,537.191261,3.447665,511.560641,3.031656,520.373092,3.623631,491.823408,3.072442,509.530710,...,486.630845,4.545198,509.090391,3.464206,487.196107,2.932483,513.699026,3.120008,493.574262,3.178847
37,United States,518.241650,6.200181,489.675254,8.407761,511.302852,3.545720,479.290287,3.660622,NaN,...,482.498457,4.101744,506.975197,3.941365,486.901412,3.722272,517.380863,3.579538,493.832026,4.225342

In [12]:
readingmf.to_excel('../data/Trends_MF.xlsx', sheet_name='Reading')

In [13]:
mathmf2000 = pd.read_excel("../data/2000/math2000.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
mathmf2000.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
mathmf2000.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2000', 'Unnamed: 4': 'female_se_2000', 'Unnamed: 5': 'male_avg_2000', 'Unnamed: 6': 'male_se_2000'}, axis=1, inplace=True)
mathmf2000 = mathmf2000.drop(index=[38])
mathmf2000

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000
0,International Average (OECD),—,†,—,†
1,Australia,—,†,—,†
2,Austria,—,†,—,†
3,Belgium,—,†,—,†
4,Canada,—,†,—,†
5,Chile,—,†,—,†
6,Colombia,—,†,—,†
7,Czech Republic,—,†,—,†
8,Denmark,—,†,—,†
9,Estonia,—,†,—,†
10,Finland,—,†,—,†
11,France,—,†,—,†
12,Germany,—,†,—,†
13,Greece,—,†,—,†
14,Hungary,—,†,—,†
15,Iceland,—,†,—,†
16,Ireland,—,†,—,†
17,Israel,—,†,—,†
18,Italy,—,†,—,†
19,Japan,—,†,—,†
20,Korea,—,†,—,†
21,Latvia,—,†,—,†
22,Lithuania,—,†,—,†
23,Luxembourg,—,†,—,†
24,Mexico,—,†,—,†
25,Netherlands,—,†,—,†
26,New Zealand,—,†,—,†
27,Norway,—,†,—,†
28,Poland,—,†,—,†
29,Portugal,—,†,—,†
30,Slovak Republic,—,†,—,†
31,Slovenia,—,†,—,†
32,Spain,—,†,—,†
33,Sweden,—,†,—,†
34,Switzerland,—,†,—,†
35,Turkey,—,†,—,†
36,United Kingdom,—,†,—,†
37,United States,—,†,—,†

In [14]:
mathmf2003 = pd.read_excel("../data/2003/math2003.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
mathmf2003.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
mathmf2003.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2003', 'Unnamed: 4': 'female_se_2003', 'Unnamed: 5': 'male_avg_2003', 'Unnamed: 6': 'male_se_2003'}, axis=1, inplace=True)
mathmf2003 = mathmf2003.drop(index=[38])
mathmf2003

,Countries,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003
0,International Average (OECD),494.385685,0.635126,504.629354,0.698559
1,Australia,521.550185,2.692823,526.892627,3.005998
2,Austria,501.816064,3.960884,509.390083,3.950726
3,Belgium,525.370177,3.234103,532.881507,3.395852
4,Canada,529.602413,1.876195,540.774234,2.053585
5,Chile,—,†,—,†
6,Colombia,—,†,—,†
7,Czech Republic,508.868866,4.365218,523.842494,4.272319
8,Denmark,506.150425,2.976751,522.727534,3.378849
9,Estonia,—,†,—,†
10,Finland,540.596928,2.112468,548.002168,2.462724
11,France,506.763198,2.919469,515.277835,3.551491
12,Germany,498.897136,3.927241,507.872594,3.980329
13,Greece,435.551049,3.847386,454.95248,4.750068
14,Hungary,485.900977,3.305331,493.695839,3.330943
15,Iceland,523.064692,2.17052,507.653569,2.279144
16,Ireland,495.376235,3.393705,510.183745,3.00828
17,Israel,—,†,—,†
18,Italy,457.090743,3.840621,474.916141,4.559714
19,Japan,530.111796,3.971785,538.53222,5.809005
20,Korea,528.307595,5.346404,551.714026,4.355174
21,Latvia,482.026059,3.558147,484.838938,4.793341
22,Lithuania,—,†,—,†
23,Luxembourg,484.758611,1.527697,501.930335,1.855288
24,Mexico,379.973614,4.074791,390.868894,4.274874
25,Netherlands,535.215027,3.483528,540.330712,4.076586
26,New Zealand,516.225331,3.196149,530.70763,2.769467
27,Norway,492.048704,2.872478,498.270625,2.84697
28,Poland,487.451173,2.945873,493.041304,2.969006
29,Portugal,460.18802,3.443398,472.437031,4.178574
30,Slovak Republic,488.629317,3.586774,507.289854,3.904155
31,Slovenia,—,†,—,†
32,Spain,480.744488,2.190145,489.605606,3.375692
33,Sweden,505.77795,3.090294,512.308282,2.983006
34,Switzerland,517.951088,3.648198,534.577978,4.744244
35,Turkey,415.093277,6.674796,430.228089,7.877434
36,United Kingdom,505.14023,3.878819,511.80276,2.898963
37,United States,479.714872,3.238677,485.962852,3.331709

In [15]:
mathmf2006 = pd.read_excel("../data/2006/math2006.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
mathmf2006.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
mathmf2006.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2006', 'Unnamed: 4': 'female_se_2006', 'Unnamed: 5': 'male_avg_2006', 'Unnamed: 6': 'male_se_2006'}, axis=1, inplace=True)
mathmf2006 = mathmf2006.drop(index=[38])
mathmf2006

,Countries,female_avg_2006,female_se_2006,male_avg_2006,male_se_2006
0,International Average (OECD),484.788448,0.567541,495.908375,0.620079
1,Australia,512.532446,2.414272,526.954322,3.176693
2,Austria,493.962184,4.146897,516.581071,4.422147
3,Belgium,516.705868,3.448619,523.655483,4.117440
4,Canada,519.862643,2.000380,534.078873,2.391152
5,Chile,396.284317,4.708827,424.179820,5.512725
6,Colombia,359.808181,4.987936,381.851523,4.071770
7,Czech Republic,503.905850,4.845827,514.428897,4.163520
8,Denmark,507.903411,2.954920,518.205165,2.948189
9,Estonia,513.842859,3.000140,515.273808,3.337910
10,Finland,542.545962,2.556715,554.253495,2.727105
11,France,492.404770,3.332280,498.859126,4.004257
12,Germany,493.726764,3.909919,513.236815,4.606158
13,Greece,456.848686,3.039553,461.531135,4.309668
14,Hungary,485.650442,3.654638,495.803566,3.512870
15,Iceland,507.805362,2.218694,503.319985,2.604545
16,Ireland,495.807005,3.238521,507.271596,3.715218
17,Israel,435.889910,4.328481,447.919349,6.598763
18,Italy,453.459795,2.708369,470.066804,2.891865
19,Japan,513.209934,4.894533,532.943701,4.773516
20,Korea,542.764808,4.549904,552.021954,5.310009
21,Latvia,483.628445,3.227566,488.844822,3.547117
22,Lithuania,485.332990,3.253610,487.471133,3.304992
23,Luxembourg,481.614315,1.833760,498.189831,1.722053
24,Mexico,401.327032,3.064387,410.320672,3.352309
25,Netherlands,524.129935,2.804748,536.941423,3.073269
26,New Zealand,516.845949,3.600938,527.475095,3.128217
27,Norway,486.657661,2.834719,492.826441,3.267817
28,Poland,490.918654,2.682111,499.999828,2.848875
29,Portugal,458.959393,3.219712,473.867539,3.743280
30,Slovak Republic,484.735487,3.501475,499.076495,3.725815
31,Slovenia,502.067567,1.846747,506.863566,1.750130
32,Spain,475.629937,2.608340,484.189792,2.566319
33,Sweden,499.724575,2.966880,504.858382,2.673405
34,Switzerland,522.716527,3.567229,536.172373,3.333752
35,Turkey,420.734347,5.089542,426.596592,5.609715
36,United Kingdom,487.167890,2.622279,503.873034,2.552249
37,United States,470.060661,3.891263,478.606359,4.617879

In [16]:
mathmf2009 = pd.read_excel("../data/2009/math2009.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
mathmf2009.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
mathmf2009.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2009', 'Unnamed: 4': 'female_se_2009', 'Unnamed: 5': 'male_avg_2009', 'Unnamed: 6': 'male_se_2009'}, axis=1, inplace=True)
mathmf2009 = mathmf2009.drop(index=[38])
mathmf2009

,Countries,female_avg_2009,female_se_2009,male_avg_2009,male_se_2009
0,International Average (OECD),486.041645,0.535090,497.369513,0.586762
1,Australia,509.480661,2.831462,519.417794,2.998711
2,Austria,486.499395,4.022700,505.683079,3.355349
3,Belgium,504.156918,2.958560,525.915994,3.296186
4,Canada,520.832036,1.699520,532.700254,1.994735
5,Chile,410.375906,3.626432,431.332705,3.690353
6,Colombia,365.520319,3.290015,397.709897,4.024473
7,Czech Republic,490.178748,2.954475,495.130608,3.912570
8,Denmark,495.292796,2.915892,511.426428,2.981450
9,Estonia,507.537392,2.923889,516.359052,2.863287
10,Finland,539.212442,2.533918,541.790979,2.499746
11,France,488.855614,3.354485,505.118053,3.849626
12,Germany,504.824692,3.322568,520.392166,3.569629
13,Greece,459.307057,3.260503,473.132396,5.425247
14,Hungary,484.110618,3.936145,496.128430,4.228341
15,Iceland,504.945429,1.909283,508.412276,2.015647
16,Ireland,483.318059,3.015763,490.859091,3.364779
17,Israel,442.816618,3.270834,451.059577,4.690919
18,Italy,475.404159,2.248948,490.004511,2.323094
19,Japan,524.130886,3.866108,533.554451,5.277965
20,Korea,544.452620,4.516137,547.819320,6.226560
21,Latvia,481.040995,3.411795,482.891075,3.523797
22,Lithuania,479.752935,2.963521,473.538549,3.060714
23,Luxembourg,479.242075,1.311450,498.635117,1.965009
24,Mexico,411.769690,1.859816,425.412095,2.081130
25,Netherlands,517.306966,5.081804,534.456456,4.759170
26,New Zealand,515.345665,2.937744,523.096511,3.245731
27,Norway,495.401914,2.840392,500.397407,2.688655
28,Poland,493.052813,3.209015,496.551182,3.027839
29,Portugal,481.136493,3.055980,492.905007,3.307119
30,Slovak Republic,495.395488,3.406210,497.994576,3.673273
31,Slovenia,500.797990,1.727035,502.120619,1.818029
32,Spain,473.898870,2.537709,492.779683,2.277220
33,Sweden,495.128236,3.262964,493.375532,3.131466
34,Switzerland,523.859288,3.411812,543.711037,3.689918
35,Turkey,439.802923,5.617882,450.749065,4.572647
36,United Kingdom,482.363594,3.271712,502.846037,3.225174
37,United States,476.992573,3.790017,497.264977,4.034852

In [17]:
mathmf2012 = pd.read_excel("../data/2012/math2012.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
mathmf2012.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
mathmf2012.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2012', 'Unnamed: 4': 'female_se_2012', 'Unnamed: 5': 'male_avg_2012', 'Unnamed: 6': 'male_se_2012'}, axis=1, inplace=True)
mathmf2012 = mathmf2012.drop(index=[38])
mathmf2012

,Countries,female_avg_2012,female_se_2012,male_avg_2012,male_se_2012
0,International Average (OECD),485.040193,0.518997,495.617089,0.589378
1,Australia,497.821350,2.040775,510.114851,2.405360
2,Austria,494.462264,3.258486,516.681834,3.860736
3,Belgium,508.934612,2.561951,520.081208,2.888659
4,Canada,513.019099,2.051552,523.140270,2.142494
5,Chile,410.543252,3.074999,435.524618,3.821439
6,Colombia,364.493878,3.181711,389.960416,3.420537
7,Czech Republic,492.903222,3.570964,504.710097,3.726744
8,Denmark,493.028741,2.282444,506.953235,2.877380
9,Estonia,517.929830,2.209258,523.214220,2.597195
10,Finland,520.185481,2.159090,517.390885,2.627487
11,France,490.852618,2.549044,499.354754,3.409718
12,Germany,506.624554,3.374769,520.190107,3.041522
13,Greece,448.984411,2.628305,457.038745,3.313262
14,Hungary,472.663507,3.636663,481.749055,3.738725
15,Iceland,495.946918,2.296955,489.719983,2.269236
16,Ireland,493.704748,2.615852,509.034818,3.252860
17,Israel,460.749246,3.458318,472.397770,7.820277
18,Italy,475.794306,2.212188,494.199436,2.441984
19,Japan,527.011233,3.587545,544.884437,4.615455
20,Korea,544.193124,5.128086,562.113944,5.820198
21,Latvia,492.521322,3.179212,488.655452,3.393771
22,Lithuania,478.735816,2.966617,478.909411,2.841414
23,Luxembourg,477.116835,1.411968,502.192672,1.533006
24,Mexico,406.426922,1.427811,420.410664,1.553964
25,Netherlands,517.737792,3.945835,527.966576,3.560300
26,New Zealand,492.057078,2.921234,507.111555,3.205259
27,Norway,488.293198,3.433465,490.399398,2.795816
28,Poland,515.532590,3.755442,519.563827,4.250461
29,Portugal,481.295762,3.907336,492.703326,4.105355
30,Slovak Republic,476.711644,4.052189,486.133511,4.092184
31,Slovenia,499.387324,1.993662,502.747877,1.983271
32,Spain,475.964675,1.970453,492.422392,2.421659
33,Sweden,479.628965,2.409237,476.916494,2.968833
34,Switzerland,524.472718,3.105204,537.368778,3.513686
35,Turkey,443.947870,5.658444,451.933741,5.106013
36,United Kingdom,487.814889,3.837242,500.294931,4.195080
37,United States,478.995329,3.909398,483.646991,3.810755

In [18]:
mathmf2015 = pd.read_excel("../data/2015/math2015.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
mathmf2015.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
mathmf2015.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2015', 'Unnamed: 4': 'female_se_2015', 'Unnamed: 5': 'male_avg_2015', 'Unnamed: 6': 'male_se_2015'}, axis=1, inplace=True)
mathmf2015 = mathmf2015.drop(index=[38])
mathmf2015

,Countries,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015
0,International Average (OECD),483.260181,0.489667,491.029985,0.540876
1,Australia,490.985501,2.482435,496.761345,2.147523
2,Austria,483.133026,3.581920,510.098216,3.810942
3,Belgium,499.739022,2.760838,514.002571,3.058726
4,Canada,511.141726,2.567898,520.166125,2.851925
5,Chile,413.448981,3.048182,431.798087,3.118422
6,Colombia,384.488336,2.400585,395.391121,3.288522
7,Czech Republic,488.665606,2.780447,495.794165,3.259341
8,Denmark,506.374750,2.790148,515.756468,2.535997
9,Estonia,516.872749,2.309177,522.080413,2.684800
10,Finland,514.964997,2.589161,507.452840,2.609404
11,France,489.954044,2.624874,495.931688,2.924903
12,Germany,497.531079,2.994955,514.117652,3.480063
13,Greece,453.573223,3.613524,453.682055,4.683001
14,Hungary,472.739509,3.032374,480.905546,3.583164
15,Iceland,488.586964,2.388060,487.445648,2.872707
16,Ireland,495.444966,2.419949,511.579656,2.960044
17,Israel,465.516848,4.040655,473.990242,5.390978
18,Italy,479.823743,3.401302,499.762113,3.540804
19,Japan,525.495995,3.142007,539.267257,3.837986
20,Korea,527.756666,3.938740,520.766939,5.236736
21,Latvia,483.257255,2.459387,481.355785,2.583290
22,Lithuania,479.017776,2.524441,477.767726,2.827830
23,Luxembourg,480.136028,1.972817,491.483063,2.004714
24,Mexico,404.334869,2.366774,411.610512,2.671213
25,Netherlands,511.015941,2.452584,513.497847,2.590419
26,New Zealand,490.921907,2.718529,499.470547,3.437699
27,Norway,502.873656,2.330040,500.614926,2.881170
28,Poland,498.646657,2.793382,510.087695,2.812635
29,Portugal,486.599740,2.742706,496.560577,3.023930
30,Slovak Republic,472.270799,3.607808,478.014762,2.975140
31,Slovenia,507.949222,2.204935,511.763731,1.919975
32,Spain,477.859261,2.766113,493.848504,2.377037
33,Sweden,495.052563,3.260762,492.804135,3.839862
34,Switzerland,514.983162,3.511922,527.015533,3.234784
35,Turkey,417.527010,4.853235,423.377693,4.594009
36,United Kingdom,486.574589,3.082447,498.200531,2.943480
37,United States,465.368529,3.443265,473.885734,3.631103

In [19]:
mathmf2018 = pd.read_excel("../data/2018/math2018.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
mathmf2018.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
mathmf2018.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2018', 'Unnamed: 4': 'female_se_2018', 'Unnamed: 5': 'male_avg_2018', 'Unnamed: 6': 'male_se_2018'}, axis=1, inplace=True)
mathmf2018 = mathmf2018.drop(index=[38])
mathmf2018

,Countries,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
0,International Average (OECD),486.665145,0.472058,491.869423,0.500661
1,Australia,488.296647,2.462195,494.323798,2.414598
2,Austria,492.200906,3.844890,505.483566,3.919636
3,Belgium,502.046830,2.690216,514.131599,2.899440
4,Canada,509.546253,2.707154,514.451017,2.526600
5,Chile,413.626758,2.726706,421.091792,3.301876
6,Colombia,381.365275,3.146422,400.887168,3.755715
7,Czech Republic,497.671595,3.166786,501.186538,2.947876
8,Denmark,507.454311,2.272708,511.338930,2.262521
9,Estonia,519.187027,2.024660,527.638015,2.234814
10,Finland,510.405712,2.174621,504.312432,2.542840
11,France,492.184620,2.765962,498.544844,2.676313
12,Germany,496.246322,3.061368,503.307917,2.986689
13,Greece,451.206888,3.190330,451.529218,3.903026
14,Hungary,476.717094,3.183903,485.530236,2.977049
15,Iceland,500.062551,2.902331,490.247935,2.456308
16,Ireland,496.676174,2.696633,502.623569,2.874127
17,Israel,467.386362,3.535948,458.193635,5.197163
18,Italy,478.548682,3.129221,494.090670,3.343837
19,Japan,522.034617,2.861900,532.156109,3.423327
20,Korea,523.814005,4.042859,527.856148,4.121525
21,Latvia,492.794754,2.457385,499.563002,2.249387
22,Lithuania,482.453799,2.700011,479.982688,2.416710
23,Luxembourg,479.624474,1.669850,487.114451,1.480154
24,Mexico,403.165629,2.744339,414.917808,2.875198
25,Netherlands,518.547572,2.663095,519.910894,3.498050
26,New Zealand,490.021525,2.266336,498.888017,2.484715
27,Norway,504.505443,2.617970,497.498508,2.537595
28,Poland,514.948471,3.106904,516.348043,2.915460
29,Portugal,487.913089,3.139629,496.931424,3.042144
30,Slovak Republic,483.901956,3.227614,488.459058,3.156316
31,Slovenia,508.590193,1.827920,509.190393,1.879971
32,Spain,478.135910,1.477234,484.568195,2.062583
33,Sweden,503.012814,3.063025,501.763166,3.061714
34,Switzerland,511.596413,3.540298,518.658139,2.971626
35,Turkey,451.015096,2.872846,455.957953,3.159302
36,United Kingdom,495.858381,3.028255,508.034098,3.222244
37,United States,473.846214,3.303539,482.457691,3.904079

In [20]:
mathmf = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(mathmf2000,mathmf2003,on='Countries'), mathmf2006, on='Countries'), mathmf2009, on='Countries'), mathmf2012, on='Countries'),mathmf2015, on='Countries'), mathmf2018, on='Countries')
mathmf

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003,female_avg_2006,...,male_avg_2012,male_se_2012,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
0,International Average (OECD),—,†,—,†,494.385685,0.635126,504.629354,0.698559,484.788448,...,495.617089,0.589378,483.260181,0.489667,491.029985,0.540876,486.665145,0.472058,491.869423,0.500661
1,Australia,—,†,—,†,521.550185,2.692823,526.892627,3.005998,512.532446,...,510.114851,2.405360,490.985501,2.482435,496.761345,2.147523,488.296647,2.462195,494.323798,2.414598
2,Austria,—,†,—,†,501.816064,3.960884,509.390083,3.950726,493.962184,...,516.681834,3.860736,483.133026,3.581920,510.098216,3.810942,492.200906,3.844890,505.483566,3.919636
3,Belgium,—,†,—,†,525.370177,3.234103,532.881507,3.395852,516.705868,...,520.081208,2.888659,499.739022,2.760838,514.002571,3.058726,502.046830,2.690216,514.131599,2.899440
4,Canada,—,†,—,†,529.602413,1.876195,540.774234,2.053585,519.862643,...,523.140270,2.142494,511.141726,2.567898,520.166125,2.851925,509.546253,2.707154,514.451017,2.526600
5,Chile,—,†,—,†,—,†,—,†,396.284317,...,435.524618,3.821439,413.448981,3.048182,431.798087,3.118422,413.626758,2.726706,421.091792,3.301876
6,Colombia,—,†,—,†,—,†,—,†,359.808181,...,389.960416,3.420537,384.488336,2.400585,395.391121,3.288522,381.365275,3.146422,400.887168,3.755715
7,Czech Republic,—,†,—,†,508.868866,4.365218,523.842494,4.272319,503.905850,...,504.710097,3.726744,488.665606,2.780447,495.794165,3.259341,497.671595,3.166786,501.186538,2.947876
8,Denmark,—,†,—,†,506.150425,2.976751,522.727534,3.378849,507.903411,...,506.953235,2.877380,506.374750,2.790148,515.756468,2.535997,507.454311,2.272708,511.338930,2.262521
9,Estonia,—,†,—,†,—,†,—,†,513.842859,...,523.214220,2.597195,516.872749,2.309177,522.080413,2.684800,519.187027,2.024660,527.638015,2.234814
10,Finland,—,†,—,†,540.596928,2.112468,548.002168,2.462724,542.545962,...,517.390885,2.627487,514.964997,2.589161,507.452840,2.609404,510.405712,2.174621,504.312432,2.542840
11,France,—,†,—,†,506.763198,2.919469,515.277835,3.551491,492.404770,...,499.354754,3.409718,489.954044,2.624874,495.931688,2.924903,492.184620,2.765962,498.544844,2.676313
12,Germany,—,†,—,†,498.897136,3.927241,507.872594,3.980329,493.726764,...,520.190107,3.041522,497.531079,2.994955,514.117652,3.480063,496.246322,3.061368,503.307917,2.986689
13,Greece,—,†,—,†,435.551049,3.847386,454.95248,4.750068,456.848686,...,457.038745,3.313262,453.573223,3.613524,453.682055,4.683001,451.206888,3.190330,451.529218,3.903026
14,Hungary,—,†,—,†,485.900977,3.305331,493.695839,3.330943,485.650442,...,481.749055,3.738725,472.739509,3.032374,480.905546,3.583164,476.717094,3.183903,485.530236,2.977049
15,Iceland,—,†,—,†,523.064692,2.17052,507.653569,2.279144,507.805362,...,489.719983,2.269236,488.586964,2.388060,487.445648,2.872707,500.062551,2.902331,490.247935,2.456308
16,Ireland,—,†,—,†,495.376235,3.393705,510.183745,3.00828,495.807005,...,509.034818,3.252860,495.444966,2.419949,511.579656,2.960044,496.676174,2.696633,502.623569,2.874127
17,Israel,—,†,—,†,—,†,—,†,435.889910,...,472.397770,7.820277,465.516848,4.040655,473.990242,5.390978,467.386362,3.535948,458.193635,5.197163
18,Italy,—,†,—,†,457.090743,3.840621,474.916141,4.559714,453.459795,...,494.199436,2.441984,479.823743,3.401302,499.762113,3.540804,478.548682,3.129221,494.090670,3.343837
19,Japan,—,†,—,†,530.111796,3.971785,538.53222,5.809005,513.209934,...,544.884437,4.615455,525.495995,3.142007,539.267257,3.837986,522.034617,2.861900,532.156109,3.423327
20,Korea,—,†,—,†,528.307595,5.346404,551.714026,4.355174,542.764808,...,562.113944,5.820198,527.756666,3.938740,520.766939,5.236736,523.814005,4.042859,527.856148,4.121525
21,Latvia,—,†,—,†,482.026059,3.558147,484.838938,4.793341,483.628445,...,488.655452,3.393771,483.257255,2.459387,481.355785,2.583290,492.794754,2.457385,499.563002,2.249387
22,Lithuania,—,†,—,†,—,†,—,†,485.332990,...,478.909411,2.841414,479.017776,2.524441,477.767726,2.827830,482.453799,2.700011,479.982688,2.416710
23,Luxembourg,—,†,—,†,484.758611,1.527697,501.930335,1.855288,481.614315,...,502.192672,1.533006,480.136028,1.972817,491.483063,2.004714,479.624474,1.669850,487.114451,1.480154
24,Mexico,—,†,—,†,379.973614,4.074791,390.868894,4.274874,401.327032,...,420.410664,1.553964,404.334869,2.366774,411.610512,2.671213,403.165629,2.744339,414.917808,2.875198
25,Netherlands,—,†,—,†,535.215027,3.483528,540.330712,4.076586,524.129935,...,527.966576,3.560300,511.015941,2.452584,513.497847,2.590419,518.547572,2.663095,519.910894,3.498050
26,New Zealand,—,†,—,†,516.225331,3.196149,530.70763,2.769467,516.845949,...,507.111555,3.205259,490.921907,2.718529,499.470547,3.437699,490.021525,2.266336,498.888017,2.484715
27,Norway,—,†,—,†,492.048704,2.872478,498.270625,2.84697,486.657661,...,490.399398,2.795816,502.873656,2.330040,500.614926,2.881170,504.505443,2.617970,497.498508,2.537595
28,Poland,—,†,—,†,487.451173,2.945873,493.041304,2.969006,490.918654,...,519.563827,4.250461,498.646657,2.793382,510.087695,2.812635,514.948471,3.106904,516.348043,2.915460
29,Portugal,—,†,—,†,460.18802,3.443398,472.437031,4.178574,458.959393,...,492.703326,4.105355,486.599740,2.742706,496.560577,3.023930,487.913089,3.139629,496.931424,3.042144
30,Slovak Republic,—,†,—,†,488.629317,3.586774,507.289854,3.904155,484.735487,...,486.133511,4.092184,472.270799,3.607808,478.014762,2.975140,483.901956,3.227614,488.459058,3.156316
31,Slovenia,—,†,—,†,—,†,—,†,502.067567,...,502.747877,1.983271,507.949222,2.204935,511.763731,1.919975,508.590193,1.827920,509.190393,1.879971
32,Spain,—,†,—,†,480.744488,2.190145,489.605606,3.375692,475.629937,...,492.422392,2.421659,477.859261,2.766113,493.848504,2.377037,478.135910,1.477234,484.568195,2.062583
33,Sweden,—,†,—,†,505.77795,3.090294,512.308282,2.983006,499.724575,...,476.916494,2.968833,495.052563,3.260762,492.804135,3.839862,503.012814,3.063025,501.763166,3.061714
34,Switzerland,—,†,—,†,517.951088,3.648198,534.577978,4.744244,522.716527,...,537.368778,3.513686,514.983162,3.511922,527.015533,3.234784,511.596413,3.540298,518.658139,2.971626
35,Turkey,—,†,—,†,415.093277,6.674796,430.228089,7.877434,420.734347,...,451.933741,5.106013,417.527010,4.853235,423.377693,4.594009,451.015096,2.872846,455.957953,3.159302
36,United Kingdom,—,†,—,†,505.14023,3.878819,511.80276,2.898963,487.167890,...,500.294931,4.195080,486.574589,3.082447,498.200531,2.943480,495.858381,3.028255,508.034098,3.222244
37,United States,—,†,—,†,479.714872,3.238677,485.962852,3.331709,470.060661,...,483.646991,3.810755,465.368529,3.443265,473.885734,3.631103,473.846214,3.303539,482.457691,3.904079

In [21]:
mathmf = mathmf.replace('—',np.nan,regex = True)
mathmf = mathmf.replace('†',np.nan,regex = True)
mathmf = mathmf.replace('‡',np.nan,regex = True)
mathmf

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003,female_avg_2006,...,male_avg_2012,male_se_2012,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
0,International Average (OECD),NaN,NaN,NaN,NaN,494.385685,0.635126,504.629354,0.698559,484.788448,...,495.617089,0.589378,483.260181,0.489667,491.029985,0.540876,486.665145,0.472058,491.869423,0.500661
1,Australia,NaN,NaN,NaN,NaN,521.550185,2.692823,526.892627,3.005998,512.532446,...,510.114851,2.405360,490.985501,2.482435,496.761345,2.147523,488.296647,2.462195,494.323798,2.414598
2,Austria,NaN,NaN,NaN,NaN,501.816064,3.960884,509.390083,3.950726,493.962184,...,516.681834,3.860736,483.133026,3.581920,510.098216,3.810942,492.200906,3.844890,505.483566,3.919636
3,Belgium,NaN,NaN,NaN,NaN,525.370177,3.234103,532.881507,3.395852,516.705868,...,520.081208,2.888659,499.739022,2.760838,514.002571,3.058726,502.046830,2.690216,514.131599,2.899440
4,Canada,NaN,NaN,NaN,NaN,529.602413,1.876195,540.774234,2.053585,519.862643,...,523.140270,2.142494,511.141726,2.567898,520.166125,2.851925,509.546253,2.707154,514.451017,2.526600
5,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,396.284317,...,435.524618,3.821439,413.448981,3.048182,431.798087,3.118422,413.626758,2.726706,421.091792,3.301876
6,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,359.808181,...,389.960416,3.420537,384.488336,2.400585,395.391121,3.288522,381.365275,3.146422,400.887168,3.755715
7,Czech Republic,NaN,NaN,NaN,NaN,508.868866,4.365218,523.842494,4.272319,503.905850,...,504.710097,3.726744,488.665606,2.780447,495.794165,3.259341,497.671595,3.166786,501.186538,2.947876
8,Denmark,NaN,NaN,NaN,NaN,506.150425,2.976751,522.727534,3.378849,507.903411,...,506.953235,2.877380,506.374750,2.790148,515.756468,2.535997,507.454311,2.272708,511.338930,2.262521
9,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,513.842859,...,523.214220,2.597195,516.872749,2.309177,522.080413,2.684800,519.187027,2.024660,527.638015,2.234814
10,Finland,NaN,NaN,NaN,NaN,540.596928,2.112468,548.002168,2.462724,542.545962,...,517.390885,2.627487,514.964997,2.589161,507.452840,2.609404,510.405712,2.174621,504.312432,2.542840
11,France,NaN,NaN,NaN,NaN,506.763198,2.919469,515.277835,3.551491,492.404770,...,499.354754,3.409718,489.954044,2.624874,495.931688,2.924903,492.184620,2.765962,498.544844,2.676313
12,Germany,NaN,NaN,NaN,NaN,498.897136,3.927241,507.872594,3.980329,493.726764,...,520.190107,3.041522,497.531079,2.994955,514.117652,3.480063,496.246322,3.061368,503.307917,2.986689
13,Greece,NaN,NaN,NaN,NaN,435.551049,3.847386,454.952480,4.750068,456.848686,...,457.038745,3.313262,453.573223,3.613524,453.682055,4.683001,451.206888,3.190330,451.529218,3.903026
14,Hungary,NaN,NaN,NaN,NaN,485.900977,3.305331,493.695839,3.330943,485.650442,...,481.749055,3.738725,472.739509,3.032374,480.905546,3.583164,476.717094,3.183903,485.530236,2.977049
15,Iceland,NaN,NaN,NaN,NaN,523.064692,2.170520,507.653569,2.279144,507.805362,...,489.719983,2.269236,488.586964,2.388060,487.445648,2.872707,500.062551,2.902331,490.247935,2.456308
16,Ireland,NaN,NaN,NaN,NaN,495.376235,3.393705,510.183745,3.008280,495.807005,...,509.034818,3.252860,495.444966,2.419949,511.579656,2.960044,496.676174,2.696633,502.623569,2.874127
17,Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,435.889910,...,472.397770,7.820277,465.516848,4.040655,473.990242,5.390978,467.386362,3.535948,458.193635,5.197163
18,Italy,NaN,NaN,NaN,NaN,457.090743,3.840621,474.916141,4.559714,453.459795,...,494.199436,2.441984,479.823743,3.401302,499.762113,3.540804,478.548682,3.129221,494.090670,3.343837
19,Japan,NaN,NaN,NaN,NaN,530.111796,3.971785,538.532220,5.809005,513.209934,...,544.884437,4.615455,525.495995,3.142007,539.267257,3.837986,522.034617,2.861900,532.156109,3.423327
20,Korea,NaN,NaN,NaN,NaN,528.307595,5.346404,551.714026,4.355174,542.764808,...,562.113944,5.820198,527.756666,3.938740,520.766939,5.236736,523.814005,4.042859,527.856148,4.121525
21,Latvia,NaN,NaN,NaN,NaN,482.026059,3.558147,484.838938,4.793341,483.628445,...,488.655452,3.393771,483.257255,2.459387,481.355785,2.583290,492.794754,2.457385,499.563002,2.249387
22,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,485.332990,...,478.909411,2.841414,479.017776,2.524441,477.767726,2.827830,482.453799,2.700011,479.982688,2.416710
23,Luxembourg,NaN,NaN,NaN,NaN,484.758611,1.527697,501.930335,1.855288,481.614315,...,502.192672,1.533006,480.136028,1.972817,491.483063,2.004714,479.624474,1.669850,487.114451,1.480154
24,Mexico,NaN,NaN,NaN,NaN,379.973614,4.074791,390.868894,4.274874,401.327032,...,420.410664,1.553964,404.334869,2.366774,411.610512,2.671213,403.165629,2.744339,414.917808,2.875198
25,Netherlands,NaN,NaN,NaN,NaN,535.215027,3.483528,540.330712,4.076586,524.129935,...,527.966576,3.560300,511.015941,2.452584,513.497847,2.590419,518.547572,2.663095,519.910894,3.498050
26,New Zealand,NaN,NaN,NaN,NaN,516.225331,3.196149,530.707630,2.769467,516.845949,...,507.111555,3.205259,490.921907,2.718529,499.470547,3.437699,490.021525,2.266336,498.888017,2.484715
27,Norway,NaN,NaN,NaN,NaN,492.048704,2.872478,498.270625,2.846970,486.657661,...,490.399398,2.795816,502.873656,2.330040,500.614926,2.881170,504.505443,2.617970,497.498508,2.537595
28,Poland,NaN,NaN,NaN,NaN,487.451173,2.945873,493.041304,2.969006,490.918654,...,519.563827,4.250461,498.646657,2.793382,510.087695,2.812635,514.948471,3.106904,516.348043,2.915460
29,Portugal,NaN,NaN,NaN,NaN,460.188020,3.443398,472.437031,4.178574,458.959393,...,492.703326,4.105355,486.599740,2.742706,496.560577,3.023930,487.913089,3.139629,496.931424,3.042144
30,Slovak Republic,NaN,NaN,NaN,NaN,488.629317,3.586774,507.289854,3.904155,484.735487,...,486.133511,4.092184,472.270799,3.607808,478.014762,2.975140,483.901956,3.227614,488.459058,3.156316
31,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,502.067567,...,502.747877,1.983271,507.949222,2.204935,511.763731,1.919975,508.590193,1.827920,509.190393,1.879971
32,Spain,NaN,NaN,NaN,NaN,480.744488,2.190145,489.605606,3.375692,475.629937,...,492.422392,2.421659,477.859261,2.766113,493.848504,2.377037,478.135910,1.477234,484.568195,2.062583
33,Sweden,NaN,NaN,NaN,NaN,505.777950,3.090294,512.308282,2.983006,499.724575,...,476.916494,2.968833,495.052563,3.260762,492.804135,3.839862,503.012814,3.063025,501.763166,3.061714
34,Switzerland,NaN,NaN,NaN,NaN,517.951088,3.648198,534.577978,4.744244,522.716527,...,537.368778,3.513686,514.983162,3.511922,527.015533,3.234784,511.596413,3.540298,518.658139,2.971626
35,Turkey,NaN,NaN,NaN,NaN,415.093277,6.674796,430.228089,7.877434,420.734347,...,451.933741,5.106013,417.527010,4.853235,423.377693,4.594009,451.015096,2.872846,455.957953,3.159302
36,United Kingdom,NaN,NaN,NaN,NaN,505.140230,3.878819,511.802760,2.898963,487.167890,...,500.294931,4.195080,486.574589,3.082447,498.200531,2.943480,495.858381,3.028255,508.034098,3.222244
37,United States,NaN,NaN,NaN,NaN,479.714872,3.238677,485.962852,3.331709,470.060661,...,483.646991,3.810755,465.368529,3.443265,473.885734,3.631103,473.846214,3.303539,482.457691,3.904079

In [22]:
scimf2000 = pd.read_excel("../data/2000/sci2000.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
scimf2000.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
scimf2000.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2000', 'Unnamed: 4': 'female_se_2000', 'Unnamed: 5': 'male_avg_2000', 'Unnamed: 6': 'male_se_2000'}, axis=1, inplace=True)
scimf2000 = scimf2000.drop(index=[38])
scimf2000

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000
0,International Average (OECD),—,†,—,†
1,Australia,—,†,—,†
2,Austria,—,†,—,†
3,Belgium,—,†,—,†
4,Canada,—,†,—,†
5,Chile,—,†,—,†
6,Colombia,—,†,—,†
7,Czech Republic,—,†,—,†
8,Denmark,—,†,—,†
9,Estonia,—,†,—,†
10,Finland,—,†,—,†
11,France,—,†,—,†
12,Germany,—,†,—,†
13,Greece,—,†,—,†
14,Hungary,—,†,—,†
15,Iceland,—,†,—,†
16,Ireland,—,†,—,†
17,Israel,—,†,—,†
18,Italy,—,†,—,†
19,Japan,—,†,—,†
20,Korea,—,†,—,†
21,Latvia,—,†,—,†
22,Lithuania,—,†,—,†
23,Luxembourg,—,†,—,†
24,Mexico,—,†,—,†
25,Netherlands,—,†,—,†
26,New Zealand,—,†,—,†
27,Norway,—,†,—,†
28,Poland,—,†,—,†
29,Portugal,—,†,—,†
30,Slovak Republic,—,†,—,†
31,Slovenia,—,†,—,†
32,Spain,—,†,—,†
33,Sweden,—,†,—,†
34,Switzerland,—,†,—,†
35,Turkey,—,†,—,†
36,United Kingdom,—,†,—,†
37,United States,—,†,—,†

In [23]:
scimf2003 = pd.read_excel("../data/2003/sci2003.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
scimf2003.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
scimf2003.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2003', 'Unnamed: 4': 'female_se_2003', 'Unnamed: 5': 'male_avg_2003', 'Unnamed: 6': 'male_se_2003'}, axis=1, inplace=True)
scimf2003 = scimf2003.drop(index=[38])
scimf2003

,Countries,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003
0,International Average (OECD),—,†,—,†
1,Australia,—,†,—,†
2,Austria,—,†,—,†
3,Belgium,—,†,—,†
4,Canada,—,†,—,†
5,Chile,—,†,—,†
6,Colombia,—,†,—,†
7,Czech Republic,—,†,—,†
8,Denmark,—,†,—,†
9,Estonia,—,†,—,†
10,Finland,—,†,—,†
11,France,—,†,—,†
12,Germany,—,†,—,†
13,Greece,—,†,—,†
14,Hungary,—,†,—,†
15,Iceland,—,†,—,†
16,Ireland,—,†,—,†
17,Israel,—,†,—,†
18,Italy,—,†,—,†
19,Japan,—,†,—,†
20,Korea,—,†,—,†
21,Latvia,—,†,—,†
22,Lithuania,—,†,—,†
23,Luxembourg,—,†,—,†
24,Mexico,—,†,—,†
25,Netherlands,—,†,—,†
26,New Zealand,—,†,—,†
27,Norway,—,†,—,†
28,Poland,—,†,—,†
29,Portugal,—,†,—,†
30,Slovak Republic,—,†,—,†
31,Slovenia,—,†,—,†
32,Spain,—,†,—,†
33,Sweden,—,†,—,†
34,Switzerland,—,†,—,†
35,Turkey,—,†,—,†
36,United Kingdom,—,†,—,†
37,United States,—,†,—,†

In [24]:
scimf2006 = pd.read_excel("../data/2006/sci2006.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
scimf2006.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
scimf2006.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2006', 'Unnamed: 4': 'female_se_2006', 'Unnamed: 5': 'male_avg_2006', 'Unnamed: 6': 'male_se_2006'}, axis=1, inplace=True)
scimf2006 = scimf2006.drop(index=[38])
scimf2006

,Countries,female_avg_2006,female_se_2006,male_avg_2006,male_se_2006
0,International Average (OECD),493.821660,0.555930,495.760719,0.614776
1,Australia,526.855075,2.652703,526.903011,3.191763
2,Austria,507.001603,4.947137,514.531573,4.234091
3,Belgium,509.971040,3.162233,510.719669,3.291896
4,Canada,532.422819,2.118843,536.495866,2.489941
5,Chile,426.488374,4.422395,448.131282,5.366650
6,Colombia,383.886779,4.146348,392.884792,4.124880
7,Czech Republic,510.133120,4.765704,514.954300,4.196905
8,Denmark,491.452416,3.418157,500.385350,3.584220
9,Estonia,533.296904,2.850154,529.575787,3.052219
10,Finland,564.862456,2.394473,561.761316,2.557400
11,France,493.936736,3.567103,496.579607,4.268966
12,Germany,511.964847,3.796164,519.107124,4.584058
13,Greece,479.111772,3.356801,467.703003,4.471672
14,Hungary,500.557468,3.532235,507.037452,3.261910
15,Iceland,493.905053,2.107729,487.731618,2.622215
16,Ireland,508.525305,3.305418,508.127873,4.327784
17,Israel,452.189497,4.170021,455.644285,5.614186
18,Italy,473.886048,2.498157,476.935785,2.847763
19,Japan,529.755963,5.136716,533.012574,4.861103
20,Korea,523.093137,3.853235,521.229358,4.801949
21,Latvia,492.957976,3.154223,485.939741,3.511274
22,Lithuania,492.654664,3.100650,483.425122,3.071395
23,Luxembourg,481.595936,1.797402,490.940303,1.807641
24,Mexico,406.449551,2.637480,413.104784,3.213076
25,Netherlands,521.196986,3.054636,528.393055,3.214096
26,New Zealand,532.197361,3.565541,528.450322,3.913922
27,Norway,488.787463,3.199885,484.416269,3.841047
28,Poland,496.129046,2.611014,499.506830,2.694131
29,Portugal,471.869425,3.166801,476.913193,3.740729
30,Slovak Republic,485.230554,3.011016,491.462214,3.914369
31,Slovenia,522.696605,1.896557,514.903407,2.035620
32,Spain,486.221839,2.714905,490.578707,2.923856
33,Sweden,502.680161,2.916050,503.955593,2.683668
34,Switzerland,508.657600,3.618483,514.215343,3.270556
35,Turkey,430.357668,4.121767,418.429833,4.559126
36,United Kingdom,509.788815,2.764865,519.850195,2.959973
37,United States,488.633370,3.980314,489.210064,5.085615

In [25]:
scimf2009 = pd.read_excel("../data/2009/sci2009.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
scimf2009.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
scimf2009.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2009', 'Unnamed: 4': 'female_se_2009', 'Unnamed: 5': 'male_avg_2009', 'Unnamed: 6': 'male_se_2009'}, axis=1, inplace=True)
scimf2009 = scimf2009.drop(index=[38])
scimf2009

,Countries,female_avg_2009,female_se_2009,male_avg_2009,male_se_2009
0,International Average (OECD),497.746553,0.535173,497.757325,0.599114
1,Australia,527.721888,2.843281,526.798976,3.132617
2,Austria,490.465346,4.434539,498.339893,4.168197
3,Belgium,503.285095,3.172676,509.726339,3.600942
4,Canada,526.367624,1.885576,531.011754,1.873511
5,Chile,442.879332,3.462696,451.878329,3.499126
6,Colombia,391.643198,3.710708,412.868382,4.338185
7,Czech Republic,503.074357,3.241158,498.231584,4.002835
8,Denmark,493.615695,2.907783,505.174988,2.984580
9,Estonia,528.250790,3.107213,527.441345,3.119846
10,Finland,561.838899,2.576174,546.351806,2.731089
11,France,496.598716,3.487264,499.939092,4.649851
12,Germany,517.593891,3.284391,523.097170,3.698561
13,Greece,474.886438,3.680377,465.171735,5.073875
14,Hungary,502.586498,3.536020,502.698061,3.808745
15,Iceland,494.714533,1.976442,496.492401,2.050528
16,Ireland,509.358486,3.809488,506.644230,4.260131
17,Israel,456.212663,3.173977,453.439243,4.370285
18,Italy,489.824950,2.029319,487.891834,2.504146
19,Japan,545.447420,3.893977,533.786834,5.488970
20,Korea,539.261396,4.214020,536.843993,5.010403
21,Latvia,497.236329,3.212613,490.431681,3.748741
22,Lithuania,500.124004,2.942477,482.935869,3.514633
23,Luxembourg,480.483140,1.567230,487.283466,1.961651
24,Mexico,412.724966,1.878501,419.169662,2.037549
25,Netherlands,520.269331,5.929415,524.187958,5.310909
26,New Zealand,535.153634,2.903379,528.987120,3.950764
27,Norway,501.707163,2.830007,498.124605,3.042448
28,Poland,511.022742,2.813371,505.116963,2.697809
29,Portugal,494.655573,3.037232,491.165813,3.381239
30,Slovak Republic,490.547977,3.224506,489.978780,4.008734
31,Slovenia,518.827409,1.609863,504.965810,1.747581
32,Spain,484.595164,2.256896,491.796723,2.476813
33,Sweden,496.951937,3.233670,493.316723,2.987483
34,Switzerland,512.492621,2.976162,520.488578,3.232235
35,Turkey,460.175979,4.516753,448.032509,3.776737
36,United Kingdom,509.075253,3.150011,518.521152,3.599785
37,United States,494.952023,3.710066,508.689630,4.241084

In [26]:
scimf2012 = pd.read_excel("../data/2012/sci2012.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
scimf2012.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
scimf2012.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2012', 'Unnamed: 4': 'female_se_2012', 'Unnamed: 5': 'male_avg_2012', 'Unnamed: 6': 'male_se_2012'}, axis=1, inplace=True)
scimf2012 = scimf2012.drop(index=[38])
scimf2012

,Countries,female_avg_2012,female_se_2012,male_avg_2012,male_se_2012
0,International Average (OECD),497.767676,0.510891,498.760715,0.595349
1,Australia,519.124475,2.097372,523.728209,2.508216
2,Austria,501.478519,3.430807,510.108294,3.934708
3,Belgium,502.899901,2.635283,506.820399,3.018334
4,Canada,524.036970,1.968948,526.850779,2.407290
5,Chile,441.645267,2.894258,448.441062,3.659581
6,Colombia,390.384636,3.598922,407.993992,3.414057
7,Czech Republic,507.854965,3.469656,508.721012,3.652734
8,Denmark,493.363037,2.538497,503.533120,3.509573
9,Estonia,542.607934,2.268522,540.177199,2.450806
10,Finland,553.893406,2.284105,537.436241,2.978143
11,France,500.157117,2.419349,497.716343,3.824260
12,Germany,524.390924,3.521251,523.859893,3.100262
13,Greece,473.298200,3.047030,460.020071,3.819711
14,Hungary,492.802927,3.301852,495.912551,3.440799
15,Iceland,479.669495,2.862753,476.675998,2.691413
16,Ireland,519.999950,3.142796,523.942303,3.446123
17,Israel,470.419351,3.963474,469.714836,7.927892
18,Italy,492.086801,2.369003,494.897125,2.242195
19,Japan,540.959411,3.539893,551.947328,4.660594
20,Korea,535.929535,4.205153,539.407713,4.657888
21,Latvia,509.973137,2.815145,494.537918,3.606117
22,Lithuania,503.241692,2.594982,488.272965,2.981576
23,Luxembourg,483.484224,1.694084,498.714905,1.733417
24,Mexico,411.835991,1.307757,418.127883,1.530119
25,Netherlands,520.415014,3.937350,523.621660,3.667557
26,New Zealand,513.296809,3.332990,517.875114,3.191528
27,Norway,496.346332,3.735726,492.791902,3.217210
28,Poland,527.148615,3.193755,524.420514,3.734465
29,Portugal,490.224244,3.842822,488.346176,4.066496
30,Slovak Republic,467.385222,4.199366,474.658145,4.259533
31,Slovenia,518.717402,1.861115,509.882264,1.947678
32,Spain,492.658316,1.914525,500.119303,2.269009
33,Sweden,488.512713,2.780602,481.150867,3.944862
34,Switzerland,512.330532,2.739764,518.255093,3.272526
35,Turkey,468.622150,4.262904,458.316227,4.514124
36,United Kingdom,507.883441,3.677520,520.621552,4.474913
37,United States,498.325372,3.954331,496.529484,4.051668

In [27]:
scimf2015 = pd.read_excel("../data/2015/sci2015.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
scimf2015.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
scimf2015.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2015', 'Unnamed: 4': 'female_se_2015', 'Unnamed: 5': 'male_avg_2015', 'Unnamed: 6': 'male_se_2015'}, axis=1, inplace=True)
scimf2015 = scimf2015.drop(index=[38])
scimf2015

,Countries,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015
0,International Average (OECD),488.936110,0.475079,492.332852,0.524280
1,Australia,508.921647,1.715724,511.049258,2.118247
2,Austria,485.526754,3.148127,504.371198,3.569450
3,Belgium,496.031867,2.730095,507.780477,3.068145
4,Canada,527.156185,2.252454,528.254766,2.523945
5,Chile,439.617404,2.673285,454.218618,3.098245
6,Colombia,411.031599,2.439156,420.965112,3.104745
7,Czech Republic,488.398280,2.493226,497.030403,3.304471
8,Denmark,498.902704,3.165920,504.942713,2.614963
9,Estonia,532.522780,2.263490,535.798590,2.723215
10,Finland,540.511822,2.637136,521.479675,2.715946
11,France,494.034209,2.655415,495.935280,2.704794
12,Germany,503.812120,2.771405,514.283669,3.219138
13,Greece,459.417742,3.875207,450.598395,4.645800
14,Hungary,475.248395,2.947086,478.240509,3.353954
15,Iceland,474.655614,2.122805,471.717662,2.641078
16,Ireland,497.173957,2.619232,507.702613,3.158319
17,Israel,464.447672,4.087718,468.743212,4.685224
18,Italy,472.118973,3.555705,489.083799,3.132370
19,Japan,531.532899,2.879498,545.141486,4.142566
20,Korea,520.832928,3.269401,511.215067,4.591977
21,Latvia,495.579149,2.215197,484.887176,1.995816
22,Lithuania,479.161819,2.786229,471.766920,3.268840
23,Luxembourg,479.013110,1.547136,486.652057,1.666779
24,Mexico,411.553579,2.280596,419.751733,2.563420
25,Netherlands,506.518092,2.463114,510.645169,2.911175
26,New Zealand,510.725028,2.736618,515.849590,3.204048
27,Norway,497.001380,2.681543,499.923385,2.691856
28,Poland,498.303236,2.830855,504.457611,2.949130
29,Portugal,496.055222,2.551913,506.050955,2.850445
30,Slovak Republic,461.215261,3.312152,460.360442,2.977230
31,Slovenia,515.773578,1.877789,510.140123,1.917003
32,Spain,489.456046,2.473219,496.125124,2.462171
33,Sweden,495.718308,3.703237,491.167799,4.116902
34,Switzerland,502.305933,3.512984,508.449165,3.088361
35,Turkey,428.654773,4.405400,422.327767,4.503275
36,United Kingdom,508.840926,3.294798,509.590352,2.891680
37,United States,492.865072,3.403776,499.617639,3.669937

In [28]:
scimf2018 = pd.read_excel("../data/2018/sci2018.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,51,52,53,54,55,56])
scimf2018.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
scimf2018.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'female_avg_2018', 'Unnamed: 4': 'female_se_2018', 'Unnamed: 5': 'male_avg_2018', 'Unnamed: 6': 'male_se_2018'}, axis=1, inplace=True)
scimf2018 = scimf2018.drop(index=[38])
scimf2018

,Countries,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
0,International Average (OECD),489.814075,0.471969,487.523089,0.501317
1,Australia,502.168470,2.012291,503.734771,2.378592
2,Austria,488.628863,3.604731,490.897825,3.839951
3,Belgium,496.370479,2.721623,501.190860,2.612456
4,Canada,519.559362,2.472418,516.460473,2.693775
5,Chile,441.811226,2.635959,445.309586,3.163026
6,Colombia,407.285406,2.905021,419.605375,3.832666
7,Czech Republic,497.624143,3.105470,495.994262,3.191503
8,Denmark,493.708845,2.230355,491.567156,2.521286
9,Estonia,532.590131,2.265134,527.628297,2.256988
10,Finland,534.042624,2.925927,510.178543,2.925287
11,France,493.459968,2.757756,492.507020,2.652703
12,Germany,503.565807,3.326466,502.493021,3.215552
13,Greece,457.359819,3.241040,446.066189,3.789725
14,Hungary,477.879959,3.056999,484.000415,3.091079
15,Iceland,479.226056,2.751599,470.766765,2.300172
16,Ireland,496.851379,2.607928,495.367272,2.982367
17,Israel,471.331584,3.538747,452.035004,5.325768
18,Italy,466.331481,2.596661,469.579062,3.014455
19,Japan,527.777849,3.029155,530.560154,3.543277
20,Korea,516.888382,3.627892,520.930288,3.860544
21,Latvia,491.382334,2.375455,482.988507,2.221962
22,Lithuania,485.181083,2.062544,479.086400,2.321724
23,Luxembourg,479.093175,1.697382,474.509313,1.653378
24,Mexico,414.704148,2.925038,424.088992,2.769713
25,Netherlands,507.505043,3.059379,499.283696,3.642121
26,New Zealand,507.646799,2.815084,509.321459,2.892230
27,Norway,495.797298,2.836182,485.145107,2.550484
28,Poland,511.172212,3.052510,510.898763,2.813165
29,Portugal,489.096497,3.300319,494.184645,3.015805
30,Slovak Republic,466.838607,3.030911,461.217937,2.847329
31,Slovenia,511.999066,1.969576,502.249596,1.599180
32,Spain,482.033794,1.839349,484.439947,1.886563
33,Sweden,503.246850,3.681931,495.646034,3.164456
34,Switzerland,495.452327,3.294440,495.117997,3.336415
35,Turkey,472.035110,2.502321,464.627826,2.864563
36,United Kingdom,503.472768,3.177690,505.933456,3.094958
37,United States,502.001844,3.479127,502.742267,3.907107

In [29]:
scimf = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(scimf2000,scimf2003,on='Countries'), scimf2006, on='Countries'), scimf2009, on='Countries'), scimf2012, on='Countries'),scimf2015, on='Countries'), scimf2018, on='Countries')
scimf

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003,female_avg_2006,...,male_avg_2012,male_se_2012,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
0,International Average (OECD),—,†,—,†,—,†,—,†,493.821660,...,498.760715,0.595349,488.936110,0.475079,492.332852,0.524280,489.814075,0.471969,487.523089,0.501317
1,Australia,—,†,—,†,—,†,—,†,526.855075,...,523.728209,2.508216,508.921647,1.715724,511.049258,2.118247,502.168470,2.012291,503.734771,2.378592
2,Austria,—,†,—,†,—,†,—,†,507.001603,...,510.108294,3.934708,485.526754,3.148127,504.371198,3.569450,488.628863,3.604731,490.897825,3.839951
3,Belgium,—,†,—,†,—,†,—,†,509.971040,...,506.820399,3.018334,496.031867,2.730095,507.780477,3.068145,496.370479,2.721623,501.190860,2.612456
4,Canada,—,†,—,†,—,†,—,†,532.422819,...,526.850779,2.407290,527.156185,2.252454,528.254766,2.523945,519.559362,2.472418,516.460473,2.693775
5,Chile,—,†,—,†,—,†,—,†,426.488374,...,448.441062,3.659581,439.617404,2.673285,454.218618,3.098245,441.811226,2.635959,445.309586,3.163026
6,Colombia,—,†,—,†,—,†,—,†,383.886779,...,407.993992,3.414057,411.031599,2.439156,420.965112,3.104745,407.285406,2.905021,419.605375,3.832666
7,Czech Republic,—,†,—,†,—,†,—,†,510.133120,...,508.721012,3.652734,488.398280,2.493226,497.030403,3.304471,497.624143,3.105470,495.994262,3.191503
8,Denmark,—,†,—,†,—,†,—,†,491.452416,...,503.533120,3.509573,498.902704,3.165920,504.942713,2.614963,493.708845,2.230355,491.567156,2.521286
9,Estonia,—,†,—,†,—,†,—,†,533.296904,...,540.177199,2.450806,532.522780,2.263490,535.798590,2.723215,532.590131,2.265134,527.628297,2.256988
10,Finland,—,†,—,†,—,†,—,†,564.862456,...,537.436241,2.978143,540.511822,2.637136,521.479675,2.715946,534.042624,2.925927,510.178543,2.925287
11,France,—,†,—,†,—,†,—,†,493.936736,...,497.716343,3.824260,494.034209,2.655415,495.935280,2.704794,493.459968,2.757756,492.507020,2.652703
12,Germany,—,†,—,†,—,†,—,†,511.964847,...,523.859893,3.100262,503.812120,2.771405,514.283669,3.219138,503.565807,3.326466,502.493021,3.215552
13,Greece,—,†,—,†,—,†,—,†,479.111772,...,460.020071,3.819711,459.417742,3.875207,450.598395,4.645800,457.359819,3.241040,446.066189,3.789725
14,Hungary,—,†,—,†,—,†,—,†,500.557468,...,495.912551,3.440799,475.248395,2.947086,478.240509,3.353954,477.879959,3.056999,484.000415,3.091079
15,Iceland,—,†,—,†,—,†,—,†,493.905053,...,476.675998,2.691413,474.655614,2.122805,471.717662,2.641078,479.226056,2.751599,470.766765,2.300172
16,Ireland,—,†,—,†,—,†,—,†,508.525305,...,523.942303,3.446123,497.173957,2.619232,507.702613,3.158319,496.851379,2.607928,495.367272,2.982367
17,Israel,—,†,—,†,—,†,—,†,452.189497,...,469.714836,7.927892,464.447672,4.087718,468.743212,4.685224,471.331584,3.538747,452.035004,5.325768
18,Italy,—,†,—,†,—,†,—,†,473.886048,...,494.897125,2.242195,472.118973,3.555705,489.083799,3.132370,466.331481,2.596661,469.579062,3.014455
19,Japan,—,†,—,†,—,†,—,†,529.755963,...,551.947328,4.660594,531.532899,2.879498,545.141486,4.142566,527.777849,3.029155,530.560154,3.543277
20,Korea,—,†,—,†,—,†,—,†,523.093137,...,539.407713,4.657888,520.832928,3.269401,511.215067,4.591977,516.888382,3.627892,520.930288,3.860544
21,Latvia,—,†,—,†,—,†,—,†,492.957976,...,494.537918,3.606117,495.579149,2.215197,484.887176,1.995816,491.382334,2.375455,482.988507,2.221962
22,Lithuania,—,†,—,†,—,†,—,†,492.654664,...,488.272965,2.981576,479.161819,2.786229,471.766920,3.268840,485.181083,2.062544,479.086400,2.321724
23,Luxembourg,—,†,—,†,—,†,—,†,481.595936,...,498.714905,1.733417,479.013110,1.547136,486.652057,1.666779,479.093175,1.697382,474.509313,1.653378
24,Mexico,—,†,—,†,—,†,—,†,406.449551,...,418.127883,1.530119,411.553579,2.280596,419.751733,2.563420,414.704148,2.925038,424.088992,2.769713
25,Netherlands,—,†,—,†,—,†,—,†,521.196986,...,523.621660,3.667557,506.518092,2.463114,510.645169,2.911175,507.505043,3.059379,499.283696,3.642121
26,New Zealand,—,†,—,†,—,†,—,†,532.197361,...,517.875114,3.191528,510.725028,2.736618,515.849590,3.204048,507.646799,2.815084,509.321459,2.892230
27,Norway,—,†,—,†,—,†,—,†,488.787463,...,492.791902,3.217210,497.001380,2.681543,499.923385,2.691856,495.797298,2.836182,485.145107,2.550484
28,Poland,—,†,—,†,—,†,—,†,496.129046,...,524.420514,3.734465,498.303236,2.830855,504.457611,2.949130,511.172212,3.052510,510.898763,2.813165
29,Portugal,—,†,—,†,—,†,—,†,471.869425,...,488.346176,4.066496,496.055222,2.551913,506.050955,2.850445,489.096497,3.300319,494.184645,3.015805
30,Slovak Republic,—,†,—,†,—,†,—,†,485.230554,...,474.658145,4.259533,461.215261,3.312152,460.360442,2.977230,466.838607,3.030911,461.217937,2.847329
31,Slovenia,—,†,—,†,—,†,—,†,522.696605,...,509.882264,1.947678,515.773578,1.877789,510.140123,1.917003,511.999066,1.969576,502.249596,1.599180
32,Spain,—,†,—,†,—,†,—,†,486.221839,...,500.119303,2.269009,489.456046,2.473219,496.125124,2.462171,482.033794,1.839349,484.439947,1.886563
33,Sweden,—,†,—,†,—,†,—,†,502.680161,...,481.150867,3.944862,495.718308,3.703237,491.167799,4.116902,503.246850,3.681931,495.646034,3.164456
34,Switzerland,—,†,—,†,—,†,—,†,508.657600,...,518.255093,3.272526,502.305933,3.512984,508.449165,3.088361,495.452327,3.294440,495.117997,3.336415
35,Turkey,—,†,—,†,—,†,—,†,430.357668,...,458.316227,4.514124,428.654773,4.405400,422.327767,4.503275,472.035110,2.502321,464.627826,2.864563
36,United Kingdom,—,†,—,†,—,†,—,†,509.788815,...,520.621552,4.474913,508.840926,3.294798,509.590352,2.891680,503.472768,3.177690,505.933456,3.094958
37,United States,—,†,—,†,—,†,—,†,488.633370,...,496.529484,4.051668,492.865072,3.403776,499.617639,3.669937,502.001844,3.479127,502.742267,3.907107

In [30]:
scimf = scimf.replace('—',np.nan,regex = True)
scihmf = scimf.replace('†',np.nan,regex = True)
scimf = scimf.replace('‡',np.nan,regex = True)
scimf = scimf.replace('†',np.nan,regex = True)
scimf

,Countries,female_avg_2000,female_se_2000,male_avg_2000,male_se_2000,female_avg_2003,female_se_2003,male_avg_2003,male_se_2003,female_avg_2006,...,male_avg_2012,male_se_2012,female_avg_2015,female_se_2015,male_avg_2015,male_se_2015,female_avg_2018,female_se_2018,male_avg_2018,male_se_2018
0,International Average (OECD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,493.821660,...,498.760715,0.595349,488.936110,0.475079,492.332852,0.524280,489.814075,0.471969,487.523089,0.501317
1,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,526.855075,...,523.728209,2.508216,508.921647,1.715724,511.049258,2.118247,502.168470,2.012291,503.734771,2.378592
2,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507.001603,...,510.108294,3.934708,485.526754,3.148127,504.371198,3.569450,488.628863,3.604731,490.897825,3.839951
3,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,509.971040,...,506.820399,3.018334,496.031867,2.730095,507.780477,3.068145,496.370479,2.721623,501.190860,2.612456
4,Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532.422819,...,526.850779,2.407290,527.156185,2.252454,528.254766,2.523945,519.559362,2.472418,516.460473,2.693775
5,Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426.488374,...,448.441062,3.659581,439.617404,2.673285,454.218618,3.098245,441.811226,2.635959,445.309586,3.163026
6,Colombia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,383.886779,...,407.993992,3.414057,411.031599,2.439156,420.965112,3.104745,407.285406,2.905021,419.605375,3.832666
7,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,510.133120,...,508.721012,3.652734,488.398280,2.493226,497.030403,3.304471,497.624143,3.105470,495.994262,3.191503
8,Denmark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491.452416,...,503.533120,3.509573,498.902704,3.165920,504.942713,2.614963,493.708845,2.230355,491.567156,2.521286
9,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,533.296904,...,540.177199,2.450806,532.522780,2.263490,535.798590,2.723215,532.590131,2.265134,527.628297,2.256988
10,Finland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,564.862456,...,537.436241,2.978143,540.511822,2.637136,521.479675,2.715946,534.042624,2.925927,510.178543,2.925287
11,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,493.936736,...,497.716343,3.824260,494.034209,2.655415,495.935280,2.704794,493.459968,2.757756,492.507020,2.652703
12,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,511.964847,...,523.859893,3.100262,503.812120,2.771405,514.283669,3.219138,503.565807,3.326466,502.493021,3.215552
13,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,479.111772,...,460.020071,3.819711,459.417742,3.875207,450.598395,4.645800,457.359819,3.241040,446.066189,3.789725
14,Hungary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.557468,...,495.912551,3.440799,475.248395,2.947086,478.240509,3.353954,477.879959,3.056999,484.000415,3.091079
15,Iceland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,493.905053,...,476.675998,2.691413,474.655614,2.122805,471.717662,2.641078,479.226056,2.751599,470.766765,2.300172
16,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,508.525305,...,523.942303,3.446123,497.173957,2.619232,507.702613,3.158319,496.851379,2.607928,495.367272,2.982367
17,Israel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,452.189497,...,469.714836,7.927892,464.447672,4.087718,468.743212,4.685224,471.331584,3.538747,452.035004,5.325768
18,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,473.886048,...,494.897125,2.242195,472.118973,3.555705,489.083799,3.132370,466.331481,2.596661,469.579062,3.014455
19,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529.755963,...,551.947328,4.660594,531.532899,2.879498,545.141486,4.142566,527.777849,3.029155,530.560154,3.543277
20,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,523.093137,...,539.407713,4.657888,520.832928,3.269401,511.215067,4.591977,516.888382,3.627892,520.930288,3.860544
21,Latvia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,492.957976,...,494.537918,3.606117,495.579149,2.215197,484.887176,1.995816,491.382334,2.375455,482.988507,2.221962
22,Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,492.654664,...,488.272965,2.981576,479.161819,2.786229,471.766920,3.268840,485.181083,2.062544,479.086400,2.321724
23,Luxembourg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,481.595936,...,498.714905,1.733417,479.013110,1.547136,486.652057,1.666779,479.093175,1.697382,474.509313,1.653378
24,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,406.449551,...,418.127883,1.530119,411.553579,2.280596,419.751733,2.563420,414.704148,2.925038,424.088992,2.769713
25,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,521.196986,...,523.621660,3.667557,506.518092,2.463114,510.645169,2.911175,507.505043,3.059379,499.283696,3.642121
26,New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,532.197361,...,517.875114,3.191528,510.725028,2.736618,515.849590,3.204048,507.646799,2.815084,509.321459,2.892230
27,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488.787463,...,492.791902,3.217210,497.001380,2.681543,499.923385,2.691856,495.797298,2.836182,485.145107,2.550484
28,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,496.129046,...,524.420514,3.734465,498.303236,2.830855,504.457611,2.949130,511.172212,3.052510,510.898763,2.813165
29,Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,471.869425,...,488.346176,4.066496,496.055222,2.551913,506.050955,2.850445,489.096497,3.300319,494.184645,3.015805
30,Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,485.230554,...,474.658145,4.259533,461.215261,3.312152,460.360442,2.977230,466.838607,3.030911,461.217937,2.847329
31,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,522.696605,...,509.882264,1.947678,515.773578,1.877789,510.140123,1.917003,511.999066,1.969576,502.249596,1.599180
32,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,486.221839,...,500.119303,2.269009,489.456046,2.473219,496.125124,2.462171,482.033794,1.839349,484.439947,1.886563
33,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,502.680161,...,481.150867,3.944862,495.718308,3.703237,491.167799,4.116902,503.246850,3.681931,495.646034,3.164456
34,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,508.657600,...,518.255093,3.272526,502.305933,3.512984,508.449165,3.088361,495.452327,3.294440,495.117997,3.336415
35,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430.357668,...,458.316227,4.514124,428.654773,4.405400,422.327767,4.503275,472.035110,2.502321,464.627826,2.864563
36,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,509.788815,...,520.621552,4.474913,508.840926,3.294798,509.590352,2.891680,503.472768,3.177690,505.933456,3.094958
37,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488.633370,...,496.529484,4.051668,492.865072,3.403776,499.617639,3.669937,502.001844,3.479127,502.742267,3.907107

In [31]:
from openpyxl import load_workbook

ExcelWorkbook = load_workbook('../data/Trends_MF.xlsx')

writer = pd.ExcelWriter('../data/Trends_MF.xlsx', engine = 'openpyxl')

writer.book = ExcelWorkbook

mathmf.to_excel(writer, sheet_name = 'Math')
scimf.to_excel(writer, sheet_name = 'Science')
writer.save()
writer.close()

/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_69233/2072870134.py:7: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = ExcelWorkbook
/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_69233/2072870134.py:11: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [32]:
readingf = readingmf[['Countries','female_avg_2000','female_avg_2003','female_avg_2006', 'female_avg_2009','female_avg_2012','female_avg_2015','female_avg_2018']]
readingf

,Countries,female_avg_2000,female_avg_2003,female_avg_2006,female_avg_2009,female_avg_2012,female_avg_2015,female_avg_2018
0,International Average (OECD),510.020647,511.624695,504.859846,510.044748,512.379080,503.789220,502.081127
1,Australia,546.251223,545.425124,531.754388,532.853721,529.542280,518.865799,518.572084
2,Austria,509.168003,514.353350,512.912207,490.487348,508.021472,495.075190,498.652688
3,Belgium,525.208512,526.225709,521.728314,519.806073,524.602442,506.638599,503.687235
4,Canada,551.133144,545.525389,543.043598,541.527233,540.653353,539.762386,534.669187
5,Chile,421.101175,NaN,451.251972,460.620970,452.371146,464.561642,462.302440
6,Colombia,NaN,NaN,393.913355,417.608491,412.136656,432.281926,417.356222
7,Czech Republic,510.081930,504.395833,508.607677,503.979551,512.790193,500.652660,507.180001
8,Denmark,510.246252,504.796370,509.298658,509.188081,511.528855,510.951613,515.814342
9,Estonia,NaN,NaN,524.186345,523.837036,537.832867,533.361982,538.352885
10,Finland,571.363658,565.411553,571.987035,563.481814,555.708154,550.511162,546.341708
11,France,519.062924,514.294506,504.628988,515.181138,526.765410,513.764020,505.223672
12,Germany,502.197894,512.927051,516.620373,517.589411,530.119113,519.674109,512.208993
13,Greece,492.719488,490.370609,488.148882,505.925069,502.197789,486.460030,478.786282
14,Hungary,496.167592,498.204726,502.977577,513.254288,507.548867,481.959566,489.107893
15,Iceland,528.128967,521.566183,508.865418,522.245050,508.389847,501.716697,494.146418
16,Ireland,541.518331,530.100873,534.001287,515.478484,537.668885,526.949085,529.624902
17,Israel,459.393287,NaN,459.538284,494.737000,507.451094,490.164952,493.203757
18,Italy,507.369513,494.585095,488.976681,509.547561,509.945280,492.709122,489.082704
19,Japan,536.912204,508.981895,513.285638,539.934740,550.723537,522.655281,513.820504
20,Korea,532.715624,546.731165,573.781294,557.982545,548.206690,538.609218,526.406275
21,Latvia,484.710511,509.142767,503.803591,507.342495,516.306215,508.825068,494.844375
22,Lithuania,NaN,NaN,496.246399,498.223321,505.069833,492.242317,495.628342
23,Luxembourg,455.714991,495.663506,495.399477,492.136454,503.023528,492.034823,484.813844
24,Mexico,431.746581,410.065401,426.666666,437.578500,435.272499,431.232214,425.800462
25,Netherlands,NaN,523.778151,519.045583,520.508563,524.760776,514.703456,499.245394
26,New Zealand,552.620956,535.352672,539.117653,544.175237,529.765066,525.519856,520.262374
27,Norway,528.817851,524.542528,508.041622,527.397287,527.771189,533.356000,523.197443
28,Poland,497.497816,516.327810,527.565470,525.323156,538.686546,520.674640,528.243353
29,Portugal,482.370173,494.861583,488.168149,507.934144,507.562099,506.551767,504.103460
30,Slovak Republic,NaN,485.820259,487.757838,502.874423,483.303106,470.862720,475.079778
31,Slovenia,NaN,NaN,521.105267,511.029897,510.149539,527.553867,516.711050
32,Spain,505.351462,499.783289,478.724933,495.735519,502.510818,505.684720,NaN
33,Sweden,535.593573,532.659246,528.058808,520.559413,509.134939,519.949815,522.955080
34,Switzerland,510.022852,517.485354,515.171890,520.239947,527.063514,505.373160,500.035214
35,Turkey,NaN,459.311604,471.042415,486.300445,498.639974,442.246080,478.380324
36,United Kingdom,537.191261,520.373092,509.530710,506.512865,511.533775,509.090391,513.699026
37,United States,518.241650,511.302852,NaN,512.518388,513.268608,506.975197,517.380863

In [33]:
readingf.to_excel('../data/reading_gender.xlsx', sheet_name='Female')

In [34]:
readingm = readingmf[['Countries','male_avg_2000','male_avg_2003','male_avg_2006', 'male_avg_2009','male_avg_2012','male_avg_2015','male_avg_2018']]
readingm

,Countries,male_avg_2000,male_avg_2003,male_avg_2006,male_avg_2009,male_avg_2012,male_avg_2015,male_avg_2018
0,International Average (OECD),477.912949,476.820156,466.338406,470.981148,474.362727,476.869866,472.395099
1,Australia,512.645471,506.085696,494.872864,496.143991,495.089560,487.185526,487.209666
2,Austria,475.770710,467.131762,468.311688,449.295830,471.093138,474.846033,470.555838
3,Belgium,492.394742,489.326567,481.997196,492.673632,492.755224,490.664155,481.973695
4,Canada,518.922764,513.997502,511.142449,507.182200,505.530210,513.535458,505.726865
5,Chile,396.493977,NaN,434.290608,438.552453,429.696173,452.642242,442.493596
6,Colombia,NaN,NaN,375.262054,408.311520,393.592848,416.681626,407.028743
7,Czech Republic,472.639838,473.103858,462.841702,455.514388,473.983362,474.547463,473.986384
8,Denmark,485.409289,479.386544,479.503383,480.353046,480.890314,488.781639,486.472029
9,Estonia,NaN,NaN,478.409073,479.649258,494.319028,505.486324,507.696093
10,Finland,520.115622,521.390352,521.392278,508.386874,494.006461,503.974582,494.792253
11,France,490.299420,476.099974,469.772372,475.042341,482.971515,484.629286,480.324762
12,Germany,467.551932,470.804360,474.599803,477.883877,485.999707,498.902146,486.305838
13,Greece,455.676309,452.882744,431.565347,458.786239,451.718351,449.136245,436.641542
14,Hungary,464.543413,467.235024,463.411140,475.421200,467.963663,457.137733,462.618817
15,Iceland,488.447722,463.805336,460.410682,478.074702,457.274839,460.103593,453.536299
16,Ireland,512.838799,501.083968,500.227316,476.296455,509.152534,514.991402,506.399420
17,Israel,443.836530,NaN,417.485335,452.480780,463.459862,467.302553,445.065390
18,Italy,469.204101,455.240549,447.698794,463.833019,470.938185,476.703802,464.346675
19,Japan,507.251321,486.565738,482.708136,501.022971,526.617774,509.374026,493.398814
20,Korea,518.502629,525.476873,538.755145,522.503359,524.964649,498.068990,502.840138
21,Latvia,431.918290,470.396876,453.828276,459.952128,461.574319,466.755216,462.043656
22,Lithuania,NaN,NaN,444.822184,439.483335,449.964838,453.156662,456.965237
23,Luxembourg,428.832525,462.659195,463.715021,452.733177,473.045665,470.697004,455.563263
24,Mexico,411.481086,388.589055,393.061711,412.653201,411.365471,415.539824,414.682773
25,Netherlands,NaN,502.871786,494.894626,496.168244,498.317400,491.136711,470.396097
26,New Zealand,506.788123,507.725568,501.740260,498.524601,495.365258,493.225788,491.419288
27,Norway,485.622281,475.344777,462.097167,480.123258,481.284002,493.536736,476.216550
28,Poland,461.370782,476.777131,487.441908,475.659963,496.705991,491.244642,495.450119
29,Portugal,457.695689,458.520323,455.328120,469.879152,468.390313,489.862898,479.848551
30,Slovak Republic,NaN,453.278613,446.104921,451.553695,444.080677,435.248824,440.651645
31,Slovenia,NaN,NaN,467.498140,456.218709,454.465525,484.309854,474.988299
32,Spain,481.215047,460.655173,443.329301,466.820403,473.806246,485.441145,NaN
33,Sweden,498.630113,495.913091,487.590445,475.051303,457.991126,480.718277,488.631181
34,Switzerland,480.054047,481.989733,484.353395,481.440771,491.074230,480.079524,469.447364
35,Turkey,NaN,425.972987,427.349858,443.460801,452.843131,414.439583,453.100404
36,United Kingdom,511.560641,491.823408,480.369916,481.383128,486.630845,487.196107,493.574262
37,United States,489.675254,479.290287,NaN,487.788489,482.498457,486.901412,493.832026

In [35]:
from openpyxl import load_workbook

ExcelWorkbook = load_workbook('../data/reading_gender.xlsx')

writer = pd.ExcelWriter('../data/reading_gender.xlsx', engine = 'openpyxl')

writer.book = ExcelWorkbook

readingm.to_excel(writer, sheet_name = 'Male')
#scimf.to_excel(writer, sheet_name = 'Science')
writer.save()
writer.close()

/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_69233/3144525407.py:7: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = ExcelWorkbook
/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_69233/3144525407.py:11: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [36]:
mathf = mathmf[['Countries','female_avg_2000','female_avg_2003','female_avg_2006', 'female_avg_2009','female_avg_2012','female_avg_2015','female_avg_2018']]
mathf

,Countries,female_avg_2000,female_avg_2003,female_avg_2006,female_avg_2009,female_avg_2012,female_avg_2015,female_avg_2018
0,International Average (OECD),NaN,494.385685,484.788448,486.041645,485.040193,483.260181,486.665145
1,Australia,NaN,521.550185,512.532446,509.480661,497.821350,490.985501,488.296647
2,Austria,NaN,501.816064,493.962184,486.499395,494.462264,483.133026,492.200906
3,Belgium,NaN,525.370177,516.705868,504.156918,508.934612,499.739022,502.046830
4,Canada,NaN,529.602413,519.862643,520.832036,513.019099,511.141726,509.546253
5,Chile,NaN,NaN,396.284317,410.375906,410.543252,413.448981,413.626758
6,Colombia,NaN,NaN,359.808181,365.520319,364.493878,384.488336,381.365275
7,Czech Republic,NaN,508.868866,503.905850,490.178748,492.903222,488.665606,497.671595
8,Denmark,NaN,506.150425,507.903411,495.292796,493.028741,506.374750,507.454311
9,Estonia,NaN,NaN,513.842859,507.537392,517.929830,516.872749,519.187027
10,Finland,NaN,540.596928,542.545962,539.212442,520.185481,514.964997,510.405712
11,France,NaN,506.763198,492.404770,488.855614,490.852618,489.954044,492.184620
12,Germany,NaN,498.897136,493.726764,504.824692,506.624554,497.531079,496.246322
13,Greece,NaN,435.551049,456.848686,459.307057,448.984411,453.573223,451.206888
14,Hungary,NaN,485.900977,485.650442,484.110618,472.663507,472.739509,476.717094
15,Iceland,NaN,523.064692,507.805362,504.945429,495.946918,488.586964,500.062551
16,Ireland,NaN,495.376235,495.807005,483.318059,493.704748,495.444966,496.676174
17,Israel,NaN,NaN,435.889910,442.816618,460.749246,465.516848,467.386362
18,Italy,NaN,457.090743,453.459795,475.404159,475.794306,479.823743,478.548682
19,Japan,NaN,530.111796,513.209934,524.130886,527.011233,525.495995,522.034617
20,Korea,NaN,528.307595,542.764808,544.452620,544.193124,527.756666,523.814005
21,Latvia,NaN,482.026059,483.628445,481.040995,492.521322,483.257255,492.794754
22,Lithuania,NaN,NaN,485.332990,479.752935,478.735816,479.017776,482.453799
23,Luxembourg,NaN,484.758611,481.614315,479.242075,477.116835,480.136028,479.624474
24,Mexico,NaN,379.973614,401.327032,411.769690,406.426922,404.334869,403.165629
25,Netherlands,NaN,535.215027,524.129935,517.306966,517.737792,511.015941,518.547572
26,New Zealand,NaN,516.225331,516.845949,515.345665,492.057078,490.921907,490.021525
27,Norway,NaN,492.048704,486.657661,495.401914,488.293198,502.873656,504.505443
28,Poland,NaN,487.451173,490.918654,493.052813,515.532590,498.646657,514.948471
29,Portugal,NaN,460.188020,458.959393,481.136493,481.295762,486.599740,487.913089
30,Slovak Republic,NaN,488.629317,484.735487,495.395488,476.711644,472.270799,483.901956
31,Slovenia,NaN,NaN,502.067567,500.797990,499.387324,507.949222,508.590193
32,Spain,NaN,480.744488,475.629937,473.898870,475.964675,477.859261,478.135910
33,Sweden,NaN,505.777950,499.724575,495.128236,479.628965,495.052563,503.012814
34,Switzerland,NaN,517.951088,522.716527,523.859288,524.472718,514.983162,511.596413
35,Turkey,NaN,415.093277,420.734347,439.802923,443.947870,417.527010,451.015096
36,United Kingdom,NaN,505.140230,487.167890,482.363594,487.814889,486.574589,495.858381
37,United States,NaN,479.714872,470.060661,476.992573,478.995329,465.368529,473.846214

In [37]:
mathf.to_excel('../data/math_gender.xlsx', sheet_name='Female')

In [38]:
mathm = readingmf[['Countries','male_avg_2000','male_avg_2003','male_avg_2006', 'male_avg_2009','male_avg_2012','male_avg_2015','male_avg_2018']]
mathm

,Countries,male_avg_2000,male_avg_2003,male_avg_2006,male_avg_2009,male_avg_2012,male_avg_2015,male_avg_2018
0,International Average (OECD),477.912949,476.820156,466.338406,470.981148,474.362727,476.869866,472.395099
1,Australia,512.645471,506.085696,494.872864,496.143991,495.089560,487.185526,487.209666
2,Austria,475.770710,467.131762,468.311688,449.295830,471.093138,474.846033,470.555838
3,Belgium,492.394742,489.326567,481.997196,492.673632,492.755224,490.664155,481.973695
4,Canada,518.922764,513.997502,511.142449,507.182200,505.530210,513.535458,505.726865
5,Chile,396.493977,NaN,434.290608,438.552453,429.696173,452.642242,442.493596
6,Colombia,NaN,NaN,375.262054,408.311520,393.592848,416.681626,407.028743
7,Czech Republic,472.639838,473.103858,462.841702,455.514388,473.983362,474.547463,473.986384
8,Denmark,485.409289,479.386544,479.503383,480.353046,480.890314,488.781639,486.472029
9,Estonia,NaN,NaN,478.409073,479.649258,494.319028,505.486324,507.696093
10,Finland,520.115622,521.390352,521.392278,508.386874,494.006461,503.974582,494.792253
11,France,490.299420,476.099974,469.772372,475.042341,482.971515,484.629286,480.324762
12,Germany,467.551932,470.804360,474.599803,477.883877,485.999707,498.902146,486.305838
13,Greece,455.676309,452.882744,431.565347,458.786239,451.718351,449.136245,436.641542
14,Hungary,464.543413,467.235024,463.411140,475.421200,467.963663,457.137733,462.618817
15,Iceland,488.447722,463.805336,460.410682,478.074702,457.274839,460.103593,453.536299
16,Ireland,512.838799,501.083968,500.227316,476.296455,509.152534,514.991402,506.399420
17,Israel,443.836530,NaN,417.485335,452.480780,463.459862,467.302553,445.065390
18,Italy,469.204101,455.240549,447.698794,463.833019,470.938185,476.703802,464.346675
19,Japan,507.251321,486.565738,482.708136,501.022971,526.617774,509.374026,493.398814
20,Korea,518.502629,525.476873,538.755145,522.503359,524.964649,498.068990,502.840138
21,Latvia,431.918290,470.396876,453.828276,459.952128,461.574319,466.755216,462.043656
22,Lithuania,NaN,NaN,444.822184,439.483335,449.964838,453.156662,456.965237
23,Luxembourg,428.832525,462.659195,463.715021,452.733177,473.045665,470.697004,455.563263
24,Mexico,411.481086,388.589055,393.061711,412.653201,411.365471,415.539824,414.682773
25,Netherlands,NaN,502.871786,494.894626,496.168244,498.317400,491.136711,470.396097
26,New Zealand,506.788123,507.725568,501.740260,498.524601,495.365258,493.225788,491.419288
27,Norway,485.622281,475.344777,462.097167,480.123258,481.284002,493.536736,476.216550
28,Poland,461.370782,476.777131,487.441908,475.659963,496.705991,491.244642,495.450119
29,Portugal,457.695689,458.520323,455.328120,469.879152,468.390313,489.862898,479.848551
30,Slovak Republic,NaN,453.278613,446.104921,451.553695,444.080677,435.248824,440.651645
31,Slovenia,NaN,NaN,467.498140,456.218709,454.465525,484.309854,474.988299
32,Spain,481.215047,460.655173,443.329301,466.820403,473.806246,485.441145,NaN
33,Sweden,498.630113,495.913091,487.590445,475.051303,457.991126,480.718277,488.631181
34,Switzerland,480.054047,481.989733,484.353395,481.440771,491.074230,480.079524,469.447364
35,Turkey,NaN,425.972987,427.349858,443.460801,452.843131,414.439583,453.100404
36,United Kingdom,511.560641,491.823408,480.369916,481.383128,486.630845,487.196107,493.574262
37,United States,489.675254,479.290287,NaN,487.788489,482.498457,486.901412,493.832026

In [39]:
from openpyxl import load_workbook

ExcelWorkbook = load_workbook('../data/math_gender.xlsx')

writer = pd.ExcelWriter('../data/math_gender.xlsx', engine = 'openpyxl')

writer.book = ExcelWorkbook

mathm.to_excel(writer, sheet_name = 'Male')
#scimf.to_excel(writer, sheet_name = 'Science')
writer.save()
writer.close()

/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_69233/1190320533.py:7: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = ExcelWorkbook
/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_69233/1190320533.py:11: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [40]:
scif = scimf[['Countries','female_avg_2000','female_avg_2003','female_avg_2006', 'female_avg_2009','female_avg_2012','female_avg_2015','female_avg_2018']]
scif

,Countries,female_avg_2000,female_avg_2003,female_avg_2006,female_avg_2009,female_avg_2012,female_avg_2015,female_avg_2018
0,International Average (OECD),NaN,NaN,493.821660,497.746553,497.767676,488.936110,489.814075
1,Australia,NaN,NaN,526.855075,527.721888,519.124475,508.921647,502.168470
2,Austria,NaN,NaN,507.001603,490.465346,501.478519,485.526754,488.628863
3,Belgium,NaN,NaN,509.971040,503.285095,502.899901,496.031867,496.370479
4,Canada,NaN,NaN,532.422819,526.367624,524.036970,527.156185,519.559362
5,Chile,NaN,NaN,426.488374,442.879332,441.645267,439.617404,441.811226
6,Colombia,NaN,NaN,383.886779,391.643198,390.384636,411.031599,407.285406
7,Czech Republic,NaN,NaN,510.133120,503.074357,507.854965,488.398280,497.624143
8,Denmark,NaN,NaN,491.452416,493.615695,493.363037,498.902704,493.708845
9,Estonia,NaN,NaN,533.296904,528.250790,542.607934,532.522780,532.590131
10,Finland,NaN,NaN,564.862456,561.838899,553.893406,540.511822,534.042624
11,France,NaN,NaN,493.936736,496.598716,500.157117,494.034209,493.459968
12,Germany,NaN,NaN,511.964847,517.593891,524.390924,503.812120,503.565807
13,Greece,NaN,NaN,479.111772,474.886438,473.298200,459.417742,457.359819
14,Hungary,NaN,NaN,500.557468,502.586498,492.802927,475.248395,477.879959
15,Iceland,NaN,NaN,493.905053,494.714533,479.669495,474.655614,479.226056
16,Ireland,NaN,NaN,508.525305,509.358486,519.999950,497.173957,496.851379
17,Israel,NaN,NaN,452.189497,456.212663,470.419351,464.447672,471.331584
18,Italy,NaN,NaN,473.886048,489.824950,492.086801,472.118973,466.331481
19,Japan,NaN,NaN,529.755963,545.447420,540.959411,531.532899,527.777849
20,Korea,NaN,NaN,523.093137,539.261396,535.929535,520.832928,516.888382
21,Latvia,NaN,NaN,492.957976,497.236329,509.973137,495.579149,491.382334
22,Lithuania,NaN,NaN,492.654664,500.124004,503.241692,479.161819,485.181083
23,Luxembourg,NaN,NaN,481.595936,480.483140,483.484224,479.013110,479.093175
24,Mexico,NaN,NaN,406.449551,412.724966,411.835991,411.553579,414.704148
25,Netherlands,NaN,NaN,521.196986,520.269331,520.415014,506.518092,507.505043
26,New Zealand,NaN,NaN,532.197361,535.153634,513.296809,510.725028,507.646799
27,Norway,NaN,NaN,488.787463,501.707163,496.346332,497.001380,495.797298
28,Poland,NaN,NaN,496.129046,511.022742,527.148615,498.303236,511.172212
29,Portugal,NaN,NaN,471.869425,494.655573,490.224244,496.055222,489.096497
30,Slovak Republic,NaN,NaN,485.230554,490.547977,467.385222,461.215261,466.838607
31,Slovenia,NaN,NaN,522.696605,518.827409,518.717402,515.773578,511.999066
32,Spain,NaN,NaN,486.221839,484.595164,492.658316,489.456046,482.033794
33,Sweden,NaN,NaN,502.680161,496.951937,488.512713,495.718308,503.246850
34,Switzerland,NaN,NaN,508.657600,512.492621,512.330532,502.305933,495.452327
35,Turkey,NaN,NaN,430.357668,460.175979,468.622150,428.654773,472.035110
36,United Kingdom,NaN,NaN,509.788815,509.075253,507.883441,508.840926,503.472768
37,United States,NaN,NaN,488.633370,494.952023,498.325372,492.865072,502.001844

In [41]:
scif.to_excel('../data/sci_gender.xlsx', sheet_name='Female')

In [42]:
scim = readingmf[['Countries','male_avg_2000','male_avg_2003','male_avg_2006', 'male_avg_2009','male_avg_2012','male_avg_2015','male_avg_2018']]
scim

,Countries,male_avg_2000,male_avg_2003,male_avg_2006,male_avg_2009,male_avg_2012,male_avg_2015,male_avg_2018
0,International Average (OECD),477.912949,476.820156,466.338406,470.981148,474.362727,476.869866,472.395099
1,Australia,512.645471,506.085696,494.872864,496.143991,495.089560,487.185526,487.209666
2,Austria,475.770710,467.131762,468.311688,449.295830,471.093138,474.846033,470.555838
3,Belgium,492.394742,489.326567,481.997196,492.673632,492.755224,490.664155,481.973695
4,Canada,518.922764,513.997502,511.142449,507.182200,505.530210,513.535458,505.726865
5,Chile,396.493977,NaN,434.290608,438.552453,429.696173,452.642242,442.493596
6,Colombia,NaN,NaN,375.262054,408.311520,393.592848,416.681626,407.028743
7,Czech Republic,472.639838,473.103858,462.841702,455.514388,473.983362,474.547463,473.986384
8,Denmark,485.409289,479.386544,479.503383,480.353046,480.890314,488.781639,486.472029
9,Estonia,NaN,NaN,478.409073,479.649258,494.319028,505.486324,507.696093
10,Finland,520.115622,521.390352,521.392278,508.386874,494.006461,503.974582,494.792253
11,France,490.299420,476.099974,469.772372,475.042341,482.971515,484.629286,480.324762
12,Germany,467.551932,470.804360,474.599803,477.883877,485.999707,498.902146,486.305838
13,Greece,455.676309,452.882744,431.565347,458.786239,451.718351,449.136245,436.641542
14,Hungary,464.543413,467.235024,463.411140,475.421200,467.963663,457.137733,462.618817
15,Iceland,488.447722,463.805336,460.410682,478.074702,457.274839,460.103593,453.536299
16,Ireland,512.838799,501.083968,500.227316,476.296455,509.152534,514.991402,506.399420
17,Israel,443.836530,NaN,417.485335,452.480780,463.459862,467.302553,445.065390
18,Italy,469.204101,455.240549,447.698794,463.833019,470.938185,476.703802,464.346675
19,Japan,507.251321,486.565738,482.708136,501.022971,526.617774,509.374026,493.398814
20,Korea,518.502629,525.476873,538.755145,522.503359,524.964649,498.068990,502.840138
21,Latvia,431.918290,470.396876,453.828276,459.952128,461.574319,466.755216,462.043656
22,Lithuania,NaN,NaN,444.822184,439.483335,449.964838,453.156662,456.965237
23,Luxembourg,428.832525,462.659195,463.715021,452.733177,473.045665,470.697004,455.563263
24,Mexico,411.481086,388.589055,393.061711,412.653201,411.365471,415.539824,414.682773
25,Netherlands,NaN,502.871786,494.894626,496.168244,498.317400,491.136711,470.396097
26,New Zealand,506.788123,507.725568,501.740260,498.524601,495.365258,493.225788,491.419288
27,Norway,485.622281,475.344777,462.097167,480.123258,481.284002,493.536736,476.216550
28,Poland,461.370782,476.777131,487.441908,475.659963,496.705991,491.244642,495.450119
29,Portugal,457.695689,458.520323,455.328120,469.879152,468.390313,489.862898,479.848551
30,Slovak Republic,NaN,453.278613,446.104921,451.553695,444.080677,435.248824,440.651645
31,Slovenia,NaN,NaN,467.498140,456.218709,454.465525,484.309854,474.988299
32,Spain,481.215047,460.655173,443.329301,466.820403,473.806246,485.441145,NaN
33,Sweden,498.630113,495.913091,487.590445,475.051303,457.991126,480.718277,488.631181
34,Switzerland,480.054047,481.989733,484.353395,481.440771,491.074230,480.079524,469.447364
35,Turkey,NaN,425.972987,427.349858,443.460801,452.843131,414.439583,453.100404
36,United Kingdom,511.560641,491.823408,480.369916,481.383128,486.630845,487.196107,493.574262
37,United States,489.675254,479.290287,NaN,487.788489,482.498457,486.901412,493.832026

In [43]:
from openpyxl import load_workbook

ExcelWorkbook = load_workbook('../data/sci_gender.xlsx')

writer = pd.ExcelWriter('../data/sci_gender.xlsx', engine = 'openpyxl')

writer.book = ExcelWorkbook

scim.to_excel(writer, sheet_name = 'Male')
#scimf.to_excel(writer, sheet_name = 'Science')
writer.save()
writer.close()

/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_69233/91263117.py:7: FutureWarning: Setting the `book` attribute is not part of the public API, usage can give unexpected or corrupted results and will be removed in a future version
  writer.book = ExcelWorkbook
/var/folders/hv/08dyyt957zq3n_n6kttfl_180000gn/T/ipykernel_69233/91263117.py:11: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()