In [1]:
import pandas as pd
import numpy as np
import xlrd

In [14]:
reading = pd.read_excel("../../data/oecd/oecd_2022_clean.xlsx",sheet_name='Reading')
math = pd.read_excel("../../data/oecd/oecd_2022_clean.xlsx",sheet_name='Math')
sci = pd.read_excel("../../data/oecd/oecd_2022_clean.xlsx",sheet_name='Science')

reading

,Unnamed: 0,Countries,2000,2003,2006,2009,2012,2015,2018,2022
0,0,Australia,528.278505,525.427007,512.893292,514.900655,511.803998,502.900560,502.631724,498.050940
1,1,Austria,492.056007,490.693240,490.193977,470.283632,489.609335,484.865597,484.392568,480.405847
2,2,Belgium,507.125890,506.987332,500.900595,505.945796,508.617877,498.524189,492.864439,478.852668
3,3,Canada,534.312719,527.913612,527.011296,524.241833,523.124003,526.667805,520.085521,507.132896
4,4,Chile,409.556782,NaN,442.091346,449.369607,441.398164,458.570876,452.272554,447.978957
5,5,Colombia,NaN,NaN,385.308038,413.181499,403.402534,424.905167,412.295085,408.665026
6,6,Costa Rica,NaN,NaN,NaN,NaN,440.547811,427.487548,426.498225,415.233080
7,7,Czech Republic,491.577032,488.542284,482.715162,478.186720,492.889738,487.250141,490.218815,488.603669
8,8,Denmark,496.870966,492.323380,494.482981,494.916162,496.130881,499.814584,501.129934,488.800991
9,9,Estonia,NaN,NaN,500.749762,500.961865,516.294184,519.142855,523.017018,511.030331
10,10,Finland,546.469145,543.462543,546.868281,535.877985,524.021670,526.424747,520.078748,490.217685
11,11,France,504.742389,496.188785,487.706247,495.616541,505.481483,499.306142,492.606479,473.852158
12,12,Germany,483.990824,491.357999,494.944418,497.305058,507.676530,509.104139,498.279257,479.794025
13,13,Greece,473.798851,472.266877,459.711185,482.776242,477.197177,467.039538,457.414395,438.440625
14,14,Hungary,479.966778,481.869695,482.374517,494.178753,488.461334,469.523258,475.986672,472.974726
15,15,Iceland,506.930462,491.746960,484.445272,500.283319,482.522440,481.525541,473.974317,435.922995
16,16,Ireland,526.668649,515.480077,517.313238,495.639109,523.173210,520.814841,518.078459,516.009975
17,17,Israel,452.172404,NaN,438.672275,473.989951,485.803213,478.960643,470.415178,473.832698
18,18,Italy,487.469645,475.661581,468.523109,486.051099,489.754403,484.757996,476.284679,481.598278
19,19,Japan,522.234929,498.105206,497.957069,519.857722,538.051485,515.958480,503.856041,515.854614
20,20,Korea,524.754299,534.091265,556.021910,539.267484,535.790490,517.436710,514.052288,515.415392
21,21,Latvia,458.071082,490.562534,479.491835,483.960145,488.694414,487.758099,478.698674,474.568651
22,22,Lithuania,NaN,NaN,470.070756,468.442734,477.306612,472.406552,475.873480,471.834230
23,23,Luxembourg,441.245823,479.422584,479.366542,472.173387,487.807043,481.439097,469.985389,NaN
24,24,Mexico,421.960630,399.721928,410.496455,425.265299,423.553762,423.276479,420.468892,415.358962
25,25,Netherlands,NaN,513.118971,506.746971,508.403723,511.229965,502.959051,484.783725,459.242908
26,26,New Zealand,528.799732,521.551510,521.032645,520.880009,512.186793,509.270713,505.727283,500.853011
27,27,Norway,505.280989,499.740234,484.292563,503.230020,503.936686,513.191173,499.450956,476.523878
28,28,Poland,479.121688,496.605266,507.639527,500.478483,518.186881,505.697070,511.855695,488.713629
29,29,Portugal,470.154622,477.568646,472.304305,489.334924,487.757687,498.128906,491.800785,476.588611
30,30,Slovak Republic,NaN,469.159033,466.349769,477.443352,462.767033,452.514337,457.983967,446.860607
31,31,Slovenia,NaN,NaN,494.409037,483.082042,481.316284,505.215881,495.345615,468.536013
32,32,Spain,492.552969,480.537991,460.830112,481.042326,487.939182,495.576435,NaN,474.307112
33,33,Sweden,516.331186,514.267413,507.312880,497.449423,483.335006,500.155607,505.785220,486.975156
34,34,Switzerland,494.371619,499.121399,499.277784,500.500212,509.040250,492.198229,483.929405,483.331734
35,35,Türkiye,NaN,440.970989,447.141132,464.194375,475.491466,428.335093,465.631666,456.084041
36,36,United Kingdom,523.443304,507.012749,495.083510,494.182010,499.323115,497.971931,503.928109,494.404626
37,37,United States,504.419692,495.185865,NaN,499.826821,497.581718,496.935097,505.352771,503.937573

In [15]:
reading.drop(['Unnamed: 0'], axis=1, inplace=True)
math.drop(['Unnamed: 0'], axis=1, inplace=True)
sci.drop(['Unnamed: 0'], axis=1, inplace=True)

In [16]:
reading_dtw = reading.drop(['Countries'], axis=1)
math_dtw = math.drop(['Countries'], axis=1)
sci_dtw = sci.drop(['Countries'], axis=1)

In [17]:
reading_dtw = reading_dtw.ffill(axis=1).bfill(axis=1)
math_dtw = math_dtw.ffill(axis=1).bfill(axis=1)
sci_dtw = sci_dtw.ffill(axis=1).bfill(axis=1)

In [19]:
reading_dtw.insert(0, 'Country', reading['Countries'].tolist())
math_dtw.insert(0, 'Country', reading['Countries'].tolist())
sci_dtw.insert(0, 'Country', reading['Countries'].tolist())
reading_dtw

,Country,2000,2003,2006,2009,2012,2015,2018,2022
0,Australia,528.278505,525.427007,512.893292,514.900655,511.803998,502.900560,502.631724,498.050940
1,Austria,492.056007,490.693240,490.193977,470.283632,489.609335,484.865597,484.392568,480.405847
2,Belgium,507.125890,506.987332,500.900595,505.945796,508.617877,498.524189,492.864439,478.852668
3,Canada,534.312719,527.913612,527.011296,524.241833,523.124003,526.667805,520.085521,507.132896
4,Chile,409.556782,409.556782,442.091346,449.369607,441.398164,458.570876,452.272554,447.978957
5,Colombia,385.308038,385.308038,385.308038,413.181499,403.402534,424.905167,412.295085,408.665026
6,Costa Rica,440.547811,440.547811,440.547811,440.547811,440.547811,427.487548,426.498225,415.233080
7,Czech Republic,491.577032,488.542284,482.715162,478.186720,492.889738,487.250141,490.218815,488.603669
8,Denmark,496.870966,492.323380,494.482981,494.916162,496.130881,499.814584,501.129934,488.800991
9,Estonia,500.749762,500.749762,500.749762,500.961865,516.294184,519.142855,523.017018,511.030331
10,Finland,546.469145,543.462543,546.868281,535.877985,524.021670,526.424747,520.078748,490.217685
11,France,504.742389,496.188785,487.706247,495.616541,505.481483,499.306142,492.606479,473.852158
12,Germany,483.990824,491.357999,494.944418,497.305058,507.676530,509.104139,498.279257,479.794025
13,Greece,473.798851,472.266877,459.711185,482.776242,477.197177,467.039538,457.414395,438.440625
14,Hungary,479.966778,481.869695,482.374517,494.178753,488.461334,469.523258,475.986672,472.974726
15,Iceland,506.930462,491.746960,484.445272,500.283319,482.522440,481.525541,473.974317,435.922995
16,Ireland,526.668649,515.480077,517.313238,495.639109,523.173210,520.814841,518.078459,516.009975
17,Israel,452.172404,452.172404,438.672275,473.989951,485.803213,478.960643,470.415178,473.832698
18,Italy,487.469645,475.661581,468.523109,486.051099,489.754403,484.757996,476.284679,481.598278
19,Japan,522.234929,498.105206,497.957069,519.857722,538.051485,515.958480,503.856041,515.854614
20,Korea,524.754299,534.091265,556.021910,539.267484,535.790490,517.436710,514.052288,515.415392
21,Latvia,458.071082,490.562534,479.491835,483.960145,488.694414,487.758099,478.698674,474.568651
22,Lithuania,470.070756,470.070756,470.070756,468.442734,477.306612,472.406552,475.873480,471.834230
23,Luxembourg,441.245823,479.422584,479.366542,472.173387,487.807043,481.439097,469.985389,469.985389
24,Mexico,421.960630,399.721928,410.496455,425.265299,423.553762,423.276479,420.468892,415.358962
25,Netherlands,513.118971,513.118971,506.746971,508.403723,511.229965,502.959051,484.783725,459.242908
26,New Zealand,528.799732,521.551510,521.032645,520.880009,512.186793,509.270713,505.727283,500.853011
27,Norway,505.280989,499.740234,484.292563,503.230020,503.936686,513.191173,499.450956,476.523878
28,Poland,479.121688,496.605266,507.639527,500.478483,518.186881,505.697070,511.855695,488.713629
29,Portugal,470.154622,477.568646,472.304305,489.334924,487.757687,498.128906,491.800785,476.588611
30,Slovak Republic,469.159033,469.159033,466.349769,477.443352,462.767033,452.514337,457.983967,446.860607
31,Slovenia,494.409037,494.409037,494.409037,483.082042,481.316284,505.215881,495.345615,468.536013
32,Spain,492.552969,480.537991,460.830112,481.042326,487.939182,495.576435,495.576435,474.307112
33,Sweden,516.331186,514.267413,507.312880,497.449423,483.335006,500.155607,505.785220,486.975156
34,Switzerland,494.371619,499.121399,499.277784,500.500212,509.040250,492.198229,483.929405,483.331734
35,Türkiye,440.970989,440.970989,447.141132,464.194375,475.491466,428.335093,465.631666,456.084041
36,United Kingdom,523.443304,507.012749,495.083510,494.182010,499.323115,497.971931,503.928109,494.404626
37,United States,504.419692,495.185865,495.185865,499.826821,497.581718,496.935097,505.352771,503.937573

In [20]:
avg_reading = np.mean(reading_dtw, axis=0).tolist()
avg_math = np.mean(math_dtw, axis=0).tolist()
avg_sci = np.mean(sci_dtw, axis=0).tolist()

e:\Anaconda\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [21]:
std_reading = np.std(reading_dtw, axis=0).tolist()
std_math = np.std(math_dtw, axis=0).tolist()
std_sci = np.std(sci_dtw, axis=0).tolist()

e:\Anaconda\lib\site-packages\numpy\core\fromnumeric.py:3579: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [22]:
normal_reading = reading_dtw.copy()
normal_math = math_dtw.copy()
normal_sci = sci_dtw.copy()

In [23]:
normal_reading['2000'] = (normal_reading['2000'] - avg_reading[0]) / std_reading[0]
normal_reading['2003'] = (normal_reading['2003'] - avg_reading[1]) / std_reading[1]
normal_reading['2006'] = (normal_reading['2006'] - avg_reading[2]) / std_reading[2]
normal_reading['2009'] = (normal_reading['2009'] - avg_reading[3]) / std_reading[3]
normal_reading['2012'] = (normal_reading['2012'] - avg_reading[4]) / std_reading[4]
normal_reading['2015'] = (normal_reading['2015'] - avg_reading[5]) / std_reading[5]
normal_reading['2018'] = (normal_reading['2018'] - avg_reading[6]) / std_reading[6]
normal_reading['2022'] = (normal_reading['2022'] - avg_reading[7]) / std_reading[7]

In [24]:
normal_reading

,Country,2000,2003,2006,2009,2012,2015,2018,2022
0,Australia,1.143068,1.152544,0.858039,0.979765,0.706548,0.521622,0.638512,0.841221
1,Austria,0.131585,0.136191,0.173680,-0.710176,-0.078207,-0.132856,-0.051460,0.184709
2,Belgium,0.552399,0.612976,0.496472,0.640585,0.593894,0.362806,0.269023,0.126921
3,Canada,1.311569,1.225305,1.283682,1.333577,1.106799,1.384121,1.298775,1.179129
4,Chile,-2.172138,-2.237964,-1.276562,-1.502328,-1.782849,-1.087075,-1.266534,-1.021782
5,Colombia,-2.849265,-2.947512,-2.988517,-2.873011,-3.126293,-2.308783,-2.778849,-2.484516
6,Costa Rica,-1.306739,-1.331127,-1.323098,-1.836468,-1.812916,-2.215070,-2.241556,-2.240142
7,Czech Republic,0.118210,0.073251,-0.051798,-0.410834,0.037781,-0.046322,0.168942,0.489721
8,Denmark,0.266039,0.183891,0.302988,0.222820,0.152381,0.409634,0.581700,0.497063
9,Estonia,0.374351,0.430457,0.491925,0.451811,0.865311,1.111045,1.409671,1.324139
10,Finland,1.651027,1.680287,1.882348,1.774314,1.138539,1.375300,1.298519,0.549773
11,France,0.485842,0.296997,0.098677,0.249348,0.482998,0.391183,0.259265,-0.059131
12,Germany,-0.093629,0.155642,0.316900,0.313303,0.560610,0.746746,0.473862,0.161945
13,Greece,-0.378231,-0.402988,-0.745343,-0.236999,-0.517074,-0.779753,-1.072023,-1.376670
14,Hungary,-0.205997,-0.121997,-0.062069,0.194890,-0.118798,-0.689620,-0.369449,-0.091777
15,Iceland,0.546942,0.167024,0.000362,0.426110,-0.328784,-0.254064,-0.445574,-1.470342
16,Ireland,1.098114,0.861485,0.991296,0.250203,1.108539,1.171720,1.222849,1.509414
17,Israel,-0.982132,-0.990977,-1.379643,-0.569794,-0.212783,-0.347143,-0.580214,-0.059855
18,Italy,0.003514,-0.303654,-0.479673,-0.112958,-0.073078,-0.136761,-0.358175,0.229075
19,Japan,0.974306,0.353074,0.407728,1.167521,1.634602,0.995486,0.684827,1.503634
20,Korea,1.044658,1.406071,2.158320,1.902697,1.554659,1.049130,1.070542,1.487292
21,Latvia,-0.817416,0.132366,-0.148978,-0.192157,-0.110557,-0.027889,-0.266856,-0.032472
22,Lithuania,-0.482335,-0.467249,-0.433014,-0.779903,-0.513205,-0.584987,-0.373731,-0.134211
23,Luxembourg,-1.287248,-0.193603,-0.152756,-0.638599,-0.141932,-0.257201,-0.596472,-0.203000
24,Mexico,-1.825771,-2.525744,-2.229114,-2.415318,-2.413789,-2.367888,-2.469641,-2.235458
25,Netherlands,0.719751,0.792396,0.672734,0.733683,0.686252,0.523745,-0.036663,-0.602690
26,New Zealand,1.157623,1.039142,1.103432,1.206242,0.720083,0.752791,0.755614,0.945477
27,Norway,0.500882,0.400917,-0.004242,0.537721,0.428377,0.895062,0.518186,0.040275
28,Poland,-0.229595,0.309184,0.699644,0.433502,0.932233,0.623106,0.987447,0.493813
29,Portugal,-0.479993,-0.247851,-0.365674,0.011422,-0.143677,0.348462,0.228786,0.042683
30,Slovak Republic,-0.507794,-0.493927,-0.545197,-0.438990,-1.027293,-1.306863,-1.050476,-1.063392
31,Slovenia,0.197291,0.244920,0.300759,-0.225416,-0.371431,0.605644,0.362884,-0.256926
32,Spain,0.145462,-0.160965,-0.711609,-0.302674,-0.137260,0.255834,0.371616,-0.042203
33,Sweden,0.809449,0.826001,0.689796,0.318771,-0.300054,0.422009,0.757806,0.429130
34,Switzerland,0.196246,0.382809,0.447547,0.434325,0.608828,0.133241,-0.068982,0.293571
35,Türkiye,-1.294922,-1.318745,-1.124317,-0.940817,-0.577384,-2.184314,-0.761170,-0.720220
36,United Kingdom,1.008049,0.613720,0.321094,0.195013,0.265251,0.342765,0.687553,0.705555
37,United States,0.476831,0.267651,0.324180,0.408819,0.203679,0.305139,0.741447,1.060242

In [25]:
normal_math['2000'] = (normal_math['2000'] - avg_math[0]) / std_math[0]
normal_math['2003'] = (normal_math['2003'] - avg_math[1]) / std_math[1]
normal_math['2006'] = (normal_math['2006'] - avg_math[2]) / std_math[2]
normal_math['2009'] = (normal_math['2009'] - avg_math[3]) / std_math[3]
normal_math['2012'] = (normal_math['2012'] - avg_math[4]) / std_math[4]
normal_math['2015'] = (normal_math['2015'] - avg_math[5]) / std_math[5]
normal_math['2018'] = (normal_math['2018'] - avg_math[6]) / std_math[6]
normal_math['2022'] = (normal_math['2022'] - avg_math[7]) / std_math[7]

In [26]:
normal_sci['2000'] = (normal_sci['2000'] - avg_sci[0]) / std_sci[0]
normal_sci['2003'] = (normal_sci['2003'] - avg_sci[1]) / std_sci[1]
normal_sci['2006'] = (normal_sci['2006'] - avg_sci[2]) / std_sci[2]
normal_sci['2009'] = (normal_sci['2009'] - avg_sci[3]) / std_sci[3]
normal_sci['2012'] = (normal_sci['2012'] - avg_sci[4]) / std_sci[4]
normal_sci['2015'] = (normal_sci['2015'] - avg_sci[5]) / std_sci[5]
normal_sci['2018'] = (normal_sci['2018'] - avg_sci[6]) / std_sci[6]
normal_sci['2022'] = (normal_sci['2022'] - avg_sci[7]) / std_sci[7]

In [27]:
import openpyxl

In [28]:
normal_reading.to_excel('../../data/oecd/oecd_2022_normal.xlsx', sheet_name='Reading')

In [29]:
from openpyxl import load_workbook

ExcelWorkbook = load_workbook('../../data/oecd/oecd_2022_normal.xlsx')

writer = pd.ExcelWriter('../../data/oecd/oecd_2022_normal.xlsx', engine = 'openpyxl')

writer.book = ExcelWorkbook

normal_math.to_excel(writer, sheet_name = 'Math')
normal_sci.to_excel(writer, sheet_name = 'Science')
writer.save()
writer.close()