In [1]:
import pandas as pd
import numpy as np
import xlrd

In [2]:
reading = pd.read_excel("../../data/oecd/oecd_2022.xls",sheet_name='Report 2- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,316,317,318,319,320,321])
reading.drop(['Unnamed: 0'], axis=1, inplace=True)
reading.rename({'Unnamed: 1': "Year",'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg', 'Unnamed: 4': 'se'}, axis=1, inplace=True)
#reading = reading.drop(index=[259])

reading

       Year       Countries         avg        se
0    2022.0       Australia   498.05094  2.013591
1       NaN         Austria  480.405847  2.668254
2       NaN         Belgium  478.852668  2.523596
3       NaN          Canada  507.132896  1.965629
4       NaN           Chile  447.978957   2.63256
..      ...             ...         ...       ...
299     NaN          Sweden  516.331186  2.203671
300     NaN     Switzerland  494.371619  4.246748
301     NaN         Türkiye           —         †
302     NaN  United Kingdom  523.443304  2.561146
303     NaN   United States  504.419692  7.045375

[304 rows x 4 columns]

In [3]:
print(reading.index[reading['Countries'] == "United States"])

Int64Index([37, 75, 113, 151, 189, 227, 265, 303], dtype='int64')

In [4]:
#reading.loc[0, 'Year'] = "2022"
reading.loc[0:38, 'Year'] = "2022"
reading.loc[38:76, 'Year'] = "2018"
reading.loc[76:114, 'Year'] = "2015"
reading.loc[114:152, 'Year'] = "2012"
reading.loc[152:190, 'Year'] = "2009"
reading.loc[190:228, 'Year'] = "2006"
reading.loc[228:266, 'Year'] = "2003"
reading.loc[266:304, 'Year'] = "2000"
reading

     Year       Countries         avg        se
0    2022       Australia   498.05094  2.013591
1    2022         Austria  480.405847  2.668254
2    2022         Belgium  478.852668  2.523596
3    2022          Canada  507.132896  1.965629
4    2022           Chile  447.978957   2.63256
..    ...             ...         ...       ...
299  2000          Sweden  516.331186  2.203671
300  2000     Switzerland  494.371619  4.246748
301  2000         Türkiye           —         †
302  2000  United Kingdom  523.443304  2.561146
303  2000   United States  504.419692  7.045375

[304 rows x 4 columns]

In [5]:
reading_avg = reading.drop(['se'], axis=1)
reading_avg_dtw = reading_avg.pivot(index='Countries',columns='Year', values='avg').reset_index()
reading_avg_dtw.columns.name = None

reading_avg_dtw

,Countries,2000,2003,2006,2009,2012,2015,2018,2022
0,Australia,528.278505,525.427007,512.893292,514.900655,511.803998,502.90056,502.631724,498.05094
1,Austria,492.056007,490.69324,490.193977,470.283632,489.609335,484.865597,484.392568,480.405847
2,Belgium,507.12589,506.987332,500.900595,505.945796,508.617877,498.524189,492.864439,478.852668
3,Canada,534.312719,527.913612,527.011296,524.241833,523.124003,526.667805,520.085521,507.132896
4,Chile,409.556782,—,442.091346,449.369607,441.398164,458.570876,452.272554,447.978957
5,Colombia,—,—,385.308038,413.181499,403.402534,424.905167,412.295085,408.665026
6,Costa Rica,—,—,—,—,440.547811,427.487548,426.498225,415.23308
7,Czech Republic,491.577032,488.542284,482.715162,478.18672,492.889738,487.250141,490.218815,488.603669
8,Denmark,496.870966,492.32338,494.482981,494.916162,496.130881,499.814584,501.129934,488.800991
9,Estonia,—,—,500.749762,500.961865,516.294184,519.142855,523.017018,511.030331
10,Finland,546.469145,543.462543,546.868281,535.877985,524.02167,526.424747,520.078748,490.217685
11,France,504.742389,496.188785,487.706247,495.616541,505.481483,499.306142,492.606479,473.852158
12,Germany,483.990824,491.357999,494.944418,497.305058,507.67653,509.104139,498.279257,479.794025
13,Greece,473.798851,472.266877,459.711185,482.776242,477.197177,467.039538,457.414395,438.440625
14,Hungary,479.966778,481.869695,482.374517,494.178753,488.461334,469.523258,475.986672,472.974726
15,Iceland,506.930462,491.74696,484.445272,500.283319,482.52244,481.525541,473.974317,435.922995
16,Ireland,526.668649,515.480077,517.313238,495.639109,523.17321,520.814841,518.078459,516.009975
17,Israel,452.172404,—,438.672275,473.989951,485.803213,478.960643,470.415178,473.832698
18,Italy,487.469645,475.661581,468.523109,486.051099,489.754403,484.757996,476.284679,481.598278
19,Japan,522.234929,498.105206,497.957069,519.857722,538.051485,515.95848,503.856041,515.854614
20,Korea,524.754299,534.091265,556.02191,539.267484,535.79049,517.43671,514.052288,515.415392
21,Latvia,458.071082,490.562534,479.491835,483.960145,488.694414,487.758099,478.698674,474.568651
22,Lithuania,—,—,470.070756,468.442734,477.306612,472.406552,475.87348,471.83423
23,Luxembourg,441.245823,479.422584,479.366542,472.173387,487.807043,481.439097,469.985389,—
24,Mexico,421.96063,399.721928,410.496455,425.265299,423.553762,423.276479,420.468892,415.358962
25,Netherlands,‡,513.118971,506.746971,508.403723,511.229965,502.959051,484.783725,459.242908
26,New Zealand,528.799732,521.55151,521.032645,520.880009,512.186793,509.270713,505.727283,500.853011
27,Norway,505.280989,499.740234,484.292563,503.23002,503.936686,513.191173,499.450956,476.523878
28,Poland,479.121688,496.605266,507.639527,500.478483,518.186881,505.69707,511.855695,488.713629
29,Portugal,470.154622,477.568646,472.304305,489.334924,487.757687,498.128906,491.800785,476.588611
30,Slovak Republic,—,469.159033,466.349769,477.443352,462.767033,452.514337,457.983967,446.860607
31,Slovenia,—,—,494.409037,483.082042,481.316284,505.215881,495.345615,468.536013
32,Spain,492.552969,480.537991,460.830112,481.042326,487.939182,495.576435,—,474.307112
33,Sweden,516.331186,514.267413,507.31288,497.449423,483.335006,500.155607,505.78522,486.975156
34,Switzerland,494.371619,499.121399,499.277784,500.500212,509.04025,492.198229,483.929405,483.331734
35,Türkiye,—,440.970989,447.141132,464.194375,475.491466,428.335093,465.631666,456.084041
36,United Kingdom,523.443304,507.012749,495.08351,494.18201,499.323115,497.971931,503.928109,494.404626
37,United States,504.419692,495.185865,—,499.826821,497.581718,496.935097,505.352771,503.937573

In [6]:
reading_avg_dtw = reading_avg_dtw.replace('—',np.nan,regex = True)
reading_avg_dtw = reading_avg_dtw.replace('†',np.nan,regex = True)
reading_avg_dtw = reading_avg_dtw.replace('‡',np.nan,regex = True)

reading_avg_dtw

,Countries,2000,2003,2006,2009,2012,2015,2018,2022
0,Australia,528.278505,525.427007,512.893292,514.900655,511.803998,502.900560,502.631724,498.050940
1,Austria,492.056007,490.693240,490.193977,470.283632,489.609335,484.865597,484.392568,480.405847
2,Belgium,507.125890,506.987332,500.900595,505.945796,508.617877,498.524189,492.864439,478.852668
3,Canada,534.312719,527.913612,527.011296,524.241833,523.124003,526.667805,520.085521,507.132896
4,Chile,409.556782,NaN,442.091346,449.369607,441.398164,458.570876,452.272554,447.978957
5,Colombia,NaN,NaN,385.308038,413.181499,403.402534,424.905167,412.295085,408.665026
6,Costa Rica,NaN,NaN,NaN,NaN,440.547811,427.487548,426.498225,415.233080
7,Czech Republic,491.577032,488.542284,482.715162,478.186720,492.889738,487.250141,490.218815,488.603669
8,Denmark,496.870966,492.323380,494.482981,494.916162,496.130881,499.814584,501.129934,488.800991
9,Estonia,NaN,NaN,500.749762,500.961865,516.294184,519.142855,523.017018,511.030331
10,Finland,546.469145,543.462543,546.868281,535.877985,524.021670,526.424747,520.078748,490.217685
11,France,504.742389,496.188785,487.706247,495.616541,505.481483,499.306142,492.606479,473.852158
12,Germany,483.990824,491.357999,494.944418,497.305058,507.676530,509.104139,498.279257,479.794025
13,Greece,473.798851,472.266877,459.711185,482.776242,477.197177,467.039538,457.414395,438.440625
14,Hungary,479.966778,481.869695,482.374517,494.178753,488.461334,469.523258,475.986672,472.974726
15,Iceland,506.930462,491.746960,484.445272,500.283319,482.522440,481.525541,473.974317,435.922995
16,Ireland,526.668649,515.480077,517.313238,495.639109,523.173210,520.814841,518.078459,516.009975
17,Israel,452.172404,NaN,438.672275,473.989951,485.803213,478.960643,470.415178,473.832698
18,Italy,487.469645,475.661581,468.523109,486.051099,489.754403,484.757996,476.284679,481.598278
19,Japan,522.234929,498.105206,497.957069,519.857722,538.051485,515.958480,503.856041,515.854614
20,Korea,524.754299,534.091265,556.021910,539.267484,535.790490,517.436710,514.052288,515.415392
21,Latvia,458.071082,490.562534,479.491835,483.960145,488.694414,487.758099,478.698674,474.568651
22,Lithuania,NaN,NaN,470.070756,468.442734,477.306612,472.406552,475.873480,471.834230
23,Luxembourg,441.245823,479.422584,479.366542,472.173387,487.807043,481.439097,469.985389,NaN
24,Mexico,421.960630,399.721928,410.496455,425.265299,423.553762,423.276479,420.468892,415.358962
25,Netherlands,NaN,513.118971,506.746971,508.403723,511.229965,502.959051,484.783725,459.242908
26,New Zealand,528.799732,521.551510,521.032645,520.880009,512.186793,509.270713,505.727283,500.853011
27,Norway,505.280989,499.740234,484.292563,503.230020,503.936686,513.191173,499.450956,476.523878
28,Poland,479.121688,496.605266,507.639527,500.478483,518.186881,505.697070,511.855695,488.713629
29,Portugal,470.154622,477.568646,472.304305,489.334924,487.757687,498.128906,491.800785,476.588611
30,Slovak Republic,NaN,469.159033,466.349769,477.443352,462.767033,452.514337,457.983967,446.860607
31,Slovenia,NaN,NaN,494.409037,483.082042,481.316284,505.215881,495.345615,468.536013
32,Spain,492.552969,480.537991,460.830112,481.042326,487.939182,495.576435,NaN,474.307112
33,Sweden,516.331186,514.267413,507.312880,497.449423,483.335006,500.155607,505.785220,486.975156
34,Switzerland,494.371619,499.121399,499.277784,500.500212,509.040250,492.198229,483.929405,483.331734
35,Türkiye,NaN,440.970989,447.141132,464.194375,475.491466,428.335093,465.631666,456.084041
36,United Kingdom,523.443304,507.012749,495.083510,494.182010,499.323115,497.971931,503.928109,494.404626
37,United States,504.419692,495.185865,NaN,499.826821,497.581718,496.935097,505.352771,503.937573

In [19]:
math = pd.read_excel("../../data/oecd/oecd_2022.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,316,317,318,319,320,321])
math.drop(['Unnamed: 0'], axis=1, inplace=True)
math.rename({'Unnamed: 1': "Year",'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg', 'Unnamed: 4': 'se'}, axis=1, inplace=True)

math.loc[0:38, 'Year'] = "2022"
math.loc[38:76, 'Year'] = "2018"
math.loc[76:114, 'Year'] = "2015"
math.loc[114:152, 'Year'] = "2012"
math.loc[152:190, 'Year'] = "2009"
math.loc[190:228, 'Year'] = "2006"
math.loc[228:266, 'Year'] = "2003"
math.loc[266:304, 'Year'] = "2000"

math

     Year       Countries         avg        se
0    2022       Australia  487.084254  1.779614
1    2022         Austria  487.267499  2.337789
2    2022         Belgium  489.486817  2.202874
3    2022          Canada  496.947894  1.561804
4    2022           Chile  411.696571  2.077902
..    ...             ...         ...       ...
299  2000          Sweden           —         †
300  2000     Switzerland           —         †
301  2000         Türkiye           —         †
302  2000  United Kingdom           —         †
303  2000   United States           —         †

[304 rows x 4 columns]

In [20]:
math_avg = math.drop(['se'], axis=1)
math_avg_dtw = math_avg.pivot(index='Countries',columns='Year', values='avg').reset_index()
math_avg_dtw.columns.name = None

math_avg_dtw = math_avg_dtw.replace('—',np.nan,regex = True)
math_avg_dtw = math_avg_dtw.replace('†',np.nan,regex = True)
math_avg_dtw = math_avg_dtw.replace('‡',np.nan,regex = True)


math_avg_dtw

,Countries,2000,2003,2006,2009,2012,2015,2018,2022
0,Australia,NaN,524.266004,519.907749,514.340462,504.150766,493.896231,491.360025,487.084254
1,Austria,NaN,505.610984,505.483598,495.908655,505.540743,496.742274,498.942314,487.267499
2,Belgium,NaN,529.286415,520.348973,515.272277,514.529245,506.984362,508.070306,489.486817
3,Canada,NaN,532.486736,527.007179,526.805153,518.070400,515.647428,512.016943,496.947894
4,Chile,NaN,NaN,411.350339,421.060473,422.632356,422.671358,417.406556,411.696571
5,Colombia,NaN,NaN,369.978514,380.848215,376.488601,389.643828,390.932273,382.696835
6,Costa Rica,NaN,NaN,NaN,NaN,406.999867,400.253373,402.330559,384.576041
7,Czech Republic,NaN,516.455001,509.859359,492.814094,498.957882,492.325438,499.467651,486.999208
8,Denmark,NaN,514.287675,513.025950,503.278147,500.026757,511.087632,509.398375,489.273877
9,Estonia,NaN,NaN,514.575462,512.104197,520.545522,519.529132,523.414580,509.946953
10,Finland,NaN,544.289187,548.358395,540.504348,518.750335,511.076853,507.301362,484.139226
11,France,NaN,510.799473,495.538333,496.782310,494.984674,492.920402,495.407579,473.944418
12,Germany,NaN,502.985533,503.790858,512.777643,513.525056,505.971282,500.043781,474.826454
13,Greece,NaN,444.911863,459.201987,466.096373,452.973427,453.629851,451.370344,430.146322
14,Hungary,NaN,490.012392,490.937383,490.170028,477.044455,476.830881,481.082636,472.776122
15,Iceland,NaN,515.108650,505.544828,506.669164,492.795698,488.033184,495.187376,458.914014
16,Ireland,NaN,502.837320,501.471771,487.136375,501.497460,503.721997,499.632894,491.648280
17,Israel,NaN,NaN,441.858728,446.863764,466.481430,469.669454,463.034549,457.896667
18,Italy,NaN,465.664210,461.688721,482.908480,485.321181,489.728731,486.589857,471.259475
19,Japan,NaN,534.136502,523.102515,528.993093,536.406919,532.439872,526.973250,535.579306
20,Korea,NaN,542.227370,547.458479,546.228534,553.766659,524.106216,525.933002,527.302502
21,Latvia,NaN,483.374949,486.166083,481.953822,490.571022,482.305072,496.126331,483.159455
22,Lithuania,NaN,NaN,486.421335,476.602303,478.823277,478.383382,481.191188,475.146762
23,Luxembourg,NaN,493.208557,490.001840,489.067263,489.845098,485.770628,483.421485,NaN
24,Mexico,NaN,385.218339,405.654640,418.509095,413.281467,408.023478,408.801473,395.029919
25,Netherlands,NaN,537.823276,530.654046,525.835688,522.971758,512.252790,519.230982,492.675639
26,New Zealand,NaN,523.486585,521.988849,519.300872,499.749903,495.223256,494.489676,479.074193
27,Norway,NaN,495.185390,489.846353,497.955693,489.373070,501.729815,500.963788,468.449950
28,Poland,NaN,490.238776,495.428497,494.802918,517.501097,504.469251,515.647875,488.960054
29,Portugal,NaN,466.016695,466.160986,486.888306,487.063181,491.626968,492.487406,471.910522
30,Slovak Republic,NaN,498.183456,492.106238,496.683420,481.644744,475.230105,486.164854,463.994619
31,Slovenia,NaN,NaN,504.455964,501.472389,501.127423,509.919632,508.897544,484.529009
32,Spain,NaN,485.108056,479.957507,483.493140,484.319298,485.843217,481.392613,473.140208
33,Sweden,NaN,509.046449,502.356398,494.238175,478.260636,493.918122,502.387702,481.766065
34,Switzerland,NaN,526.553148,529.656147,533.960645,530.931004,521.250575,515.314713,507.990586
35,Türkiye,NaN,423.419410,423.941190,445.451340,447.984415,420.453979,453.507777,453.151767
36,United Kingdom,NaN,508.258082,495.444158,492.414078,493.934231,492.478531,501.769899,488.975085
37,United States,NaN,482.882789,474.352158,487.396521,481.366786,469.628492,478.244717,464.888043

In [21]:
sci = pd.read_excel("../../data/oecd/oecd_2022.xls",sheet_name='Report 3- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,316,317,318,319,320,321])
sci.drop(['Unnamed: 0'], axis=1, inplace=True)
sci.rename({'Unnamed: 1': "Year",'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg', 'Unnamed: 4': 'se'}, axis=1, inplace=True)

sci.loc[0:38, 'Year'] = "2022"
sci.loc[38:76, 'Year'] = "2018"
sci.loc[76:114, 'Year'] = "2015"
sci.loc[114:152, 'Year'] = "2012"
sci.loc[152:190, 'Year'] = "2009"
sci.loc[190:228, 'Year'] = "2006"
sci.loc[228:266, 'Year'] = "2003"
sci.loc[266:304, 'Year'] = "2000"

sci

     Year       Countries         avg        se
0    2022       Australia  507.000869  1.933076
1    2022         Austria  491.270959  2.650135
2    2022         Belgium  490.578346  2.481873
3    2022          Canada  515.016676  1.928993
4    2022           Chile  443.543402  2.468596
..    ...             ...         ...       ...
299  2000          Sweden           —         †
300  2000     Switzerland           —         †
301  2000         Türkiye           —         †
302  2000  United Kingdom           —         †
303  2000   United States           —         †

[304 rows x 4 columns]

In [22]:
sci_avg = sci.drop(['se'], axis=1)
sci_avg_dtw = sci_avg.pivot(index='Countries',columns='Year', values='avg').reset_index()
sci_avg_dtw.columns.name = None

sci_avg_dtw = sci_avg_dtw.replace('—',np.nan,regex = True)
sci_avg_dtw = sci_avg_dtw.replace('†',np.nan,regex = True)
sci_avg_dtw = sci_avg_dtw.replace('‡',np.nan,regex = True)


sci_avg_dtw

,Countries,2000,2003,2006,2009,2012,2015,2018,2022
0,Australia,NaN,NaN,526.879589,527.270534,521.494747,509.993854,502.964563,507.000869
1,Austria,NaN,NaN,510.837155,494.327673,505.781248,495.037486,489.780439,491.270959
2,Belgium,NaN,NaN,510.363484,506.575526,504.867654,501.999714,498.773127,490.578346
3,Canada,NaN,NaN,534.469777,528.704953,525.441293,527.704684,517.997661,515.016676
4,Chile,NaN,NaN,438.177445,447.467360,444.933921,446.956066,443.582563,443.543402
5,Colombia,NaN,NaN,388.038272,401.750115,398.678632,415.728761,413.322993,411.120673
6,Costa Rica,NaN,NaN,NaN,NaN,429.350968,419.608033,415.622462,410.986624
7,Czech Republic,NaN,NaN,512.860746,500.497066,508.299081,492.830048,496.791311,497.742047
8,Denmark,NaN,NaN,495.894310,499.336975,498.474203,501.936887,492.637033,493.815712
9,Estonia,NaN,NaN,531.391804,527.831756,541.404758,534.193742,530.108005,525.811778
10,Finland,NaN,NaN,563.322835,554.079510,545.441941,530.661159,521.884563,510.958851
11,France,NaN,NaN,495.219839,498.226894,498.970895,494.977600,492.977074,487.225278
12,Germany,NaN,NaN,515.649130,520.405350,524.120800,509.140647,502.988903,492.426729
13,Greece,NaN,NaN,473.377964,470.115764,466.722030,454.828817,451.632742,440.786060
14,Hungary,NaN,NaN,503.931729,502.642748,494.302352,476.747512,480.911694,485.890158
15,Iceland,NaN,NaN,490.793774,495.598499,478.154597,473.230086,475.024106,446.967114
16,Ireland,NaN,NaN,508.328930,507.984154,522.003960,502.575115,496.113562,503.845537
17,Israel,NaN,NaN,453.903708,454.850963,470.072663,466.552812,462.196633,464.751825
18,Italy,NaN,NaN,475.397221,488.831363,493.541483,480.546762,468.011727,477.463366
19,Japan,NaN,NaN,531.388509,539.430993,546.735601,538.394751,529.135433,546.634453
20,Korea,NaN,NaN,522.148141,537.986230,537.787623,515.809912,519.007255,527.822418
21,Latvia,NaN,NaN,489.543778,493.878924,502.186194,490.225018,487.250588,493.842767
22,Lithuania,NaN,NaN,487.956698,491.409791,495.700088,475.408946,482.067013,484.463406
23,Luxembourg,NaN,NaN,486.324363,483.928421,491.215176,482.806384,476.769406,NaN
24,Mexico,NaN,NaN,409.651952,415.908672,414.920148,415.709883,419.204719,409.886598
25,Netherlands,NaN,NaN,524.861506,522.218128,522.055823,508.574806,503.383819,488.316836
26,New Zealand,NaN,NaN,530.384361,532.006901,515.636319,513.303512,508.490721,504.129305
27,Norway,NaN,NaN,486.527957,499.875700,494.523935,498.481109,490.413149,478.226465
28,Poland,NaN,NaN,497.806502,508.068297,525.816447,501.435332,511.035562,499.164362
29,Portugal,NaN,NaN,474.305889,492.949967,489.274733,501.100062,491.677328,484.373464
30,Slovak Republic,NaN,NaN,488.433399,490.265922,471.193178,460.774856,464.047578,462.269483
31,Slovenia,NaN,NaN,518.815610,511.759473,514.142556,512.863579,507.006546,499.964883
32,Spain,NaN,NaN,488.424523,488.254630,496.445824,492.786136,483.252043,484.533648
33,Sweden,NaN,NaN,503.334006,495.105898,484.798967,493.422356,499.444690,493.549319
34,Switzerland,NaN,NaN,511.523909,516.567510,515.297524,505.505816,495.276288,502.523242
35,Türkiye,NaN,NaN,423.832745,453.909718,463.412910,425.489509,468.299618,475.937802
36,United Kingdom,NaN,NaN,514.773548,513.710240,514.129322,509.221503,504.667474,499.670214
37,United States,NaN,NaN,488.906837,502.002265,497.409812,496.242434,502.380032,499.414064

In [30]:
reading_rank = pd.DataFrame()
reading_rank['Countries'] = reading_avg_dtw['Countries']
reading_rank['2000'] = reading_avg_dtw['2000'].rank(ascending=False)
reading_rank['2003'] = reading_avg_dtw['2003'].rank(ascending=False)
reading_rank['2006'] = reading_avg_dtw['2006'].rank(ascending=False)
reading_rank['2009'] = reading_avg_dtw['2009'].rank(ascending=False)
reading_rank['2012'] = reading_avg_dtw['2012'].rank(ascending=False)
reading_rank['2015'] = reading_avg_dtw['2015'].rank(ascending=False)
reading_rank['2018'] = reading_avg_dtw['2018'].rank(ascending=False)
reading_rank['2022'] = reading_avg_dtw['2022'].rank(ascending=False)
reading_rank

          Countries  2000  2003  2006  2009  2012  2015  2018  2022
0         Australia   4.0   4.0   6.0   6.0   9.0  13.0  12.0   8.0
1           Austria  18.0  20.0  18.0  32.0  21.0  25.0  22.0  17.0
2           Belgium  10.0  10.0  10.0   8.0  12.0  17.0  17.0  19.0
3            Canada   2.0   3.0   3.0   3.0   5.0   1.0   2.0   5.0
4             Chile  30.0   NaN  33.0  35.0  35.0  33.0  34.0  31.0
5          Colombia   NaN   NaN  36.0  37.0  38.0  37.0  37.0  37.0
6        Costa Rica   NaN   NaN   NaN   NaN  36.0  36.0  35.0  36.0
7    Czech Republic  19.0  22.0  22.0  28.0  19.0  24.0  20.0  13.0
8           Denmark  15.0  17.0  16.0  19.0  18.0  15.0  13.0  11.0
9           Estonia   NaN   NaN  11.0  10.0   7.0   4.0   1.0   4.0
10          Finland   1.0   1.0   2.0   2.0   3.0   2.0   3.0  10.0
11           France  13.0  15.0  19.0  18.0  14.0  16.0  18.0  24.0
12          Germany  21.0  19.0  15.0  16.0  13.0   9.0  15.0  18.0
13           Greece  24.0  28.0  31.0  26.0  32.0  32.0  33.0  33.0
14          Hungary  22.0  23.0  23.0  21.0  23.0  31.0  26.0  26.0
15          Iceland  11.0  18.0  20.0  13.0  29.0  27.0  28.0  34.0
16          Ireland   5.0   6.0   5.0  17.0   4.0   3.0   4.0   1.0
17           Israel  27.0   NaN  34.0  30.0  27.0  29.0  29.0  25.0
18            Italy  20.0  27.0  28.0  23.0  20.0  26.0  25.0  16.0
19            Japan   8.0  13.0  13.0   5.0   1.0   6.0  11.0   2.0
20            Korea   6.0   2.0   1.0   1.0   2.0   5.0   5.0   3.0
21           Latvia  26.0  21.0  24.0  24.0  22.0  23.0  24.0  22.0
22        Lithuania   NaN   NaN  27.0  33.0  31.0  30.0  27.0  27.0
23       Luxembourg  28.0  25.0  25.0  31.0  25.0  28.0  30.0   NaN
24           Mexico  29.0  31.0  35.0  36.0  37.0  38.0  36.0  35.0
25      Netherlands   NaN   8.0   9.0   7.0  10.0  12.0  21.0  29.0
26      New Zealand   3.0   5.0   4.0   4.0   8.0   8.0   8.0   7.0
27           Norway  12.0  11.0  21.0   9.0  15.0   7.0  14.0  21.0
28           Poland  23.0  14.0   7.0  12.0   6.0  10.0   6.0  12.0
29         Portugal  25.0  26.0  26.0  22.0  26.0  18.0  19.0  20.0
30  Slovak Republic   NaN  29.0  29.0  29.0  34.0  34.0  32.0  32.0
31         Slovenia   NaN   NaN  17.0  25.0  30.0  11.0  16.0  28.0
32            Spain  17.0  24.0  30.0  27.0  24.0  21.0   NaN  23.0
33           Sweden   9.0   7.0   8.0  15.0  28.0  14.0   7.0  14.0
34      Switzerland  16.0  12.0  12.0  11.0  11.0  22.0  23.0  15.0
35          Türkiye   NaN  30.0  32.0  34.0  33.0  35.0  31.0  30.0
36   United Kingdom   7.0   9.0  14.0  20.0  16.0  19.0  10.0   9.0
37    United States  14.0  16.0   NaN  14.0  17.0  20.0   9.0   6.0

In [31]:
math_rank = pd.DataFrame()
math_rank['Countries'] = math_avg_dtw['Countries']
math_rank['2000'] = math_avg_dtw['2000'].rank(ascending=False)
math_rank['2003'] = math_avg_dtw['2003'].rank(ascending=False)
math_rank['2006'] = math_avg_dtw['2006'].rank(ascending=False)
math_rank['2009'] = math_avg_dtw['2009'].rank(ascending=False)
math_rank['2012'] = math_avg_dtw['2012'].rank(ascending=False)
math_rank['2015'] = math_avg_dtw['2015'].rank(ascending=False)
math_rank['2018'] = math_avg_dtw['2018'].rank(ascending=False)
math_rank['2022'] = math_avg_dtw['2022'].rank(ascending=False)
math_rank

          Countries  2000  2003  2006  2009  2012  2015  2018  2022
0         Australia   NaN   8.0   9.0   9.0  12.0  18.0  24.0  13.0
1           Austria   NaN  16.0  14.0  18.0  11.0  15.0  18.0  12.0
2           Belgium   NaN   6.0   8.0   8.0   9.0  10.0  10.0   8.0
3            Canada   NaN   5.0   5.0   5.0   7.0   5.0   7.0   5.0
4             Chile   NaN   NaN  35.0  35.0  35.0  34.0  35.0  34.0
5          Colombia   NaN   NaN  37.0  37.0  38.0  38.0  38.0  37.0
6        Costa Rica   NaN   NaN   NaN   NaN  37.0  37.0  37.0  36.0
7    Czech Republic   NaN  10.0  12.0  21.0  17.0  21.0  17.0  14.0
8           Denmark   NaN  12.0  11.0  13.0  15.0   7.0   8.0   9.0
9           Estonia   NaN   NaN  10.0  11.0   5.0   4.0   3.0   3.0
10          Finland   NaN   1.0   1.0   2.0   6.0   8.0  11.0  16.0
11           France   NaN  13.0  19.0  16.0  18.0  19.0  20.0  22.0
12          Germany   NaN  17.0  16.0  10.0  10.0  11.0  15.0  21.0
13           Greece   NaN  29.0  32.0  32.0  33.0  33.0  34.0  33.0
14          Hungary   NaN  23.0  23.0  23.0  31.0  29.0  30.0  24.0
15          Iceland   NaN  11.0  13.0  12.0  20.0  24.0  21.0  30.0
16          Ireland   NaN  18.0  18.0  26.0  13.0  13.0  16.0   7.0
17           Israel   NaN   NaN  33.0  33.0  32.0  31.0  32.0  31.0
18            Italy   NaN  28.0  31.0  29.0  25.0  23.0  25.0  26.0
19            Japan   NaN   4.0   6.0   4.0   2.0   1.0   1.0   1.0
20            Korea   NaN   2.0   2.0   1.0   1.0   2.0   2.0   2.0
21           Latvia   NaN  25.0  27.0  30.0  21.0  27.0  19.0  17.0
22        Lithuania   NaN   NaN  26.0  31.0  29.0  28.0  29.0  20.0
23       Luxembourg   NaN  21.0  24.0  24.0  22.0  26.0  27.0   NaN
24           Mexico   NaN  31.0  36.0  36.0  36.0  36.0  36.0  35.0
25      Netherlands   NaN   3.0   3.0   6.0   4.0   6.0   4.0   6.0
26      New Zealand   NaN   9.0   7.0   7.0  16.0  16.0  22.0  19.0
27           Norway   NaN  20.0  25.0  15.0  23.0  14.0  14.0  27.0
28           Poland   NaN  22.0  21.0  19.0   8.0  12.0   5.0  11.0
29         Portugal   NaN  27.0  30.0  27.0  24.0  22.0  23.0  25.0
30  Slovak Republic   NaN  19.0  22.0  17.0  27.0  30.0  26.0  29.0
31         Slovenia   NaN   NaN  15.0  14.0  14.0   9.0   9.0  15.0
32            Spain   NaN  24.0  28.0  28.0  26.0  25.0  28.0  23.0
33           Sweden   NaN  14.0  17.0  20.0  30.0  17.0  12.0  18.0
34      Switzerland   NaN   7.0   4.0   3.0   3.0   3.0   6.0   4.0
35          Türkiye   NaN  30.0  34.0  34.0  34.0  35.0  33.0  32.0
36   United Kingdom   NaN  15.0  20.0  22.0  19.0  20.0  13.0  10.0
37    United States   NaN  26.0  29.0  25.0  28.0  32.0  31.0  28.0

In [32]:
sci_rank = pd.DataFrame()
sci_rank['Countries'] = sci_avg_dtw['Countries']
sci_rank['2000'] = sci_avg_dtw['2000'].rank(ascending=False)
sci_rank['2003'] = sci_avg_dtw['2003'].rank(ascending=False)
sci_rank['2006'] = sci_avg_dtw['2006'].rank(ascending=False)
sci_rank['2009'] = sci_avg_dtw['2009'].rank(ascending=False)
sci_rank['2012'] = sci_avg_dtw['2012'].rank(ascending=False)
sci_rank['2015'] = sci_avg_dtw['2015'].rank(ascending=False)
sci_rank['2018'] = sci_avg_dtw['2018'].rank(ascending=False)
sci_rank['2022'] = sci_avg_dtw['2022'].rank(ascending=False)
sci_rank

          Countries  2000  2003  2006  2009  2012  2015  2018  2022
0         Australia   NaN   NaN   6.0   7.0  10.0   8.0  12.0   6.0
1           Austria   NaN   NaN  14.0  24.0  16.0  20.0  23.0  19.0
2           Belgium   NaN   NaN  15.0  15.0  17.0  14.0  15.0  20.0
3            Canada   NaN   NaN   2.0   5.0   6.0   4.0   5.0   4.0
4             Chile   NaN   NaN  34.0  35.0  35.0  34.0  35.0  33.0
5          Colombia   NaN   NaN  37.0  37.0  38.0  37.0  38.0  35.0
6        Costa Rica   NaN   NaN   NaN   NaN  36.0  36.0  37.0  36.0
7    Czech Republic   NaN   NaN  12.0  18.0  15.0  23.0  16.0  14.0
8           Denmark   NaN   NaN  20.0  20.0  20.0  15.0  20.0  16.0
9           Estonia   NaN   NaN   3.0   6.0   3.0   2.0   1.0   3.0
10          Finland   NaN   NaN   1.0   1.0   2.0   3.0   3.0   5.0
11           France   NaN   NaN  21.0  21.0  19.0  21.0  19.0  22.0
12          Germany   NaN   NaN  10.0   9.0   7.0  10.0  11.0  18.0
13           Greece   NaN   NaN  32.0  32.0  33.0  33.0  34.0  34.0
14          Hungary   NaN   NaN  17.0  16.0  25.0  28.0  27.0  23.0
15          Iceland   NaN   NaN  22.0  22.0  30.0  30.0  29.0  32.0
16          Ireland   NaN   NaN  16.0  14.0   9.0  13.0  17.0   8.0
17           Israel   NaN   NaN  33.0  33.0  32.0  31.0  33.0  30.0
18            Italy   NaN   NaN  30.0  29.0  26.0  27.0  31.0  28.0
19            Japan   NaN   NaN   4.0   2.0   1.0   1.0   2.0   1.0
20            Korea   NaN   NaN   8.0   3.0   4.0   5.0   4.0   2.0
21           Latvia   NaN   NaN  23.0  25.0  18.0  25.0  24.0  15.0
22        Lithuania   NaN   NaN  27.0  27.0  23.0  29.0  26.0  25.0
23       Luxembourg   NaN   NaN  29.0  31.0  27.0  26.0  28.0   NaN
24           Mexico   NaN   NaN  36.0  36.0  37.0  38.0  36.0  37.0
25      Netherlands   NaN   NaN   7.0   8.0   8.0  11.0  10.0  21.0
26      New Zealand   NaN   NaN   5.0   4.0  11.0   6.0   7.0   7.0
27           Norway   NaN   NaN  28.0  19.0  24.0  18.0  22.0  27.0
28           Poland   NaN   NaN  19.0  13.0   5.0  16.0   6.0  13.0
29         Portugal   NaN   NaN  31.0  26.0  28.0  17.0  21.0  26.0
30  Slovak Republic   NaN   NaN  25.0  28.0  31.0  32.0  32.0  31.0
31         Slovenia   NaN   NaN   9.0  12.0  13.0   7.0   8.0  10.0
32            Spain   NaN   NaN  26.0  30.0  22.0  24.0  25.0  24.0
33           Sweden   NaN   NaN  18.0  23.0  29.0  22.0  14.0  17.0
34      Switzerland   NaN   NaN  13.0  10.0  12.0  12.0  18.0   9.0
35          Türkiye   NaN   NaN  35.0  34.0  34.0  35.0  30.0  29.0
36   United Kingdom   NaN   NaN  11.0  11.0  14.0   9.0   9.0  11.0
37    United States   NaN   NaN  24.0  17.0  21.0  19.0  13.0  12.0

In [33]:
import openpyxl

In [34]:
reading_avg_dtw.to_excel('../../data/oecd/oecd_2022_clean.xlsx', sheet_name='Reading')
reading_rank.to_excel('../../data/oecd/oecd_rank_2022.xlsx', sheet_name='Reading')

In [35]:
from openpyxl import load_workbook

ExcelWorkbook = load_workbook('../../data/oecd/oecd_2022_clean.xlsx')

writer = pd.ExcelWriter('../../data/oecd/oecd_2022_clean.xlsx', engine = 'openpyxl')

writer.book = ExcelWorkbook

math_avg_dtw.to_excel(writer, sheet_name = 'Math')
sci_avg_dtw.to_excel(writer, sheet_name = 'Science')
writer.save()
writer.close()

In [36]:
ExcelWorkbook = load_workbook('../../data/oecd/oecd_rank_2022.xlsx')

writer = pd.ExcelWriter('../../data/oecd/oecd_rank_2022.xlsx', engine = 'openpyxl')

writer.book = ExcelWorkbook

math_rank.to_excel(writer, sheet_name = 'Math')
sci_rank.to_excel(writer, sheet_name = 'Science')
writer.save()
writer.close()