In [1]:
import pandas as pd
import numpy as np

In [12]:
math2000 = pd.read_excel("../data/2000/math2000.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2000

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,2000,International Average (OECD),—,†
1,NaN,NaN,Australia,—,†
2,NaN,NaN,Austria,—,†
3,NaN,NaN,Belgium,—,†
4,NaN,NaN,Canada,—,†
5,NaN,NaN,Chile,—,†
6,NaN,NaN,Colombia,—,†
7,NaN,NaN,Czech Republic,—,†
8,NaN,NaN,Denmark,—,†
9,NaN,NaN,Estonia,—,†
10,NaN,NaN,Finland,—,†
11,NaN,NaN,France,—,†
12,NaN,NaN,Germany,—,†
13,NaN,NaN,Greece,—,†
14,NaN,NaN,Hungary,—,†
15,NaN,NaN,Iceland,—,†
16,NaN,NaN,Ireland,—,†
17,NaN,NaN,Israel,—,†
18,NaN,NaN,Italy,—,†
19,NaN,NaN,Japan,—,†
20,NaN,NaN,Korea,—,†
21,NaN,NaN,Latvia,—,†
22,NaN,NaN,Lithuania,—,†
23,NaN,NaN,Luxembourg,—,†
24,NaN,NaN,Mexico,—,†
25,NaN,NaN,Netherlands,—,†
26,NaN,NaN,New Zealand,—,†
27,NaN,NaN,Norway,—,†
28,NaN,NaN,Poland,—,†
29,NaN,NaN,Portugal,—,†
30,NaN,NaN,Slovak Republic,—,†
31,NaN,NaN,Slovenia,—,†
32,NaN,NaN,Spain,—,†
33,NaN,NaN,Sweden,—,†
34,NaN,NaN,Switzerland,—,†
35,NaN,NaN,Turkey,—,†
36,NaN,NaN,United Kingdom,—,†
37,NaN,NaN,United States,—,†
38,NaN,NaN,NaN,NaN,NaN
39,NaN,— Not available.,NaN,NaN,NaN

In [13]:
math2000.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2000.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2000', 'Unnamed: 4': 'se_2000'}, axis=1, inplace=True)
math2000 = math2000.drop(index=[38,39])
math2000

                       Countries avg_2000 se_2000
0   International Average (OECD)        —       †
1                      Australia        —       †
2                        Austria        —       †
3                        Belgium        —       †
4                         Canada        —       †
5                          Chile        —       †
6                       Colombia        —       †
7                 Czech Republic        —       †
8                        Denmark        —       †
9                        Estonia        —       †
10                       Finland        —       †
11                        France        —       †
12                       Germany        —       †
13                        Greece        —       †
14                       Hungary        —       †
15                       Iceland        —       †
16                       Ireland        —       †
17                        Israel        —       †
18                         Italy        —       †
19                         Japan        —       †
20                         Korea        —       †
21                        Latvia        —       †
22                     Lithuania        —       †
23                    Luxembourg        —       †
24                        Mexico        —       †
25                   Netherlands        —       †
26                   New Zealand        —       †
27                        Norway        —       †
28                        Poland        —       †
29                      Portugal        —       †
30               Slovak Republic        —       †
31                      Slovenia        —       †
32                         Spain        —       †
33                        Sweden        —       †
34                   Switzerland        —       †
35                        Turkey        —       †
36                United Kingdom        —       †
37                 United States        —       †

In [14]:
math2003 = pd.read_excel("../data/2003/math2003.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2003.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2003.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2003', 'Unnamed: 4': 'se_2003'}, axis=1, inplace=True)
math2003 = math2003.drop(index=[38,39])
math2003

                       Countries    avg_2003   se_2003
0   International Average (OECD)  499.463525  0.552362
1                      Australia  524.266004  2.148447
2                        Austria  505.610984  3.266191
3                        Belgium  529.286415  2.286061
4                         Canada  532.486736  1.817917
5                          Chile           —         †
6                       Colombia           —         †
7                 Czech Republic  516.455001  3.545588
8                        Denmark  514.287675  2.743728
9                        Estonia           —         †
10                       Finland  544.289187  1.866273
11                        France  510.799473  2.503496
12                       Germany  502.985533  3.317209
13                        Greece  444.911863  3.900775
14                       Hungary  490.012392  2.837591
15                       Iceland   515.10865  1.423421
16                       Ireland   502.83732  2.448121
17                        Israel           —         †
18                         Italy   465.66421  3.075031
19                         Japan  534.136502  4.015724
20                         Korea   542.22737  3.238246
21                        Latvia  483.374949  3.687353
22                     Lithuania           —         †
23                    Luxembourg  493.208557  0.971641
24                        Mexico  385.218339  3.643326
25                   Netherlands  537.823276  3.130174
26                   New Zealand  523.486585  2.256883
27                        Norway   495.18539  2.376441
28                        Poland  490.238776  2.504114
29                      Portugal  466.016695  3.404636
30               Slovak Republic  498.183456  3.347527
31                      Slovenia           —         †
32                         Spain  485.108056  2.409297
33                        Sweden  509.046449  2.558786
34                   Switzerland  526.553148  3.383037
35                        Turkey   423.41941  6.736231
36                United Kingdom  508.258082  2.426686
37                 United States  482.882789  2.948952

In [15]:
math2006 = pd.read_excel("../data/2006/math2006.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2006.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2006.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2006', 'Unnamed: 4': 'se_2006'}, axis=1, inplace=True)
math2006 = math2006.drop(index=[38,39])
math2006

                       Countries    avg_2006   se_2006
0   International Average (OECD)  490.407608  0.497568
1                      Australia  519.907749  2.240618
2                        Austria  505.483598  3.737765
3                        Belgium  520.348973  2.954633
4                         Canada  527.007179  1.966896
5                          Chile  411.350339  4.581360
6                       Colombia  369.978514  3.783369
7                 Czech Republic  509.859359  3.551094
8                        Denmark  513.025950  2.616959
9                        Estonia  514.575462  2.745226
10                       Finland  548.358395  2.295555
11                        France  495.538333  3.170834
12                       Germany  503.790858  3.868244
13                        Greece  459.201987  2.968196
14                       Hungary  490.937383  2.885215
15                       Iceland  505.544828  1.806656
16                       Ireland  501.471771  2.785221
17                        Israel  441.858728  4.345732
18                         Italy  461.688721  2.282458
19                         Japan  523.102515  3.341509
20                         Korea  547.458479  3.761154
21                        Latvia  486.166083  3.027108
22                     Lithuania  486.421335  2.925270
23                    Luxembourg  490.001840  1.065574
24                        Mexico  405.654640  2.926041
25                   Netherlands  530.654046  2.585670
26                   New Zealand  521.988849  2.389559
27                        Norway  489.846353  2.640756
28                        Poland  495.428497  2.441732
29                      Portugal  466.160986  3.068536
30               Slovak Republic  492.106238  2.823507
31                      Slovenia  504.455964  1.042794
32                         Spain  479.957507  2.334433
33                        Sweden  502.356398  2.407671
34                   Switzerland  529.656147  3.153445
35                        Turkey  423.941190  4.901046
36                United Kingdom  495.444158  2.142734
37                 United States  474.352158  4.020512

In [16]:
math2009 = pd.read_excel("../data/2009/math2009.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2009.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2009.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2009', 'Unnamed: 4': 'se_2009'}, axis=1, inplace=True)
math2009 = math2009.drop(index=[38,39])
math2009

                       Countries    avg_2009   se_2009
0   International Average (OECD)  491.718580  0.472636
1                      Australia  514.340462  2.528262
2                        Austria  495.908655  2.657693
3                        Belgium  515.272277  2.254316
4                         Canada  526.805153  1.613570
5                          Chile  421.060473  3.059392
6                       Colombia  380.848215  3.240893
7                 Czech Republic  492.814094  2.830126
8                        Denmark  503.278147  2.602720
9                        Estonia  512.104197  2.565601
10                       Finland  540.504348  2.166539
11                        France  496.782310  3.093571
12                       Germany  512.777643  2.863064
13                        Greece  466.096373  3.879698
14                       Hungary  490.170028  3.451042
15                       Iceland  506.669164  1.389789
16                       Ireland  487.136375  2.544066
17                        Israel  446.863764  3.278216
18                         Italy  482.908480  1.855858
19                         Japan  528.993093  3.328205
20                         Korea  546.228534  4.015360
21                        Latvia  481.953822  3.067149
22                     Lithuania  476.602303  2.616653
23                    Luxembourg  489.067263  1.179351
24                        Mexico  418.509095  1.825909
25                   Netherlands  525.835688  4.745358
26                   New Zealand  519.300872  2.311987
27                        Norway  497.955693  2.397252
28                        Poland  494.802918  2.838240
29                      Portugal  486.888306  2.914903
30               Slovak Republic  496.683420  3.082462
31                      Slovenia  501.472389  1.225067
32                         Spain  483.493140  2.108512
33                        Sweden  494.238175  2.898874
34                   Switzerland  533.960645  3.297682
35                        Turkey  445.451340  4.441255
36                United Kingdom  492.414078  2.420443
37                 United States  487.396521  3.574074

In [17]:
math2012 = pd.read_excel("../data/2012/math2012.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2012.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2012.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2012', 'Unnamed: 4': 'se_2012'}, axis=1, inplace=True)
math2012 = math2012.drop(index=[38,39])
math2012

                       Countries    avg_2012   se_2012
0   International Average (OECD)  490.357783  0.470671
1                      Australia  504.150766  1.643078
2                        Austria  505.540743  2.668064
3                        Belgium  514.529245  2.144891
4                         Canada  518.070400  1.841355
5                          Chile  422.632356  3.067258
6                       Colombia  376.488601  2.886744
7                 Czech Republic  498.957882  2.852470
8                        Denmark  500.026757  2.294648
9                        Estonia  520.545522  2.021166
10                       Finland  518.750335  1.940750
11                        France  494.984674  2.454806
12                       Germany  513.525056  2.876525
13                        Greece  452.973427  2.502051
14                       Hungary  477.044455  3.192857
15                       Iceland  492.795698  1.702383
16                       Ireland  501.497460  2.247598
17                        Israel  466.481430  4.682108
18                         Italy  485.321181  2.025222
19                         Japan  536.406919  3.587147
20                         Korea  553.766659  4.579161
21                        Latvia  490.571022  2.752232
22                     Lithuania  478.823277  2.640951
23                    Luxembourg  489.845098  1.094547
24                        Mexico  413.281467  1.352811
25                   Netherlands  522.971758  3.471983
26                   New Zealand  499.749903  2.205382
27                        Norway  489.373070  2.733848
28                        Poland  517.501097  3.617317
29                      Portugal  487.063181  3.812485
30               Slovak Republic  481.644744  3.426060
31                      Slovenia  501.127423  1.232965
32                         Spain  484.319298  1.896055
33                        Sweden  478.260636  2.255462
34                   Switzerland  530.931004  3.040559
35                        Turkey  447.984415  4.829657
36                United Kingdom  493.934231  3.296485
37                 United States  481.366786  3.597093

In [18]:
math2015 = pd.read_excel("../data/2015/math2015.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2015.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2015.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2015', 'Unnamed: 4': 'se_2015'}, axis=1, inplace=True)
math2015 = math2015.drop(index=[38,39])
math2015

                       Countries    avg_2015   se_2015
0   International Average (OECD)  487.166587  0.424213
1                      Australia  493.896231  1.605352
2                        Austria  496.742274  2.860861
3                        Belgium  506.984362  2.350343
4                         Canada  515.647428  2.313085
5                          Chile  422.671358  2.539463
6                       Colombia  389.643828  2.286127
7                 Czech Republic  492.325438  2.396055
8                        Denmark  511.087632  2.174178
9                        Estonia  519.529132  2.042554
10                       Finland  511.076853  2.309252
11                        France  492.920402  2.098858
12                       Germany  505.971282  2.887887
13                        Greece  453.629851  3.753586
14                       Hungary  476.830881  2.526961
15                       Iceland  488.033184  1.988679
16                       Ireland  503.721997  2.053137
17                        Israel  469.669454  3.629201
18                         Italy  489.728731  2.845415
19                         Japan  532.439872  3.000015
20                         Korea  524.106216  3.712334
21                        Latvia  482.305072  1.868743
22                     Lithuania  478.383382  2.329290
23                    Luxembourg  485.770628  1.267809
24                        Mexico  408.023478  2.240859
25                   Netherlands  512.252790  2.211587
26                   New Zealand  495.223256  2.265379
27                        Norway  501.729815  2.231637
28                        Poland  504.469251  2.389824
29                      Portugal  491.626968  2.490857
30               Slovak Republic  475.230105  2.658402
31                      Slovenia  509.919632  1.256337
32                         Spain  485.843217  2.151228
33                        Sweden  493.918122  3.172340
34                   Switzerland  521.250575  2.920329
35                        Turkey  420.453979  4.128883
36                United Kingdom  492.478531  2.496524
37                 United States  469.628492  3.166395

In [19]:
math2018 = pd.read_excel("../data/2018/math2018.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
math2018.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
math2018.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2018', 'Unnamed: 4': 'se_2018'}, axis=1, inplace=True)
math2018 = math2018.drop(index=[38,39])
math2018

                       Countries    avg_2018   se_2018
0   International Average (OECD)  489.286640  0.398893
1                      Australia  491.360025  1.939833
2                        Austria  498.942314  2.970999
3                        Belgium  508.070306  2.262662
4                         Canada  512.016943  2.357476
5                          Chile  417.406556  2.415888
6                       Colombia  390.932273  2.989559
7                 Czech Republic  499.467651  2.460662
8                        Denmark  509.398375  1.735002
9                        Estonia  523.414580  1.743602
10                       Finland  507.301362  1.967920
11                        France  495.407579  2.320214
12                       Germany  500.043781  2.647083
13                        Greece  451.370344  3.091228
14                       Hungary  481.082636  2.319597
15                       Iceland  495.187376  1.953083
16                       Ireland  499.632894  2.198621
17                        Israel  463.034549  3.498563
18                         Italy  486.589857  2.780046
19                         Japan  526.973250  2.471475
20                         Korea  525.933002  3.121394
21                        Latvia  496.126331  1.962767
22                     Lithuania  481.191188  1.953282
23                    Luxembourg  483.421485  1.097632
24                        Mexico  408.801473  2.493226
25                   Netherlands  519.230982  2.632278
26                   New Zealand  494.489676  1.705943
27                        Norway  500.963788  2.219045
28                        Poland  515.647875  2.602085
29                      Portugal  492.487406  2.684570
30               Slovak Republic  486.164854  2.555596
31                      Slovenia  508.897544  1.363878
32                         Spain  481.392613  1.462418
33                        Sweden  502.387702  2.654251
34                   Switzerland  515.314713  2.908004
35                        Turkey  453.507777  2.260407
36                United Kingdom  501.769899  2.564428
37                 United States  478.244717  3.235444

In [20]:
math = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(math2000,math2003,on='Countries'), math2006, on='Countries'), math2009, on='Countries'), math2012, on='Countries'),math2015, on='Countries'), math2018, on='Countries')
math

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,International Average (OECD),—,†,499.463525,0.552362,490.407608,0.497568,491.718580,0.472636,490.357783,0.470671,487.166587,0.424213,489.286640,0.398893
1,Australia,—,†,524.266004,2.148447,519.907749,2.240618,514.340462,2.528262,504.150766,1.643078,493.896231,1.605352,491.360025,1.939833
2,Austria,—,†,505.610984,3.266191,505.483598,3.737765,495.908655,2.657693,505.540743,2.668064,496.742274,2.860861,498.942314,2.970999
3,Belgium,—,†,529.286415,2.286061,520.348973,2.954633,515.272277,2.254316,514.529245,2.144891,506.984362,2.350343,508.070306,2.262662
4,Canada,—,†,532.486736,1.817917,527.007179,1.966896,526.805153,1.613570,518.070400,1.841355,515.647428,2.313085,512.016943,2.357476
5,Chile,—,†,—,†,411.350339,4.581360,421.060473,3.059392,422.632356,3.067258,422.671358,2.539463,417.406556,2.415888
6,Colombia,—,†,—,†,369.978514,3.783369,380.848215,3.240893,376.488601,2.886744,389.643828,2.286127,390.932273,2.989559
7,Czech Republic,—,†,516.455001,3.545588,509.859359,3.551094,492.814094,2.830126,498.957882,2.852470,492.325438,2.396055,499.467651,2.460662
8,Denmark,—,†,514.287675,2.743728,513.025950,2.616959,503.278147,2.602720,500.026757,2.294648,511.087632,2.174178,509.398375,1.735002
9,Estonia,—,†,—,†,514.575462,2.745226,512.104197,2.565601,520.545522,2.021166,519.529132,2.042554,523.414580,1.743602
10,Finland,—,†,544.289187,1.866273,548.358395,2.295555,540.504348,2.166539,518.750335,1.940750,511.076853,2.309252,507.301362,1.967920
11,France,—,†,510.799473,2.503496,495.538333,3.170834,496.782310,3.093571,494.984674,2.454806,492.920402,2.098858,495.407579,2.320214
12,Germany,—,†,502.985533,3.317209,503.790858,3.868244,512.777643,2.863064,513.525056,2.876525,505.971282,2.887887,500.043781,2.647083
13,Greece,—,†,444.911863,3.900775,459.201987,2.968196,466.096373,3.879698,452.973427,2.502051,453.629851,3.753586,451.370344,3.091228
14,Hungary,—,†,490.012392,2.837591,490.937383,2.885215,490.170028,3.451042,477.044455,3.192857,476.830881,2.526961,481.082636,2.319597
15,Iceland,—,†,515.10865,1.423421,505.544828,1.806656,506.669164,1.389789,492.795698,1.702383,488.033184,1.988679,495.187376,1.953083
16,Ireland,—,†,502.83732,2.448121,501.471771,2.785221,487.136375,2.544066,501.497460,2.247598,503.721997,2.053137,499.632894,2.198621
17,Israel,—,†,—,†,441.858728,4.345732,446.863764,3.278216,466.481430,4.682108,469.669454,3.629201,463.034549,3.498563
18,Italy,—,†,465.66421,3.075031,461.688721,2.282458,482.908480,1.855858,485.321181,2.025222,489.728731,2.845415,486.589857,2.780046
19,Japan,—,†,534.136502,4.015724,523.102515,3.341509,528.993093,3.328205,536.406919,3.587147,532.439872,3.000015,526.973250,2.471475
20,Korea,—,†,542.22737,3.238246,547.458479,3.761154,546.228534,4.015360,553.766659,4.579161,524.106216,3.712334,525.933002,3.121394
21,Latvia,—,†,483.374949,3.687353,486.166083,3.027108,481.953822,3.067149,490.571022,2.752232,482.305072,1.868743,496.126331,1.962767
22,Lithuania,—,†,—,†,486.421335,2.925270,476.602303,2.616653,478.823277,2.640951,478.383382,2.329290,481.191188,1.953282
23,Luxembourg,—,†,493.208557,0.971641,490.001840,1.065574,489.067263,1.179351,489.845098,1.094547,485.770628,1.267809,483.421485,1.097632
24,Mexico,—,†,385.218339,3.643326,405.654640,2.926041,418.509095,1.825909,413.281467,1.352811,408.023478,2.240859,408.801473,2.493226
25,Netherlands,—,†,537.823276,3.130174,530.654046,2.585670,525.835688,4.745358,522.971758,3.471983,512.252790,2.211587,519.230982,2.632278
26,New Zealand,—,†,523.486585,2.256883,521.988849,2.389559,519.300872,2.311987,499.749903,2.205382,495.223256,2.265379,494.489676,1.705943
27,Norway,—,†,495.18539,2.376441,489.846353,2.640756,497.955693,2.397252,489.373070,2.733848,501.729815,2.231637,500.963788,2.219045
28,Poland,—,†,490.238776,2.504114,495.428497,2.441732,494.802918,2.838240,517.501097,3.617317,504.469251,2.389824,515.647875,2.602085
29,Portugal,—,†,466.016695,3.404636,466.160986,3.068536,486.888306,2.914903,487.063181,3.812485,491.626968,2.490857,492.487406,2.684570
30,Slovak Republic,—,†,498.183456,3.347527,492.106238,2.823507,496.683420,3.082462,481.644744,3.426060,475.230105,2.658402,486.164854,2.555596
31,Slovenia,—,†,—,†,504.455964,1.042794,501.472389,1.225067,501.127423,1.232965,509.919632,1.256337,508.897544,1.363878
32,Spain,—,†,485.108056,2.409297,479.957507,2.334433,483.493140,2.108512,484.319298,1.896055,485.843217,2.151228,481.392613,1.462418
33,Sweden,—,†,509.046449,2.558786,502.356398,2.407671,494.238175,2.898874,478.260636,2.255462,493.918122,3.172340,502.387702,2.654251
34,Switzerland,—,†,526.553148,3.383037,529.656147,3.153445,533.960645,3.297682,530.931004,3.040559,521.250575,2.920329,515.314713,2.908004
35,Turkey,—,†,423.41941,6.736231,423.941190,4.901046,445.451340,4.441255,447.984415,4.829657,420.453979,4.128883,453.507777,2.260407
36,United Kingdom,—,†,508.258082,2.426686,495.444158,2.142734,492.414078,2.420443,493.934231,3.296485,492.478531,2.496524,501.769899,2.564428
37,United States,—,†,482.882789,2.948952,474.352158,4.020512,487.396521,3.574074,481.366786,3.597093,469.628492,3.166395,478.244717,3.235444

In [21]:
math = math.replace('—',np.nan,regex = True)
math = math.replace('†',np.nan,regex = True)
math = math.replace('‡',np.nan,regex = True)
math

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,International Average (OECD),NaN,NaN,499.463525,0.552362,490.407608,0.497568,491.718580,0.472636,490.357783,0.470671,487.166587,0.424213,489.286640,0.398893
1,Australia,NaN,NaN,524.266004,2.148447,519.907749,2.240618,514.340462,2.528262,504.150766,1.643078,493.896231,1.605352,491.360025,1.939833
2,Austria,NaN,NaN,505.610984,3.266191,505.483598,3.737765,495.908655,2.657693,505.540743,2.668064,496.742274,2.860861,498.942314,2.970999
3,Belgium,NaN,NaN,529.286415,2.286061,520.348973,2.954633,515.272277,2.254316,514.529245,2.144891,506.984362,2.350343,508.070306,2.262662
4,Canada,NaN,NaN,532.486736,1.817917,527.007179,1.966896,526.805153,1.613570,518.070400,1.841355,515.647428,2.313085,512.016943,2.357476
5,Chile,NaN,NaN,NaN,NaN,411.350339,4.581360,421.060473,3.059392,422.632356,3.067258,422.671358,2.539463,417.406556,2.415888
6,Colombia,NaN,NaN,NaN,NaN,369.978514,3.783369,380.848215,3.240893,376.488601,2.886744,389.643828,2.286127,390.932273,2.989559
7,Czech Republic,NaN,NaN,516.455001,3.545588,509.859359,3.551094,492.814094,2.830126,498.957882,2.852470,492.325438,2.396055,499.467651,2.460662
8,Denmark,NaN,NaN,514.287675,2.743728,513.025950,2.616959,503.278147,2.602720,500.026757,2.294648,511.087632,2.174178,509.398375,1.735002
9,Estonia,NaN,NaN,NaN,NaN,514.575462,2.745226,512.104197,2.565601,520.545522,2.021166,519.529132,2.042554,523.414580,1.743602
10,Finland,NaN,NaN,544.289187,1.866273,548.358395,2.295555,540.504348,2.166539,518.750335,1.940750,511.076853,2.309252,507.301362,1.967920
11,France,NaN,NaN,510.799473,2.503496,495.538333,3.170834,496.782310,3.093571,494.984674,2.454806,492.920402,2.098858,495.407579,2.320214
12,Germany,NaN,NaN,502.985533,3.317209,503.790858,3.868244,512.777643,2.863064,513.525056,2.876525,505.971282,2.887887,500.043781,2.647083
13,Greece,NaN,NaN,444.911863,3.900775,459.201987,2.968196,466.096373,3.879698,452.973427,2.502051,453.629851,3.753586,451.370344,3.091228
14,Hungary,NaN,NaN,490.012392,2.837591,490.937383,2.885215,490.170028,3.451042,477.044455,3.192857,476.830881,2.526961,481.082636,2.319597
15,Iceland,NaN,NaN,515.108650,1.423421,505.544828,1.806656,506.669164,1.389789,492.795698,1.702383,488.033184,1.988679,495.187376,1.953083
16,Ireland,NaN,NaN,502.837320,2.448121,501.471771,2.785221,487.136375,2.544066,501.497460,2.247598,503.721997,2.053137,499.632894,2.198621
17,Israel,NaN,NaN,NaN,NaN,441.858728,4.345732,446.863764,3.278216,466.481430,4.682108,469.669454,3.629201,463.034549,3.498563
18,Italy,NaN,NaN,465.664210,3.075031,461.688721,2.282458,482.908480,1.855858,485.321181,2.025222,489.728731,2.845415,486.589857,2.780046
19,Japan,NaN,NaN,534.136502,4.015724,523.102515,3.341509,528.993093,3.328205,536.406919,3.587147,532.439872,3.000015,526.973250,2.471475
20,Korea,NaN,NaN,542.227370,3.238246,547.458479,3.761154,546.228534,4.015360,553.766659,4.579161,524.106216,3.712334,525.933002,3.121394
21,Latvia,NaN,NaN,483.374949,3.687353,486.166083,3.027108,481.953822,3.067149,490.571022,2.752232,482.305072,1.868743,496.126331,1.962767
22,Lithuania,NaN,NaN,NaN,NaN,486.421335,2.925270,476.602303,2.616653,478.823277,2.640951,478.383382,2.329290,481.191188,1.953282
23,Luxembourg,NaN,NaN,493.208557,0.971641,490.001840,1.065574,489.067263,1.179351,489.845098,1.094547,485.770628,1.267809,483.421485,1.097632
24,Mexico,NaN,NaN,385.218339,3.643326,405.654640,2.926041,418.509095,1.825909,413.281467,1.352811,408.023478,2.240859,408.801473,2.493226
25,Netherlands,NaN,NaN,537.823276,3.130174,530.654046,2.585670,525.835688,4.745358,522.971758,3.471983,512.252790,2.211587,519.230982,2.632278
26,New Zealand,NaN,NaN,523.486585,2.256883,521.988849,2.389559,519.300872,2.311987,499.749903,2.205382,495.223256,2.265379,494.489676,1.705943
27,Norway,NaN,NaN,495.185390,2.376441,489.846353,2.640756,497.955693,2.397252,489.373070,2.733848,501.729815,2.231637,500.963788,2.219045
28,Poland,NaN,NaN,490.238776,2.504114,495.428497,2.441732,494.802918,2.838240,517.501097,3.617317,504.469251,2.389824,515.647875,2.602085
29,Portugal,NaN,NaN,466.016695,3.404636,466.160986,3.068536,486.888306,2.914903,487.063181,3.812485,491.626968,2.490857,492.487406,2.684570
30,Slovak Republic,NaN,NaN,498.183456,3.347527,492.106238,2.823507,496.683420,3.082462,481.644744,3.426060,475.230105,2.658402,486.164854,2.555596
31,Slovenia,NaN,NaN,NaN,NaN,504.455964,1.042794,501.472389,1.225067,501.127423,1.232965,509.919632,1.256337,508.897544,1.363878
32,Spain,NaN,NaN,485.108056,2.409297,479.957507,2.334433,483.493140,2.108512,484.319298,1.896055,485.843217,2.151228,481.392613,1.462418
33,Sweden,NaN,NaN,509.046449,2.558786,502.356398,2.407671,494.238175,2.898874,478.260636,2.255462,493.918122,3.172340,502.387702,2.654251
34,Switzerland,NaN,NaN,526.553148,3.383037,529.656147,3.153445,533.960645,3.297682,530.931004,3.040559,521.250575,2.920329,515.314713,2.908004
35,Turkey,NaN,NaN,423.419410,6.736231,423.941190,4.901046,445.451340,4.441255,447.984415,4.829657,420.453979,4.128883,453.507777,2.260407
36,United Kingdom,NaN,NaN,508.258082,2.426686,495.444158,2.142734,492.414078,2.420443,493.934231,3.296485,492.478531,2.496524,501.769899,2.564428
37,United States,NaN,NaN,482.882789,2.948952,474.352158,4.020512,487.396521,3.574074,481.366786,3.597093,469.628492,3.166395,478.244717,3.235444

In [22]:
math.dtypes

Countries     object
avg_2000     float64
se_2000      float64
avg_2003     float64
se_2003      float64
avg_2006     float64
se_2006      float64
avg_2009     float64
se_2009      float64
avg_2012     float64
se_2012      float64
avg_2015     float64
se_2015      float64
avg_2018     float64
se_2018      float64
dtype: object

In [24]:
math['rank_2000'] = math['avg_2000'].rank(method='max')
math['rank_2003'] = math['avg_2003'].rank(method='max')
math['rank_2006'] = math['avg_2006'].rank(method='max')
math['rank_2009'] = math['avg_2009'].rank(method='max')
math['rank_2012'] = math['avg_2012'].rank(method='max')
math['rank_2015'] = math['avg_2015'].rank(method='max')
math['rank_2018'] = math['avg_2018'].rank(method='max')
math

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,...,se_2015,avg_2018,se_2018,rank_2003,rank_2006,rank_2009,rank_2012,rank_2015,rank_2018,rank_2000
0,International Average (OECD),NaN,NaN,499.463525,0.552362,490.407608,0.497568,491.718580,0.472636,490.357783,...,0.424213,489.286640,0.398893,14.0,15.0,16.0,17.0,14.0,14.0,NaN
1,Australia,NaN,NaN,524.266004,2.148447,519.907749,2.240618,514.340462,2.528262,504.150766,...,1.605352,491.360025,1.939833,25.0,30.0,30.0,27.0,21.0,15.0,NaN
2,Austria,NaN,NaN,505.610984,3.266191,505.483598,3.737765,495.908655,2.657693,505.540743,...,2.860861,498.942314,2.970999,17.0,25.0,21.0,28.0,24.0,21.0,NaN
3,Belgium,NaN,NaN,529.286415,2.286061,520.348973,2.954633,515.272277,2.254316,514.529245,...,2.350343,508.070306,2.262662,27.0,31.0,31.0,30.0,29.0,29.0,NaN
4,Canada,NaN,NaN,532.486736,1.817917,527.007179,1.966896,526.805153,1.613570,518.070400,...,2.313085,512.016943,2.357476,28.0,34.0,34.0,32.0,34.0,32.0,NaN
5,Chile,NaN,NaN,NaN,NaN,411.350339,4.581360,421.060473,3.059392,422.632356,...,2.539463,417.406556,2.415888,NaN,3.0,3.0,3.0,4.0,3.0,NaN
6,Colombia,NaN,NaN,NaN,NaN,369.978514,3.783369,380.848215,3.240893,376.488601,...,2.286127,390.932273,2.989559,NaN,1.0,1.0,1.0,1.0,1.0,NaN
7,Czech Republic,NaN,NaN,516.455001,3.545588,509.859359,3.551094,492.814094,2.830126,498.957882,...,2.396055,499.467651,2.460662,23.0,27.0,18.0,22.0,18.0,22.0,NaN
8,Denmark,NaN,NaN,514.287675,2.743728,513.025950,2.616959,503.278147,2.602720,500.026757,...,2.174178,509.398375,1.735002,21.0,28.0,26.0,24.0,32.0,31.0,NaN
9,Estonia,NaN,NaN,NaN,NaN,514.575462,2.745226,512.104197,2.565601,520.545522,...,2.042554,523.414580,1.743602,NaN,29.0,28.0,34.0,35.0,36.0,NaN
10,Finland,NaN,NaN,544.289187,1.866273,548.358395,2.295555,540.504348,2.166539,518.750335,...,2.309252,507.301362,1.967920,32.0,38.0,37.0,33.0,31.0,28.0,NaN
11,France,NaN,NaN,510.799473,2.503496,495.538333,3.170834,496.782310,3.093571,494.984674,...,2.098858,495.407579,2.320214,20.0,20.0,23.0,21.0,20.0,19.0,NaN
12,Germany,NaN,NaN,502.985533,3.317209,503.790858,3.868244,512.777643,2.863064,513.525056,...,2.887887,500.043781,2.647083,16.0,23.0,29.0,29.0,28.0,24.0,NaN
13,Greece,NaN,NaN,444.911863,3.900775,459.201987,2.968196,466.096373,3.879698,452.973427,...,3.753586,451.370344,3.091228,3.0,6.0,6.0,5.0,5.0,4.0,NaN
14,Hungary,NaN,NaN,490.012392,2.837591,490.937383,2.885215,490.170028,3.451042,477.044455,...,2.526961,481.082636,2.319597,9.0,16.0,15.0,7.0,9.0,8.0,NaN
15,Iceland,NaN,NaN,515.108650,1.423421,505.544828,1.806656,506.669164,1.389789,492.795698,...,1.988679,495.187376,1.953083,22.0,26.0,27.0,19.0,15.0,18.0,NaN
16,Ireland,NaN,NaN,502.837320,2.448121,501.471771,2.785221,487.136375,2.544066,501.497460,...,2.053137,499.632894,2.198621,15.0,21.0,12.0,26.0,26.0,23.0,NaN
17,Israel,NaN,NaN,NaN,NaN,441.858728,4.345732,446.863764,3.278216,466.481430,...,3.629201,463.034549,3.498563,NaN,5.0,5.0,6.0,7.0,6.0,NaN
18,Italy,NaN,NaN,465.664210,3.075031,461.688721,2.282458,482.908480,1.855858,485.321181,...,2.845415,486.589857,2.780046,4.0,7.0,9.0,13.0,16.0,13.0,NaN
19,Japan,NaN,NaN,534.136502,4.015724,523.102515,3.341509,528.993093,3.328205,536.406919,...,3.000015,526.973250,2.471475,29.0,33.0,35.0,37.0,38.0,38.0,NaN
20,Korea,NaN,NaN,542.227370,3.238246,547.458479,3.761154,546.228534,4.015360,553.766659,...,3.712334,525.933002,3.121394,31.0,37.0,38.0,38.0,37.0,37.0,NaN
21,Latvia,NaN,NaN,483.374949,3.687353,486.166083,3.027108,481.953822,3.067149,490.571022,...,1.868743,496.126331,1.962767,7.0,11.0,8.0,18.0,11.0,20.0,NaN
22,Lithuania,NaN,NaN,NaN,NaN,486.421335,2.925270,476.602303,2.616653,478.823277,...,2.329290,481.191188,1.953282,NaN,12.0,7.0,9.0,10.0,9.0,NaN
23,Luxembourg,NaN,NaN,493.208557,0.971641,490.001840,1.065574,489.067263,1.179351,489.845098,...,1.267809,483.421485,1.097632,11.0,14.0,14.0,16.0,12.0,11.0,NaN
24,Mexico,NaN,NaN,385.218339,3.643326,405.654640,2.926041,418.509095,1.825909,413.281467,...,2.240859,408.801473,2.493226,1.0,2.0,2.0,2.0,2.0,2.0,NaN
25,Netherlands,NaN,NaN,537.823276,3.130174,530.654046,2.585670,525.835688,4.745358,522.971758,...,2.211587,519.230982,2.632278,30.0,36.0,33.0,35.0,33.0,35.0,NaN
26,New Zealand,NaN,NaN,523.486585,2.256883,521.988849,2.389559,519.300872,2.311987,499.749903,...,2.265379,494.489676,1.705943,24.0,32.0,32.0,23.0,23.0,17.0,NaN
27,Norway,NaN,NaN,495.185390,2.376441,489.846353,2.640756,497.955693,2.397252,489.373070,...,2.231637,500.963788,2.219045,12.0,13.0,24.0,15.0,25.0,25.0,NaN
28,Poland,NaN,NaN,490.238776,2.504114,495.428497,2.441732,494.802918,2.838240,517.501097,...,2.389824,515.647875,2.602085,10.0,18.0,20.0,31.0,27.0,34.0,NaN
29,Portugal,NaN,NaN,466.016695,3.404636,466.160986,3.068536,486.888306,2.914903,487.063181,...,2.490857,492.487406,2.684570,5.0,8.0,11.0,14.0,17.0,16.0,NaN
30,Slovak Republic,NaN,NaN,498.183456,3.347527,492.106238,2.823507,496.683420,3.082462,481.644744,...,2.658402,486.164854,2.555596,13.0,17.0,22.0,11.0,8.0,12.0,NaN
31,Slovenia,NaN,NaN,NaN,NaN,504.455964,1.042794,501.472389,1.225067,501.127423,...,1.256337,508.897544,1.363878,NaN,24.0,25.0,25.0,30.0,30.0,NaN
32,Spain,NaN,NaN,485.108056,2.409297,479.957507,2.334433,483.493140,2.108512,484.319298,...,2.151228,481.392613,1.462418,8.0,10.0,10.0,12.0,13.0,10.0,NaN
33,Sweden,NaN,NaN,509.046449,2.558786,502.356398,2.407671,494.238175,2.898874,478.260636,...,3.172340,502.387702,2.654251,19.0,22.0,19.0,8.0,22.0,27.0,NaN
34,Switzerland,NaN,NaN,526.553148,3.383037,529.656147,3.153445,533.960645,3.297682,530.931004,...,2.920329,515.314713,2.908004,26.0,35.0,36.0,36.0,36.0,33.0,NaN
35,Turkey,NaN,NaN,423.419410,6.736231,423.941190,4.901046,445.451340,4.441255,447.984415,...,4.128883,453.507777,2.260407,2.0,4.0,4.0,4.0,3.0,5.0,NaN
36,United Kingdom,NaN,NaN,508.258082,2.426686,495.444158,2.142734,492.414078,2.420443,493.934231,...,2.496524,501.769899,2.564428,18.0,19.0,17.0,20.0,19.0,26.0,NaN
37,United States,NaN,NaN,482.882789,2.948952,474.352158,4.020512,487.396521,3.574074,481.366786,...,3.166395,478.244717,3.235444,6.0,9.0,13.0,10.0,6.0,7.0,NaN

In [25]:
math.to_excel('Trends.xlsx', sheet_name='Math')