In [1]:
import pandas as pd
import numpy as np

In [5]:
sci2000 = pd.read_excel("../data/2000/sci2000.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2000.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2000.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2000', 'Unnamed: 4': 'se_2000'}, axis=1, inplace=True)
sci2000 = sci2000.drop(index=[38,39])
sci2000

                       Countries avg_2000 se_2000
0   International Average (OECD)        —       †
1                      Australia        —       †
2                        Austria        —       †
3                        Belgium        —       †
4                         Canada        —       †
5                          Chile        —       †
6                       Colombia        —       †
7                 Czech Republic        —       †
8                        Denmark        —       †
9                        Estonia        —       †
10                       Finland        —       †
11                        France        —       †
12                       Germany        —       †
13                        Greece        —       †
14                       Hungary        —       †
15                       Iceland        —       †
16                       Ireland        —       †
17                        Israel        —       †
18                         Italy        —       †
19                         Japan        —       †
20                         Korea        —       †
21                        Latvia        —       †
22                     Lithuania        —       †
23                    Luxembourg        —       †
24                        Mexico        —       †
25                   Netherlands        —       †
26                   New Zealand        —       †
27                        Norway        —       †
28                        Poland        —       †
29                      Portugal        —       †
30               Slovak Republic        —       †
31                      Slovenia        —       †
32                         Spain        —       †
33                        Sweden        —       †
34                   Switzerland        —       †
35                        Turkey        —       †
36                United Kingdom        —       †
37                 United States        —       †

In [6]:
sci2003 = pd.read_excel("../data/2003/sci2003.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2003.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2003.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2003', 'Unnamed: 4': 'se_2003'}, axis=1, inplace=True)
sci2003 = sci2003.drop(index=[38,39])
sci2003

                       Countries avg_2003 se_2003
0   International Average (OECD)        —       †
1                      Australia        —       †
2                        Austria        —       †
3                        Belgium        —       †
4                         Canada        —       †
5                          Chile        —       †
6                       Colombia        —       †
7                 Czech Republic        —       †
8                        Denmark        —       †
9                        Estonia        —       †
10                       Finland        —       †
11                        France        —       †
12                       Germany        —       †
13                        Greece        —       †
14                       Hungary        —       †
15                       Iceland        —       †
16                       Ireland        —       †
17                        Israel        —       †
18                         Italy        —       †
19                         Japan        —       †
20                         Korea        —       †
21                        Latvia        —       †
22                     Lithuania        —       †
23                    Luxembourg        —       †
24                        Mexico        —       †
25                   Netherlands        —       †
26                   New Zealand        —       †
27                        Norway        —       †
28                        Poland        —       †
29                      Portugal        —       †
30               Slovak Republic        —       †
31                      Slovenia        —       †
32                         Spain        —       †
33                        Sweden        —       †
34                   Switzerland        —       †
35                        Turkey        —       †
36                United Kingdom        —       †
37                 United States        —       †

In [7]:
sci2006 = pd.read_excel("../data/2006/sci2006.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2006.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2006.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2006', 'Unnamed: 4': 'se_2006'}, axis=1, inplace=True)
sci2006 = sci2006.drop(index=[38,39])
sci2006

                       Countries    avg_2006   se_2006
0   International Average (OECD)  494.804917  0.484689
1                      Australia  526.879589  2.260280
2                        Austria  510.837155  3.924941
3                        Belgium  510.363484  2.484698
4                         Canada  534.469777  2.031759
5                          Chile  438.177445  4.317691
6                       Colombia  388.038272  3.374938
7                 Czech Republic  512.860746  3.478430
8                        Denmark  495.894310  3.108693
9                        Estonia  531.391804  2.522965
10                       Finland  563.322835  2.018486
11                        France  495.219839  3.360265
12                       Germany  515.649130  3.795617
13                        Greece  473.377964  3.230921
14                       Hungary  503.931729  2.675972
15                       Iceland  490.793774  1.637478
16                       Ireland  508.328930  3.186063
17                        Israel  453.903708  3.706954
18                         Italy  475.397221  2.019322
19                         Japan  531.388509  3.374334
20                         Korea  522.148141  3.357592
21                        Latvia  489.543778  2.971692
22                     Lithuania  487.956698  2.756917
23                    Luxembourg  486.324363  1.054260
24                        Mexico  409.651952  2.714533
25                   Netherlands  524.861506  2.741643
26                   New Zealand  530.384361  2.692904
27                        Norway  486.527957  3.111378
28                        Poland  497.806502  2.342462
29                      Portugal  474.305889  3.023314
30               Slovak Republic  488.433399  2.585365
31                      Slovenia  518.815610  1.111121
32                         Spain  488.424523  2.565414
33                        Sweden  503.334006  2.374807
34                   Switzerland  511.523909  3.162319
35                        Turkey  423.832745  3.839061
36                United Kingdom  514.773548  2.289011
37                 United States  488.906837  4.224189

In [8]:
sci2009 = pd.read_excel("../data/2009/sci2009.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2009.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2009.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2009', 'Unnamed: 4': 'se_2009'}, axis=1, inplace=True)
sci2009 = sci2009.drop(index=[38,39])
sci2009

                       Countries    avg_2009   se_2009
0   International Average (OECD)  497.722564  0.478332
1                      Australia  527.270534  2.531131
2                        Austria  494.327673  3.242150
3                        Belgium  506.575526  2.522207
4                         Canada  528.704953  1.621340
5                          Chile  447.467360  2.922763
6                       Colombia  401.750115  3.634409
7                 Czech Republic  500.497066  2.974225
8                        Denmark  499.336975  2.482266
9                        Estonia  527.831756  2.668582
10                       Finland  554.079510  2.335801
11                        France  498.226894  3.601372
12                       Germany  520.405350  2.798683
13                        Greece  470.115764  4.038838
14                       Hungary  502.642748  3.142282
15                       Iceland  495.598499  1.411047
16                       Ireland  507.984154  3.267061
17                        Israel  454.850963  3.112451
18                         Italy  488.831363  1.772960
19                         Japan  539.430993  3.412644
20                         Korea  537.986230  3.438713
21                        Latvia  493.878924  3.065201
22                     Lithuania  491.409791  2.929546
23                    Luxembourg  483.928421  1.230944
24                        Mexico  415.908672  1.787947
25                   Netherlands  522.218128  5.418859
26                   New Zealand  532.006901  2.578755
27                        Norway  499.875700  2.600342
28                        Poland  508.068297  2.413254
29                      Portugal  492.949967  2.897723
30               Slovak Republic  490.265922  2.985986
31                      Slovenia  511.759473  1.149193
32                         Spain  488.254630  2.052464
33                        Sweden  495.105898  2.720589
34                   Switzerland  516.567510  2.816659
35                        Turkey  453.909718  3.596687
36                United Kingdom  513.710240  2.518357
37                 United States  502.002265  3.644226

In [9]:
sci2012 = pd.read_excel("../data/2012/sci2012.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2012.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2012.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2012', 'Unnamed: 4': 'se_2012'}, axis=1, inplace=True)
sci2012 = sci2012.drop(index=[38,39])
sci2012

                       Countries    avg_2012   se_2012
0   International Average (OECD)  498.253742  0.470731
1                      Australia  521.494747  1.757625
2                        Austria  505.781248  2.700310
3                        Belgium  504.867654  2.180299
4                         Canada  525.441293  1.930456
5                          Chile  444.933921  2.863276
6                       Colombia  398.678632  3.052803
7                 Czech Republic  508.299081  2.962863
8                        Denmark  498.474203  2.742096
9                        Estonia  541.404758  1.948321
10                       Finland  545.441941  2.198721
11                        France  498.970895  2.578673
12                       Germany  524.120800  2.963274
13                        Greece  466.722030  3.122504
14                       Hungary  494.302352  2.949817
15                       Iceland  478.154597  2.115087
16                       Ireland  522.003960  2.450348
17                        Israel  470.072663  4.957752
18                         Italy  493.541483  1.935524
19                         Japan  546.735601  3.604580
20                         Korea  537.787623  3.657511
21                        Latvia  502.186194  2.752083
22                     Lithuania  495.700088  2.554495
23                    Luxembourg  491.215176  1.304785
24                        Mexico  414.920148  1.305445
25                   Netherlands  522.055823  3.508163
26                   New Zealand  515.636319  2.144424
27                        Norway  494.523935  3.087278
28                        Poland  525.816447  3.123468
29                      Portugal  489.274733  3.746720
30               Slovak Republic  471.193178  3.608221
31                      Slovenia  514.142556  1.286206
32                         Spain  496.445824  1.828575
33                        Sweden  484.798967  3.002190
34                   Switzerland  515.297524  2.713830
35                        Turkey  463.412910  3.894141
36                United Kingdom  514.129322  3.381750
37                 United States  497.409812  3.775886

In [10]:
sci2015 = pd.read_excel("../data/2015/sci2015.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2015.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2015.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2015', 'Unnamed: 4': 'se_2015'}, axis=1, inplace=True)
sci2015 = sci2015.drop(index=[38,39])
sci2015

                       Countries    avg_2015   se_2015
0   International Average (OECD)  490.626964  0.416671
1                      Australia  509.993854  1.535311
2                        Austria  495.037486  2.439345
3                        Belgium  501.999714  2.289589
4                         Canada  527.704684  2.080262
5                          Chile  446.956066  2.379287
6                       Colombia  415.728761  2.361078
7                 Czech Republic  492.830048  2.267697
8                        Denmark  501.936887  2.375478
9                        Estonia  534.193742  2.094807
10                       Finland  530.661159  2.392369
11                        France  494.977600  2.060727
12                       Germany  509.140647  2.698819
13                        Greece  454.828817  3.917317
14                       Hungary  476.747512  2.421464
15                       Iceland  473.230086  1.680925
16                       Ireland  502.575115  2.386027
17                        Israel  466.552812  3.437554
18                         Italy  480.546762  2.515953
19                         Japan  538.394751  2.966179
20                         Korea  515.809912  3.131842
21                        Latvia  490.225018  1.560282
22                     Lithuania  475.408946  2.652676
23                    Luxembourg  482.806384  1.120987
24                        Mexico  415.709883  2.130491
25                   Netherlands  508.574806  2.257396
26                   New Zealand  513.303512  2.384248
27                        Norway  498.481109  2.262386
28                        Poland  501.435332  2.507452
29                      Portugal  501.100062  2.430820
30               Slovak Republic  460.774856  2.593678
31                      Slovenia  512.863579  1.324367
32                         Spain  492.786136  2.065474
33                        Sweden  493.422356  3.600721
34                   Switzerland  505.505816  2.900272
35                        Turkey  425.489509  3.933901
36                United Kingdom  509.221503  2.564396
37                 United States  496.242434  3.181201

In [11]:
sci2018 = pd.read_excel("../data/2018/sci2018.xls",sheet_name='Report 1- Table',skiprows=[1,2,3,4,5,6,7,8,9,10,11,52,53,54,55,56])
sci2018.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
sci2018.rename({'Unnamed: 2': 'Countries', 'Unnamed: 3': 'avg_2018', 'Unnamed: 4': 'se_2018'}, axis=1, inplace=True)
sci2018 = sci2018.drop(index=[38,39])
sci2018

                       Countries    avg_2018   se_2018
0   International Average (OECD)  488.662377  0.402306
1                      Australia  502.964563  1.795398
2                        Austria  489.780439  2.777395
3                        Belgium  498.773127  2.229240
4                         Canada  517.997661  2.153651
5                          Chile  443.582563  2.415280
6                       Colombia  413.322993  3.052402
7                 Czech Republic  496.791311  2.546069
8                        Denmark  492.637033  1.937604
9                        Estonia  530.108005  1.884569
10                       Finland  521.884563  2.509515
11                        France  492.977074  2.223662
12                       Germany  502.988903  2.911501
13                        Greece  451.632742  3.139630
14                       Hungary  480.911694  2.329977
15                       Iceland  475.024106  1.795502
16                       Ireland  496.113562  2.214146
17                        Israel  462.196633  3.618388
18                         Italy  468.011727  2.429562
19                         Japan  529.135433  2.593168
20                         Korea  519.007255  2.802762
21                        Latvia  487.250588  1.762796
22                     Lithuania  482.067013  1.629237
23                    Luxembourg  476.769406  1.220843
24                        Mexico  419.204719  2.584009
25                   Netherlands  503.383819  2.840622
26                   New Zealand  508.490721  2.104634
27                        Norway  490.413149  2.282508
28                        Poland  511.035562  2.607236
29                      Portugal  491.677328  2.773163
30               Slovak Republic  464.047578  2.278188
31                      Slovenia  507.006546  1.250420
32                         Spain  483.252043  1.552853
33                        Sweden  499.444690  3.069711
34                   Switzerland  495.276288  3.004997
35                        Turkey  468.299618  2.013049
36                United Kingdom  504.667474  2.564415
37                 United States  502.380032  3.317920

In [12]:
sci = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(sci2000,sci2003,on='Countries'), sci2006, on='Countries'), sci2009, on='Countries'), sci2012, on='Countries'),sci2015, on='Countries'), sci2018, on='Countries')
sci

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,International Average (OECD),—,†,—,†,494.804917,0.484689,497.722564,0.478332,498.253742,0.470731,490.626964,0.416671,488.662377,0.402306
1,Australia,—,†,—,†,526.879589,2.260280,527.270534,2.531131,521.494747,1.757625,509.993854,1.535311,502.964563,1.795398
2,Austria,—,†,—,†,510.837155,3.924941,494.327673,3.242150,505.781248,2.700310,495.037486,2.439345,489.780439,2.777395
3,Belgium,—,†,—,†,510.363484,2.484698,506.575526,2.522207,504.867654,2.180299,501.999714,2.289589,498.773127,2.229240
4,Canada,—,†,—,†,534.469777,2.031759,528.704953,1.621340,525.441293,1.930456,527.704684,2.080262,517.997661,2.153651
5,Chile,—,†,—,†,438.177445,4.317691,447.467360,2.922763,444.933921,2.863276,446.956066,2.379287,443.582563,2.415280
6,Colombia,—,†,—,†,388.038272,3.374938,401.750115,3.634409,398.678632,3.052803,415.728761,2.361078,413.322993,3.052402
7,Czech Republic,—,†,—,†,512.860746,3.478430,500.497066,2.974225,508.299081,2.962863,492.830048,2.267697,496.791311,2.546069
8,Denmark,—,†,—,†,495.894310,3.108693,499.336975,2.482266,498.474203,2.742096,501.936887,2.375478,492.637033,1.937604
9,Estonia,—,†,—,†,531.391804,2.522965,527.831756,2.668582,541.404758,1.948321,534.193742,2.094807,530.108005,1.884569
10,Finland,—,†,—,†,563.322835,2.018486,554.079510,2.335801,545.441941,2.198721,530.661159,2.392369,521.884563,2.509515
11,France,—,†,—,†,495.219839,3.360265,498.226894,3.601372,498.970895,2.578673,494.977600,2.060727,492.977074,2.223662
12,Germany,—,†,—,†,515.649130,3.795617,520.405350,2.798683,524.120800,2.963274,509.140647,2.698819,502.988903,2.911501
13,Greece,—,†,—,†,473.377964,3.230921,470.115764,4.038838,466.722030,3.122504,454.828817,3.917317,451.632742,3.139630
14,Hungary,—,†,—,†,503.931729,2.675972,502.642748,3.142282,494.302352,2.949817,476.747512,2.421464,480.911694,2.329977
15,Iceland,—,†,—,†,490.793774,1.637478,495.598499,1.411047,478.154597,2.115087,473.230086,1.680925,475.024106,1.795502
16,Ireland,—,†,—,†,508.328930,3.186063,507.984154,3.267061,522.003960,2.450348,502.575115,2.386027,496.113562,2.214146
17,Israel,—,†,—,†,453.903708,3.706954,454.850963,3.112451,470.072663,4.957752,466.552812,3.437554,462.196633,3.618388
18,Italy,—,†,—,†,475.397221,2.019322,488.831363,1.772960,493.541483,1.935524,480.546762,2.515953,468.011727,2.429562
19,Japan,—,†,—,†,531.388509,3.374334,539.430993,3.412644,546.735601,3.604580,538.394751,2.966179,529.135433,2.593168
20,Korea,—,†,—,†,522.148141,3.357592,537.986230,3.438713,537.787623,3.657511,515.809912,3.131842,519.007255,2.802762
21,Latvia,—,†,—,†,489.543778,2.971692,493.878924,3.065201,502.186194,2.752083,490.225018,1.560282,487.250588,1.762796
22,Lithuania,—,†,—,†,487.956698,2.756917,491.409791,2.929546,495.700088,2.554495,475.408946,2.652676,482.067013,1.629237
23,Luxembourg,—,†,—,†,486.324363,1.054260,483.928421,1.230944,491.215176,1.304785,482.806384,1.120987,476.769406,1.220843
24,Mexico,—,†,—,†,409.651952,2.714533,415.908672,1.787947,414.920148,1.305445,415.709883,2.130491,419.204719,2.584009
25,Netherlands,—,†,—,†,524.861506,2.741643,522.218128,5.418859,522.055823,3.508163,508.574806,2.257396,503.383819,2.840622
26,New Zealand,—,†,—,†,530.384361,2.692904,532.006901,2.578755,515.636319,2.144424,513.303512,2.384248,508.490721,2.104634
27,Norway,—,†,—,†,486.527957,3.111378,499.875700,2.600342,494.523935,3.087278,498.481109,2.262386,490.413149,2.282508
28,Poland,—,†,—,†,497.806502,2.342462,508.068297,2.413254,525.816447,3.123468,501.435332,2.507452,511.035562,2.607236
29,Portugal,—,†,—,†,474.305889,3.023314,492.949967,2.897723,489.274733,3.746720,501.100062,2.430820,491.677328,2.773163
30,Slovak Republic,—,†,—,†,488.433399,2.585365,490.265922,2.985986,471.193178,3.608221,460.774856,2.593678,464.047578,2.278188
31,Slovenia,—,†,—,†,518.815610,1.111121,511.759473,1.149193,514.142556,1.286206,512.863579,1.324367,507.006546,1.250420
32,Spain,—,†,—,†,488.424523,2.565414,488.254630,2.052464,496.445824,1.828575,492.786136,2.065474,483.252043,1.552853
33,Sweden,—,†,—,†,503.334006,2.374807,495.105898,2.720589,484.798967,3.002190,493.422356,3.600721,499.444690,3.069711
34,Switzerland,—,†,—,†,511.523909,3.162319,516.567510,2.816659,515.297524,2.713830,505.505816,2.900272,495.276288,3.004997
35,Turkey,—,†,—,†,423.832745,3.839061,453.909718,3.596687,463.412910,3.894141,425.489509,3.933901,468.299618,2.013049
36,United Kingdom,—,†,—,†,514.773548,2.289011,513.710240,2.518357,514.129322,3.381750,509.221503,2.564396,504.667474,2.564415
37,United States,—,†,—,†,488.906837,4.224189,502.002265,3.644226,497.409812,3.775886,496.242434,3.181201,502.380032,3.317920

In [13]:
sci = sci.replace('—',np.nan,regex = True)
sci = sci.replace('†',np.nan,regex = True)
sci = sci.replace('‡',np.nan,regex = True)
sci

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,se_2012,avg_2015,se_2015,avg_2018,se_2018
0,International Average (OECD),NaN,NaN,NaN,NaN,494.804917,0.484689,497.722564,0.478332,498.253742,0.470731,490.626964,0.416671,488.662377,0.402306
1,Australia,NaN,NaN,NaN,NaN,526.879589,2.260280,527.270534,2.531131,521.494747,1.757625,509.993854,1.535311,502.964563,1.795398
2,Austria,NaN,NaN,NaN,NaN,510.837155,3.924941,494.327673,3.242150,505.781248,2.700310,495.037486,2.439345,489.780439,2.777395
3,Belgium,NaN,NaN,NaN,NaN,510.363484,2.484698,506.575526,2.522207,504.867654,2.180299,501.999714,2.289589,498.773127,2.229240
4,Canada,NaN,NaN,NaN,NaN,534.469777,2.031759,528.704953,1.621340,525.441293,1.930456,527.704684,2.080262,517.997661,2.153651
5,Chile,NaN,NaN,NaN,NaN,438.177445,4.317691,447.467360,2.922763,444.933921,2.863276,446.956066,2.379287,443.582563,2.415280
6,Colombia,NaN,NaN,NaN,NaN,388.038272,3.374938,401.750115,3.634409,398.678632,3.052803,415.728761,2.361078,413.322993,3.052402
7,Czech Republic,NaN,NaN,NaN,NaN,512.860746,3.478430,500.497066,2.974225,508.299081,2.962863,492.830048,2.267697,496.791311,2.546069
8,Denmark,NaN,NaN,NaN,NaN,495.894310,3.108693,499.336975,2.482266,498.474203,2.742096,501.936887,2.375478,492.637033,1.937604
9,Estonia,NaN,NaN,NaN,NaN,531.391804,2.522965,527.831756,2.668582,541.404758,1.948321,534.193742,2.094807,530.108005,1.884569
10,Finland,NaN,NaN,NaN,NaN,563.322835,2.018486,554.079510,2.335801,545.441941,2.198721,530.661159,2.392369,521.884563,2.509515
11,France,NaN,NaN,NaN,NaN,495.219839,3.360265,498.226894,3.601372,498.970895,2.578673,494.977600,2.060727,492.977074,2.223662
12,Germany,NaN,NaN,NaN,NaN,515.649130,3.795617,520.405350,2.798683,524.120800,2.963274,509.140647,2.698819,502.988903,2.911501
13,Greece,NaN,NaN,NaN,NaN,473.377964,3.230921,470.115764,4.038838,466.722030,3.122504,454.828817,3.917317,451.632742,3.139630
14,Hungary,NaN,NaN,NaN,NaN,503.931729,2.675972,502.642748,3.142282,494.302352,2.949817,476.747512,2.421464,480.911694,2.329977
15,Iceland,NaN,NaN,NaN,NaN,490.793774,1.637478,495.598499,1.411047,478.154597,2.115087,473.230086,1.680925,475.024106,1.795502
16,Ireland,NaN,NaN,NaN,NaN,508.328930,3.186063,507.984154,3.267061,522.003960,2.450348,502.575115,2.386027,496.113562,2.214146
17,Israel,NaN,NaN,NaN,NaN,453.903708,3.706954,454.850963,3.112451,470.072663,4.957752,466.552812,3.437554,462.196633,3.618388
18,Italy,NaN,NaN,NaN,NaN,475.397221,2.019322,488.831363,1.772960,493.541483,1.935524,480.546762,2.515953,468.011727,2.429562
19,Japan,NaN,NaN,NaN,NaN,531.388509,3.374334,539.430993,3.412644,546.735601,3.604580,538.394751,2.966179,529.135433,2.593168
20,Korea,NaN,NaN,NaN,NaN,522.148141,3.357592,537.986230,3.438713,537.787623,3.657511,515.809912,3.131842,519.007255,2.802762
21,Latvia,NaN,NaN,NaN,NaN,489.543778,2.971692,493.878924,3.065201,502.186194,2.752083,490.225018,1.560282,487.250588,1.762796
22,Lithuania,NaN,NaN,NaN,NaN,487.956698,2.756917,491.409791,2.929546,495.700088,2.554495,475.408946,2.652676,482.067013,1.629237
23,Luxembourg,NaN,NaN,NaN,NaN,486.324363,1.054260,483.928421,1.230944,491.215176,1.304785,482.806384,1.120987,476.769406,1.220843
24,Mexico,NaN,NaN,NaN,NaN,409.651952,2.714533,415.908672,1.787947,414.920148,1.305445,415.709883,2.130491,419.204719,2.584009
25,Netherlands,NaN,NaN,NaN,NaN,524.861506,2.741643,522.218128,5.418859,522.055823,3.508163,508.574806,2.257396,503.383819,2.840622
26,New Zealand,NaN,NaN,NaN,NaN,530.384361,2.692904,532.006901,2.578755,515.636319,2.144424,513.303512,2.384248,508.490721,2.104634
27,Norway,NaN,NaN,NaN,NaN,486.527957,3.111378,499.875700,2.600342,494.523935,3.087278,498.481109,2.262386,490.413149,2.282508
28,Poland,NaN,NaN,NaN,NaN,497.806502,2.342462,508.068297,2.413254,525.816447,3.123468,501.435332,2.507452,511.035562,2.607236
29,Portugal,NaN,NaN,NaN,NaN,474.305889,3.023314,492.949967,2.897723,489.274733,3.746720,501.100062,2.430820,491.677328,2.773163
30,Slovak Republic,NaN,NaN,NaN,NaN,488.433399,2.585365,490.265922,2.985986,471.193178,3.608221,460.774856,2.593678,464.047578,2.278188
31,Slovenia,NaN,NaN,NaN,NaN,518.815610,1.111121,511.759473,1.149193,514.142556,1.286206,512.863579,1.324367,507.006546,1.250420
32,Spain,NaN,NaN,NaN,NaN,488.424523,2.565414,488.254630,2.052464,496.445824,1.828575,492.786136,2.065474,483.252043,1.552853
33,Sweden,NaN,NaN,NaN,NaN,503.334006,2.374807,495.105898,2.720589,484.798967,3.002190,493.422356,3.600721,499.444690,3.069711
34,Switzerland,NaN,NaN,NaN,NaN,511.523909,3.162319,516.567510,2.816659,515.297524,2.713830,505.505816,2.900272,495.276288,3.004997
35,Turkey,NaN,NaN,NaN,NaN,423.832745,3.839061,453.909718,3.596687,463.412910,3.894141,425.489509,3.933901,468.299618,2.013049
36,United Kingdom,NaN,NaN,NaN,NaN,514.773548,2.289011,513.710240,2.518357,514.129322,3.381750,509.221503,2.564396,504.667474,2.564415
37,United States,NaN,NaN,NaN,NaN,488.906837,4.224189,502.002265,3.644226,497.409812,3.775886,496.242434,3.181201,502.380032,3.317920

In [14]:
sci.dtypes

Countries     object
avg_2000     float64
se_2000      float64
avg_2003     float64
se_2003      float64
avg_2006     float64
se_2006      float64
avg_2009     float64
se_2009      float64
avg_2012     float64
se_2012      float64
avg_2015     float64
se_2015      float64
avg_2018     float64
se_2018      float64
dtype: object

In [15]:
sci['rank_2000'] = sci['avg_2000'].rank(method='max')
sci['rank_2003'] = sci['avg_2003'].rank(method='max')
sci['rank_2006'] = sci['avg_2006'].rank(method='max')
sci['rank_2009'] = sci['avg_2009'].rank(method='max')
sci['rank_2012'] = sci['avg_2012'].rank(method='max')
sci['rank_2015'] = sci['avg_2015'].rank(method='max')
sci['rank_2018'] = sci['avg_2018'].rank(method='max')
sci

,Countries,avg_2000,se_2000,avg_2003,se_2003,avg_2006,se_2006,avg_2009,se_2009,avg_2012,...,se_2015,avg_2018,se_2018,rank_2000,rank_2003,rank_2006,rank_2009,rank_2012,rank_2015,rank_2018
0,International Average (OECD),NaN,NaN,NaN,NaN,494.804917,0.484689,497.722564,0.478332,498.253742,...,0.416671,488.662377,0.402306,NaN,NaN,17.0,17.0,18.0,14.0,15.0
1,Australia,NaN,NaN,NaN,NaN,526.879589,2.260280,527.270534,2.531131,521.494747,...,1.535311,502.964563,1.795398,NaN,NaN,33.0,32.0,29.0,31.0,27.0
2,Austria,NaN,NaN,NaN,NaN,510.837155,3.924941,494.327673,3.242150,505.781248,...,2.439345,489.780439,2.777395,NaN,NaN,25.0,14.0,23.0,19.0,16.0
3,Belgium,NaN,NaN,NaN,NaN,510.363484,2.484698,506.575526,2.522207,504.867654,...,2.289589,498.773127,2.229240,NaN,NaN,24.0,24.0,22.0,25.0,24.0
4,Canada,NaN,NaN,NaN,NaN,534.469777,2.031759,528.704953,1.621340,525.441293,...,2.080262,517.997661,2.153651,NaN,NaN,37.0,34.0,33.0,35.0,34.0
5,Chile,NaN,NaN,NaN,NaN,438.177445,4.317691,447.467360,2.922763,444.933921,...,2.379287,443.582563,2.415280,NaN,NaN,4.0,3.0,3.0,4.0,3.0
6,Colombia,NaN,NaN,NaN,NaN,388.038272,3.374938,401.750115,3.634409,398.678632,...,2.361078,413.322993,3.052402,NaN,NaN,1.0,1.0,1.0,2.0,1.0
7,Czech Republic,NaN,NaN,NaN,NaN,512.860746,3.478430,500.497066,2.974225,508.299081,...,2.267697,496.791311,2.546069,NaN,NaN,27.0,21.0,24.0,16.0,23.0
8,Denmark,NaN,NaN,NaN,NaN,495.894310,3.108693,499.336975,2.482266,498.474203,...,2.375478,492.637033,1.937604,NaN,NaN,19.0,19.0,19.0,24.0,19.0
9,Estonia,NaN,NaN,NaN,NaN,531.391804,2.522965,527.831756,2.668582,541.404758,...,2.094807,530.108005,1.884569,NaN,NaN,36.0,33.0,36.0,37.0,38.0
10,Finland,NaN,NaN,NaN,NaN,563.322835,2.018486,554.079510,2.335801,545.441941,...,2.392369,521.884563,2.509515,NaN,NaN,38.0,38.0,37.0,36.0,36.0
11,France,NaN,NaN,NaN,NaN,495.219839,3.360265,498.226894,3.601372,498.970895,...,2.060727,492.977074,2.223662,NaN,NaN,18.0,18.0,20.0,18.0,20.0
12,Germany,NaN,NaN,NaN,NaN,515.649130,3.795617,520.405350,2.798683,524.120800,...,2.698819,502.988903,2.911501,NaN,NaN,29.0,30.0,32.0,29.0,28.0
13,Greece,NaN,NaN,NaN,NaN,473.377964,3.230921,470.115764,4.038838,466.722030,...,3.917317,451.632742,3.139630,NaN,NaN,6.0,6.0,5.0,5.0,4.0
14,Hungary,NaN,NaN,NaN,NaN,503.931729,2.675972,502.642748,3.142282,494.302352,...,2.421464,480.911694,2.329977,NaN,NaN,22.0,23.0,13.0,10.0,11.0
15,Iceland,NaN,NaN,NaN,NaN,490.793774,1.637478,495.598499,1.411047,478.154597,...,1.680925,475.024106,1.795502,NaN,NaN,16.0,16.0,8.0,8.0,9.0
16,Ireland,NaN,NaN,NaN,NaN,508.328930,3.186063,507.984154,3.267061,522.003960,...,2.386027,496.113562,2.214146,NaN,NaN,23.0,25.0,30.0,26.0,22.0
17,Israel,NaN,NaN,NaN,NaN,453.903708,3.706954,454.850963,3.112451,470.072663,...,3.437554,462.196633,3.618388,NaN,NaN,5.0,5.0,6.0,7.0,5.0
18,Italy,NaN,NaN,NaN,NaN,475.397221,2.019322,488.831363,1.772960,493.541483,...,2.515953,468.011727,2.429562,NaN,NaN,8.0,9.0,12.0,11.0,7.0
19,Japan,NaN,NaN,NaN,NaN,531.388509,3.374334,539.430993,3.412644,546.735601,...,2.966179,529.135433,2.593168,NaN,NaN,35.0,37.0,38.0,38.0,37.0
20,Korea,NaN,NaN,NaN,NaN,522.148141,3.357592,537.986230,3.438713,537.787623,...,3.131842,519.007255,2.802762,NaN,NaN,31.0,36.0,35.0,34.0,35.0
21,Latvia,NaN,NaN,NaN,NaN,489.543778,2.971692,493.878924,3.065201,502.186194,...,1.560282,487.250588,1.762796,NaN,NaN,15.0,13.0,21.0,13.0,14.0
22,Lithuania,NaN,NaN,NaN,NaN,487.956698,2.756917,491.409791,2.929546,495.700088,...,2.652676,482.067013,1.629237,NaN,NaN,11.0,11.0,15.0,9.0,12.0
23,Luxembourg,NaN,NaN,NaN,NaN,486.324363,1.054260,483.928421,1.230944,491.215176,...,1.120987,476.769406,1.220843,NaN,NaN,9.0,7.0,11.0,12.0,10.0
24,Mexico,NaN,NaN,NaN,NaN,409.651952,2.714533,415.908672,1.787947,414.920148,...,2.130491,419.204719,2.584009,NaN,NaN,2.0,2.0,2.0,1.0,2.0
25,Netherlands,NaN,NaN,NaN,NaN,524.861506,2.741643,522.218128,5.418859,522.055823,...,2.257396,503.383819,2.840622,NaN,NaN,32.0,31.0,31.0,28.0,29.0
26,New Zealand,NaN,NaN,NaN,NaN,530.384361,2.692904,532.006901,2.578755,515.636319,...,2.384248,508.490721,2.104634,NaN,NaN,34.0,35.0,28.0,33.0,32.0
27,Norway,NaN,NaN,NaN,NaN,486.527957,3.111378,499.875700,2.600342,494.523935,...,2.262386,490.413149,2.282508,NaN,NaN,10.0,20.0,14.0,21.0,17.0
28,Poland,NaN,NaN,NaN,NaN,497.806502,2.342462,508.068297,2.413254,525.816447,...,2.507452,511.035562,2.607236,NaN,NaN,20.0,26.0,34.0,23.0,33.0
29,Portugal,NaN,NaN,NaN,NaN,474.305889,3.023314,492.949967,2.897723,489.274733,...,2.430820,491.677328,2.773163,NaN,NaN,7.0,12.0,10.0,22.0,18.0
30,Slovak Republic,NaN,NaN,NaN,NaN,488.433399,2.585365,490.265922,2.985986,471.193178,...,2.593678,464.047578,2.278188,NaN,NaN,13.0,10.0,7.0,6.0,6.0
31,Slovenia,NaN,NaN,NaN,NaN,518.815610,1.111121,511.759473,1.149193,514.142556,...,1.324367,507.006546,1.250420,NaN,NaN,30.0,27.0,26.0,32.0,31.0
32,Spain,NaN,NaN,NaN,NaN,488.424523,2.565414,488.254630,2.052464,496.445824,...,2.065474,483.252043,1.552853,NaN,NaN,12.0,8.0,16.0,15.0,13.0
33,Sweden,NaN,NaN,NaN,NaN,503.334006,2.374807,495.105898,2.720589,484.798967,...,3.600721,499.444690,3.069711,NaN,NaN,21.0,15.0,9.0,17.0,25.0
34,Switzerland,NaN,NaN,NaN,NaN,511.523909,3.162319,516.567510,2.816659,515.297524,...,2.900272,495.276288,3.004997,NaN,NaN,26.0,29.0,27.0,27.0,21.0
35,Turkey,NaN,NaN,NaN,NaN,423.832745,3.839061,453.909718,3.596687,463.412910,...,3.933901,468.299618,2.013049,NaN,NaN,3.0,4.0,4.0,3.0,8.0
36,United Kingdom,NaN,NaN,NaN,NaN,514.773548,2.289011,513.710240,2.518357,514.129322,...,2.564396,504.667474,2.564415,NaN,NaN,28.0,28.0,25.0,30.0,30.0
37,United States,NaN,NaN,NaN,NaN,488.906837,4.224189,502.002265,3.644226,497.409812,...,3.181201,502.380032,3.317920,NaN,NaN,14.0,22.0,17.0,20.0,26.0

In [16]:
sci.to_excel('Trends.xlsx', sheet_name='Science')